<!doctype html>
<html lang='en-us'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Gao | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  # GAO (flourished 8th&ndash;13th century)
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							*Gao is the greatest of the realms of the Sudan, the most important and most powerful. All other kingdoms obey its king.*<sup><a href="/references/">14</a></sup>

							&mdash;Ahmad al-Ya'qubi, ninth century
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Strategically positioned beside the Niger River and between the Sahara and the fertile West African Savanna, the city of Gao was an important center for trade in the medieval period. The medieval geographer and historian Abu 'Ubayd al-Bakri (d. 1094) observed that Islam was well-established in Kawkaw, the Arabic name for the kingdom of Gao, in the eleventh century: "the town consists of two towns, one being the residence of the king and the other inhabited by the Muslims."<sup><a href="/references/">15</a></sup>
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Excavations at two sites associated with Gao&mdash;Gao-Ancien and Gao Saney&mdash;have been conducted by Timothy Insoll, Mamadou Cissé, and a joint team from the Direction nationale du patrimoine culturel and the Museum of Ethnology in Osaka, Japan, among others.<sup><a href="/references/">16</a></sup>
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							 Gao Ancien was the royal capital and residence; Gao Saney, a predominantly Muslim town, lay five miles east. Several tombstones with Arabic inscriptions have been found in a cemetery on the outskirts of Gao Saney. This pattern of twin communities in capitals of chiefdoms or kingdoms where the king was not Muslim was replicated throughout much of West Africa, especially along routes of the caravan trade.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/cisse-map_800.png 800w, /img/tour/saharan-frontiers/gao/cisse-map_300.png 300w" class="stretch" alt="cisse-map" data-src="/img/tour/saharan-frontiers/gao/cisse-map_800.png">
						<small>Location of Gao Ancien and Gao Saney. Adapted from Cissé 2017<sup><a href="/references/">17</a></sup></small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/looters-pits-at-gao-saney_800.jpg, /img/tour/saharan-frontiers/gao/looters-pits-at-gao-saney_300.jpg" class="stretch" alt="looters-pits-at-gao-saney" src="/img/tour/saharan-frontiers/gao/looters-pits-at-gao-saney_800.jpg">
						<small>Looters' pits at Gao Saney. Photograph by Mamadou Cissé, 2016</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/copper-spoon_800.jpg, /img/tour/saharan-frontiers/gao/copper-spoon_300.jpg" class="stretch" alt="Copper spoon or ladle excavated at Gao Ancien" src="/img/tour/saharan-frontiers/gao/copper-spoon_800.jpg">
						<small>Copper spoon or ladle excavated at Gao Ancien (5.5 x 4.5 x 1.3 cm). Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/iron-scabbard_6 00.jpg, /img/tour/saharan-frontiers/gao/iron-scabbard_300.jpg" class="stretch" alt="Fragment of an iron scabbard with copper embellishment" src="/img/tour/saharan-frontiers/gao/iron-scabbard_600.jpg">
						<small>Fragment of an iron scabbard with copper embellishment excavated at Gao Ancien (15 x 5 x 0.5 cm), Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/hardstone-beads_600.jpg, /img/tour/saharan-frontiers/gao/hardstone-beads_300.jpg" class="stretch" alt="Hardstone beads from Gao Ancien and fragments of glass excavated at Gao Saney" src="/img/tour/saharan-frontiers/gao/hardstone-beads_600.jpg">
						<small>Hardstone beads from Gao Ancien and fragments of glass excavated at Gao Saney (various dimensions). Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/fragments-of-glass_600.jpg, /img/tour/saharan-frontiers/gao/fragments-of-glass_300.jpg" class="stretch" alt="Fragments of glass (various dimensions)" src="/img/tour/saharan-frontiers/gao/fragments-of-glass_600.jpg">
						<small>Fragments of glass excavated at Gao Saney (various dimensions). Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section>
						<img class="stretch" alt="Crucible" src="/img/works/12/12_640x.jpg">
						<small>Crucible, excavated at Gao Saney, Mali, 8th/10th century. Terracotta, maximum width 4.8 cm. Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							This small crucible recovered from the site of Gao Saney was used in glass bead making. Glass beads, which were produced at many locales and exchanged across vast distances, provide a microcosm for considering the complex networks that met at Gao Saney.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Approximately two-thirds of the beads are from the lower occupation levels, dated to the eighth to tenth century, and many of those were found in trenches in broken, malformed, or unfinished condition. The evidence from these trenches is especially compelling, suggesting that Gao Saney was a production site for recycling and remaking imported glass. At Gao Ancien, in contrast, most excavated beads had been finished.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/assorted-glass-beads_2_600.jpg, /img/tour/saharan-frontiers/gao/assorted-glass-beads_2_300.jpg" class="stretch" alt="Assorted finished glass beads" src="/img/tour/saharan-frontiers/gao/assorted-glass-beads_2_600.jpg">
						<small>Assorted finished glass beads from Gao Ancien, Mali. Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/assorted-glass-beads_1_600.jpg, /img/tour/saharan-frontiers/gao/assorted-glass-beads_1_300.jpg" class="stretch" alt="Assorted finished glass beads" src="/img/tour/saharan-frontiers/gao/assorted-glass-beads_1_600.jpg">
						<small>Broken, malformed, or unfinished glass beads from Gao Saney, Mali. Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Many hundreds of glass, terracotta, and semi-precious stone beads have been excavated at the sites of Gao Ancien and Gao Saney. Originating from many different sites of production and exchanged across vast distances, they provide a microcosm for considering the complex networks that met at Gao.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							While terracotta beads were likely produced locally, finished glass beads were imported to Gao from bead-making centers in North Africa, Egypt, Europe, and the West African forest region. The presence of crucibles for melting glass and of malformed beads at Gao Saney suggests that it was a secondary glass bead production site in which broken glass was melted for bead making.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The glass beads at Gao are among the most sought-after remains by looters of the site. Antique glass beads are valuable on local and international markets. Protecting this important cultural heritage is essential. Glass beads provide a compelling case study of local and interregional trade in multiple directions in the medieval period.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							To learn about the glass beads found at the site Igbo Olokun in Nigeria, [click here](/tour/long-reach-of-the-sahara/medieval-glass-beads/).
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Crucible" src="/img/works/14/14_640x.jpg">
						<small>Two fragments of glazed ceramics and a fragment of carved alabaster excavated at Gao, Mali. Musée nationale du Mali, Bamako. Photograph by Seydou Camara</small>
					</section>

					<section data-markdown>
						<textarea>
							Decorative glazed ceramics in a number of distinctive styles were transported across the Sahara, and fragments have been recovered at multiple sites. The large fragment of lusterware (center) and of splashware (يمين) were excavated at Gao in Mali, as was the piece of carved alabaster (يسار), which likely came from a source in Egypt or Syria.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/gao/bowl_600.jpg, /img/tour/saharan-frontiers/gao/bowl_300.jpg" class="stretch" alt="Bowl. Luster-painted fritware, قطر 20.0 cm" src="/img/tour/saharan-frontiers/gao/bowl_600.jpg">
						<small>Bowl, Egypt, 11th century. Luster-painted fritware, قطر 20.0 cm. Photograph © The Aga Khan Museum, Toronto, Canada, AKM684</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Lusterware was among the most ingenious innovations of Arab potters, who mixed silver sulfides and copper oxides to create a shiny, metallic sheen on the surface of glazed earthenware bowls, plates, and other utilitarian vessels. The decorative ware, including this example featuring a sprightly hare amid vines in the image at right, was popular in Egypt and greater Syria during the Fatimid period (909–1171).
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The technique also spread to North Africa and Andalusia, including the cities of Malaga and Valencia. Wide appreciation of lusterware is unsurprising given the pottery’s similarities to the shimmering sparkle of gold.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							To hear more about the research and excavation of the site of Gao, [watch interviews with archaeologist Mamadou Cissé](https://vimeo.com/364139789).
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
