<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>حدود الصحراء: حج الحاكم مانسا موسى إلى مكة  | {% t global.title %}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section>
						<h1>حج الحاكم مانسا موسى إلى مكة </h1>
					</section>

					<section>
						<img class="stretch" alt="Mansa Musa’s pilgrimage" srcset="/img/tour/saharan-frontiers/mansa-musas-hajj-to-mecca/mansa-musa-hajj_800.jpg 800w, /img/tour/saharan-frontiers/mansa-musas-hajj-to-mecca/mansa-musa-hajj_300.jpg 300w" src="/img/tour/saharan-frontiers/mansa-musas-hajj-to-mecca/mansa-musa-hajj_800.jpg">
						<small>استنادًا إلى الشهادة التي سجلها الباحث شهاب العمري بعد عقد فقط من حج مانسا موسى، فقد كانت آثار الخط الأحمر هو الطريق الذي سلكه هذا الحاكم وحاشيته الكبيرة في عام 1324–25 أثناء ذهابه للحج. وقد سافر الحاكم موسى، مصحوبًا بحاشية كبيرة من الحراس والعبيد والمحاربين، لمسافة أكثر من 4000 ميل في هذه الرحلة. وبعد عبور هذه الصحراء، استراح في القاهرة، بمصر. وعند عودته مر موسى عبر الأراضي التي تم غزوها حديثًا في مملكته، والتي شملت المركز التجاري الهام في مدينة غاو.</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							كان مانسا موسى، حاكم إمبراطورية مالي في القرن الرابع عشر، ثريًا وقويًا للغاية. وقد سيطر على المنطقة التي تضم حقلي بامبوك وإقليم الذهب الخالص، والحافة الجنوبية للصحراء الكبرى، ونهر النيجر العلوي والأوسط. حقق موسى استفادة كاملة من موقع إمبراطوريته الجغرافي الاستراتيجي والواقعة على مفترق طرق هذه المناطق التجارية الرئيسية.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							في عام 1324 شرع موسى في الحج إلى مكة المكرمة وهو فرض على جميع المسلمين القادرين على القيام به مرة واحدة في حياتهم. وقد كانت هذه الرحلة أيضًا فرصة لتشكيل تحالفات والإعلان عن ثروته وقوته من خلال العروض الفخمة المصاحبة له. وبحسب الباحث شهاب العمري، الذي أجرى مقابلات مع سكان القاهرة خلال زيارة موسى لها، حيث قال "هذا الرجل قد غمر أهل القاهرة بمآثره. ولم يترك موسى أمير محكمة ولا أحدًا يعمل في الديوان الملكي بدون هدية من الذهب ... لقد أنفقوا الذهب حتى خفضوا قيمته في مصر وتسببوا في انخفاض سعره."
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							يصف العمري الهدايا الدبلوماسية الفخمة التي تلقاها موسى أثناء إقامته في القاهرة قائلاً:
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
						>	أرسل له السلطان عدة دعاوى تكريم كاملة له ولحاشيته، وكل من جاء معه، وخيول مع سروجها ولجامها له ولحراسه الكبار. يتألف رداء الشرف الخاص به من عباءة اسكندرانية مفتوحة من الأمام ومزينة بقطعة قماش تحتوي على الكثير من الخيوط الذهبية وفراء أبيض، يحدها فراء القندس ومطرزة بخيوط معدنية، إلى جانب الأربطة الذهبية، وقلنسوة حريرية مع شعارات الخلافة، وحزام مرصع بالذهب، وسيف مرصع، ومنديل [مطرز] بالذهب الخالص، واثنين من الخيول مع سرجها ولجامها ومجهزة بسروج مزينة.
						</textarea>
					</section>

					<section>
						<img class="stretch" srcset="/img/tour/saharan-frontiers/mansa-musas-hajj-to-mecca/cap_600.jpg 600w, /img/tour/saharan-frontiers/mansa-musas-hajj-to-mecca/cap_300.jpg 300w" alt="Cap with striped inscribed silk" src="/img/tour/saharan-frontiers/mansa-musas-hajj-to-mecca/cap_300.jpg">
						<small>
							غطاء من الحرير المنقوش المُقلم، مصر أو سوريا، فترة المماليك، ربما السلطان ناصر الدين محمد (حكم من 1293-1341، مع انقطاعين)، القرن الرابع عشر. قماش لامباس فاخر، حرير وذهبي، بأبعاد 14 × 15.5 × 10.5 سم. متحف كليفلاند للفنون، كليفلاند، أوهايو، مقتنبات من J.H. صندوق واد، 1985.5. الصورة مجاملة من متحف كليفلاند للفنون
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							خلال إقامته في القاهرة، استقبل السلطان ناصر الدين محمد مانسا موسى، الذي أكرمه بالكثير من الهدايا وأغدق له العطايا بما في ذلك قلنسوة مرسوم عليها شعارات الخلافة. ولا شك في أن هذه القلنسوة كانت تشبه هذا النموذج الفاخر من نفس الفترة الزمنية، والتي نُقش عليها "المجد لملكنا السلطان الملك الناصر".
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Cap with striped inscribed silk" src="/img/works/25/25_640x.jpg">
						<small>
							 خاتم التوقيع، إيران، القرن الخامس عشر/السادس عشر. فضي، 3.18 سم × 2.54 سم. متحف مقاطعة لوس أنجلوس للفنون، لوس أنجلوس، كاليفورنيا، مجموعة نازلي م. هيرامانيك، هدية جوان باليفسكي، M.73.5.336
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							 قدم المؤرخ والجغرافي أبو عبيد البكري (المتوفى 1094) معلومات حول تجارة القوافل الصحراوية لعدد من القراء المتعطشين للتعرف على شركاء تجاريين في مناطق نائية. في كتابه الطرق والعوالم، المنشور عام 1063، يصف البكري الخلافة الملكية في "الكاوكاو"، اسم مدينة غاو في القرون الوسطى: "عندما يصعد الملك العرش، فإنه يتسلم خاتم التوقيع، وسيفاً، ونسخة من القرآن، وهي حسب تأكيدهم مرسلة من أمير المؤمنين. وملكهم هذا يكون مسلماً، لأنهم يفوضون ويعهدون أمر ملوكيتهم للمسلمين فقط." وكان هناك سيف ومجوهرات من بين الهدايا الدبلوماسية التي تلقاها مانسا موسى.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
