<!doctype html>
<html lang='ar'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>حدود الصحراء: ربط التجارة بنهر النيجر | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  # ربط التجارة بنهر النيجر
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							يتحرك نهر النيجر من مصدره في مرتفعات غينيا نحو اتجاه الشمال الشرقي في سهول غرب السودان. وهناك، بين النيجر وروافده نهر باني، تخلق الفيضانات منطقة خصبة تسمى دلتا النيجر الداخلية. وقد أدت تربتها الخصبة إلى عمران إقليمي مزدهر بحلول القرن الرابع. وعلى دلتا النيجر الداخلية، تمتد منطقة النيجر الوسطى على طول قوس النهر الواسع، مع وجود مدن على ضفافها تقع بالقرب من الصحراء الكبرى.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							كان نهر النيجر هو الطريق الرئيسي بين الشرق والغرب في غرب السودان للنقل والتبادل قبل فترة طويلة من بدء تصاعد التجارة عبر الصحراء في القرن الثامن. وقد تداخلت هذه التجارة الصحراوية مع هذا التبادل الحيوي وساهمت في تطوير الدول القوية في غانا (القرن السابع إلى الثالث عشر)، ومالي (القرن الثالث عشر إلى السادس عشر)، وسونغهاي (القرن الرابع عشر إلى السادس عشر) خلال العصور الوسطى.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							سكان دلتا النيجر الداخلية والنيجر الوسطى كانوا يتحدثون لغات الماندي المماثلة لتلك اللغات التي يتحدثون بها في مصادر الذهب. وقد مكّنهم ذلك إلى جانب موقعهم الجغرافي المتميز- الواقع بين حقول الذهب في غرب إفريقيا والصحراء الكبرى - من أن يصبحوا وسطاء مهمين في تجارة الذهب.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/map-niger-river_800.jpg, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/map-niger-river_300.jpg" class="stretch" alt="map-niger-river" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/map-niger-river_800.jpg">
						<small>تغطي سهول الفيضانات الهائلة والخصيبة المعروفة باسم دلتا النيجر الداخلية أكثر من 20000 كيلومتر مربع. نحو الشمال، تمر منطقة النيجر الوسطى عبر الحافة الجنوبية للصحراء الكبرى قبل أن تتجه ناحية الجنوب الشرقى نحو منطقة الغابات في غرب إفريقيا.</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/great-mosque_600.jpg 600w, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/great-mosque_300.jpg 300w" class="stretch" alt="brown-building" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/great-mosque_600.jpg">
						<small>المسجد الكبير في جِني وسوق الاثنين الكبير أغسطس 2013. تصوير حمدية تراوري </small>
					</section>

					<section>
						<img class="stretch" alt="Kneeling Figure. Terracotta, 46 x 22.4 x 21.5 cm." src="/img/works/15/15_640x.jpg">
						<small>صورة ركوع، ناتاماتاو،منطقة موبتي، مالي، القرن الثاني عشر/ الرابع عشر. تراكوتا، بأبعاد 46 × 22.4 × 21.5 سم. متحف مالي الوطني، باماكو، 90.25.10. تصوير سيدو كامارا</small>
					</section>

					<section>
						<img class="stretch" alt="Horse. Terracotta, 37.7 x 23.5 x 45 cm." src="/img/works/16/16_640x.jpg">
						<small>حصان، ناتاماتاو، منطقة موبتي، مالي، القرن الثاني عشر/ الرابع عشر. تراكوتا، بأبعاد 37.7 × 23.5 × 45 سم. متحف مالي الوطني، باماكو، 2002.17.16. تصوير سيدو كامارا</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							تم العثور على هذه الأشكال الفخارية لرجل جالس وحصان في ناتاماتاو، مالي، إلى جانب هياكل عظمية من الخيول والبشر. وهي جزء من تقاليد نحت التراكوتا المحلية التي انتشرت آنذاك وامتدت من القرن العاشر إلى القرن الخامس عشر.  وقد دعمت الدلتا الداخلية الخصبة لنهر النيجر قيام حضارة مزدهرة في العصور الوسطى اشتملت على أكثر من ستين مجتمعًا مترابطًا. في ناتاماتاو، اكتشفت الحفريات مواد مرتبطة بالتجارة عبر الصحراء، لا سيما مجموعة من سبائك النحاس المستوردة. قد تكون الأساور والقلادات، مثل تلك الصور التي تم تصويرها في صورة الركوع، مصنوعة من النحاس، وسبائك النحاس. وبالمثل، يشير تصوير الخيول إلى التجارة، حيث تم تداولها عبر الصحراء.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							وقد تعرضت أشكال التراكوتا الموجودة في مواقع من مناطق دلتا النيجر الداخلية والنيجر الوسطى للنهب على نطاق كبير. اليوم هذه الأشكال من بين التراث الثقافي المادي وغير المادي المحمي بموجب اتفاقية اليونسكو لعام 1970 الخاصة بحظر ومنع الاستيراد والتصدير والنقل غير المشروع للممتلكات الثقافية وحماية التراث الحضاري والطبيعي واتفاقية الملكية الثقافية بين الولايات المتحدة ومالي لعام 1997. كما تم إدراج بعض المواد من مُنحدرات باندياجارا، وكان آخرها مخطوطات من العصور الوسطى من منطقة تمبكتو في هذه الاتفاقية الثنائية.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Fragment of a woven blanket. Cotton and wool textile in weft-faced plain weave, 60 x 84 cm." src="/img/works/17/17_640x.jpg">
						<small>جزء من بطانية منسوجة، تيلم، مالي، القرن الخامس عشر. منسوجات من القطن والصوف، بحجم 60 × 84 سم. متحف مالي الوطني، باماكو، Y-74-22. تصوير سيدو كامارا</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							تعتبر المنسوجات التي وجدت بين البقايا المدفونة في كهوف منحدرات باندياجارا شرق دلتا النيجر الداخلية في مالي من أقدم المنسوجات الباقية من غرب أفريقيا، حيث تعود إلى بدايات القرن الحادي عشر. وعلى هذا الأساس، فإنها تقدم أدلة مهمة على طول عمر تقنيات النسيج والصباغة في تلك المنطقة. قطع من بطانية كبيرة تشتمل على أنماط وأشكال مشتركة بين الشعبين الأمازيغي والفولاني في الصحراء الكبرى. يتم تجميع البطانية نفسها من نطاقات منسوجة متعددة، مما يؤكد على إنشاء العصور القديمة لتكنولوجيا النسيج منقطعة النظير والتي انفرد بها غرب أفريقيا.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Biconical bead. Gilded silver, 10.2 x 6 cm." src="/img/works/18/18_640x.jpg">
						<small> خرزة مخروطية الشكل، فولاني، السنغال، القرن التاسع عشر/العشرين. فضة مطلية بالذهب، بحجم 10.2 × 6 سم. معهد ديترويت للفنون، جمعية المؤسسين للمقتنيات، صندوق إليانور كلاي فورد للفن الأفريقي، 77.10. الصور مجاملة من معهد ديترويت للفنون</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							تشترك هذه الخرزة المخروطية، أو ذات الشكل المخروطي المزدوج، المصنوعة في أواخر القرن التاسع عشر أو أوائل القرن العشرين في شكل الخرز المخروطية الذي يعود لفترة القرون الوسطى. ومن المرجح أنهم استمروا في إنتاج مثل هذا الشكل في المنطقة منذ القرن الحادي عشر فصاعدًا؛ ومع ذلك، فإن هذا الخرز غير قابل للمقارنة تماماً. تم صبغ هذه الخرزة الأخيرة بالفضة ثم تغطيتها بطبقة رقيقة من الذهب، وهي تقنية تعرف باسم الطلاء بالذهب. يتم زخرفة سطح الخرزة بسلك مخرّم، وشرائط معدنية رفيعة تُستخدم في نقش معين، والتحبيب، وكرات صغيرة من الذهب.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
