<!doctype html>
<html lang='ar'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>حدود الصحراء: انتقال اللغة والناس والأفكار  | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  # انتقال اللغة والناس والأفكار
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							انتقلت اللغة والأفكار عبر الصحراء مع التجار وبضائعهم خلال العصور الوسطى. وبشكل بارز انتقلت اللغة العربية، المنطوقة والمكتوبة، عبر الصحراء. باستخدام اللغة العربية، ساهم علماء غرب أفريقيا في إنشاء ثقافة واسعة النطاق شملت الإسلام والخطاب الفكري المرتبط به.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							خلال هذا الوقت، كتب العلماء المقيمون في شمال الصحراء روايات باللغة العربية تضمنت أوصافًا للمنطقة الصحراوية. ومن الصعب تفسير المطبوعات الأدبية، حيث يعتمد المؤلفون في المقام الأول على تقارير من جهة ثانية أو ثالثة. ومع ذلك، فعند النظر إليها بالاقتران مع بعض التسجيلات المادية، يمكن لهذه الروايات أن تقدم معلومات قيمة.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							والأهم من ذلك، أن الشروح العربية في العصور الوسطى تكشف عن جوانب للتبادل الصحراوي لا تظهر في التسجيل الأثري. وينطبق هذا بشكل خاص على انتقالات الناس وتحركاتهم من مكان لآخر، سواء التجار أو الحكام أو الحجاج أو العبيد. في الواقع، ظهر الاسترقاق والعبودية جلياُ بشكل فريد تقريبًا في هذه الروايات المكتوبة. في فترة القرون الوسطى، تم نقل العبيد من غرب أفريقيا، ومعظمهم من النساء والأطفال، إلى المغرب أولاً ثم شرقاً إلى مصر وسوريا والعراق وما بعدها. قام هؤلاء العبيد برحلة شاقة سيراً على الأقدام عبر الصحراء ومات الكثير منهم خلال الرحلة.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Monument from Sane necropolis. Marble, 87 x 45 cm." src="/img/works/19/19_640x.jpg">
						<small>نصب تذكاري من مقبرة ساني، غاو، مالي، القرن الثاني عشر. رخام بمقاس 87 × 45 سم. متحف مالي الوطني، باماكو، R88-19-279. © ماري لان نغوين / ويكيميديا كومنز. تم نشره بموجب ترخيص CC-BY 4.0</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							وقد انتقل تعليم القراءة والكتابة باللغة العربية عبر الصحراء جنبا إلى جنب مع الكتب والأشياء المنقوشة والممارسات الدينية، كفرع من فروع التجارة عبر الصحراء. نُصب تذكاري من الرخام يعود للقرن الثاني عشر من المقبرة التي تقع بالقرب من الموقع الأثري في مدينة غاو ساني، مالي، منقوشة بقصيدة مستوحاة من آية قرآنية جاء فيها، "... وحده، لا شريك له، ومحمد عبده ورسوله. عاش ومات أميناً مخلصاً لهذا الدين وسيعيش مرة أخرى إن شاء الله - رحم الله لمن يطلب له الرحمة. من المحتمل أنه واحداً من زوج من الحجارة. والآخر كان سيتحمَّل اسم ولقب وتواريخ عضو في الطبقة الحاكمة في غاو. كان هذا الحجر واحداً من خمسة آثار باقية تم صنعها في ولاية الميريا، إسبانيا، وتم نقلها عبر الصحراء الكبرى للعملاء في غاو.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Grindstone refashioned as a gravestone" src="/img/works/20/20_640x.jpg">
						<small>أعيدت صياغة حجر الرحى على أنه شاهد قبر وضريح، مقبرة تفديت، جيبوك، مالي، القرن الثالث عشر / السابع عشر. حجر، بأبعاد 46.5 × 24 × 7.5 سم. المديرية الوطنية للتراث الثقافي، باماكو، مالي، 2002. تصوير سيدو كامارا</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							في الأصل كان حجر الرحى، وهو النصف السفلي من أداة تستخدم في تجهيز وطحن الحبوب، وقد نقش هذا الحجر بالخط العربي عن طريق أحد الحرفيين المحليين في وقت ما بين القرنين الثالث عشر والسابع عشر وأعيد استخدامه كنصب تذكاري في نفس المقبرة. كما تم نقش الحجر العلوي المصاحب له، وهو المستخدم في معالجة الحبوب بالاقتران مع حجر الرحى، تم نقش بالكتابة العربية.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Al-qadi 'Iyad, The Remedy by the Recognition of the Rights of the Chosen One (Al-Shifta' bi-ta'rif huquq al-Mustafa)" src="/img/works/21/21_640x.jpg">
						<small>القاضي عياض، (كتاب الشفاَ بتعريف حقوق المصطفى)، شمال أفريقيا، تاريخ غير معروف. حبر ملون وأوراق ذهبية، مقاس 30.5 × 58 سم. مركز أحمد بابا للتوثيق والبحوث التاريخية، تمبكتو، 165. تصوير سيدو كامارا</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							خلال فترة العصور الوسطى، انتشرت اللغة العربية والعقيدة الإسلامية معًا على امتداد الطرق التجارية عبر الصحراء ثم تدريجيًا عبر منطقة غرب السودان في إفريقيا. لم يتبق اليوم سوى عدد قليل من المخطوطات في غرب إفريقيا من العصور الوسطى، وأقدم تاريخ معروف لهذه المخطوطات يعود إلى القرن السادس عشر. ومع ذلك، فإن إرث انتقال اللغة العربية إلى غرب أفريقيا موجود في بعض الكتب مثل كتاب حياة النص النبوي، الذي يعكس الحركة المرتبطة باللغة والعقيدة والتجارة. وكتب القاضي عياض سيرة الرسول صلى الله عليه وسلم بإرشادات تعبدية في القرن الثاني عشر. من المحتمل أن تكون هذه المخطوطة نسخة تم إنتاجها لاحقاُ في شمال إفريقيا وتم استيرادها عبر الصحراء في وقت غير معروف. وهي واحدة من حوالي أربعين ألف مخطوطة في مجموعة مركز أحمد بابا للتوثيق والبحوث التاريخية في مالي، وهو المركز الأكثر اكتسابًا من المكتبات العائلية الخاصة من بين مراكز التعليم الإسلامي في مالي.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Talismanic textile. Cotton, plain woven panels (4) joined and painted, with amulets of animal hide and felt attached by knotted leather strips" src="/img/works/22/22_640x.jpg">
						<small>نسيج يحتوي على تعويذات، ربما من السنغال، أواخر القرن التاسع عشر أو أوائل القرن العشرين. ألواح منسوجة من القطن (4) متصلة وملونة، مع تمائم وتعاويذ من جلد حيوانات محشو ولُبّادَة مربوطة بسيور من جلد معقود، مقاس 255.2 × 178.8 سم. معهد شيكاغو للفنون، وقف للمقتنيات الأمريكية والأفريقية، 2000.326. الصور مجاملة من معهد شيكاغو للفنون / الموارد الفنية، نيويورك</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							هذا النسيج الكبير مغطى بآيات قرآنية مكتوبة بالخط العربي. قد يشير هذا الشكل الممدود إلى سحلية، أو روحًا، أو صورة منمقة ترمز لاسم محمد، في حين أن الزخارف الحمراء ذات المربعات تشير إلى المربعات السحرية، وترتيب الأعداد التي تصل دائمًا إلى نفس المجموع، بغض النظر عن الاتجاه الذي تتم إضافته.  ربما تغطي هذه التمائم المرفقة مربعات صغيرة من الورق المطوي الذي يحتوي على كتابة مقدسة. في جميع أنحاء السنغال، يطبق ممارسو المذاهب الصوفية المعرفة الباطنية للقرآن والنصوص المقدسة الأخرى على الممارسات العلاجية للتكهن والتنجيم والشفاء والحماية الروحية. قد يكون هذا النسيج قد تمت إعارته أو تأجيره للعملاء حسب الحاجة من قبل الممارس الذي أنشأه.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt=">Leo Africanus" src="/img/works/23/23_640x.jpg">
						<small>ليون الأفريقي، كتاب (وصف أفريقيا). أنتويرب، 1556. مكتبة ميلفيل ج. هيرسكوفيتس للدراسات الأفريقية، جامعة نورث ويسترن، إيفانستون، إلينوي، 916 L576.2. تصوير كلير بريت</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							كتاب (وصف إفريقيا)، الذي كتبه الدبلوماسي والباحث الحسن بن محمد الوزان، المعروف أيضًا باسم ليون الأفريقي، تم نشره لأول مرة في عام 1526. الوزان، المولودة في مدينة فاس، المغرب، ألقي القبض عليه من على متن سفينة في البحر الأبيض المتوسط وسُجن في روما لمدة تسع سنوات بأمر من البابا. وقد استند في روايته جزئيًا إلى تجاربه وخبراته الشخصية في السفر إلى مواقع بما في ذلك القاهرة وعبر الصحراء إلى تمبكتو، والتي كانت آنذاك جزءًا من إمبراطورية سونغهاي. وقد كان هذا الكتاب، والذي تم تأليفه باللغة الإيطالية، هو أول وصف لأفريقيا تم نشره في أوروبا للقراء الأوروبيين والمسيحيين المتعطشين لمعرفة المزيد عن جغرافيا هذه القارة وشعبها ومواردها. نُشرت هذه الترجمة اللاتينية عام 1556.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
