<!doctype html>
<html lang='ar'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>حدود الصحراء: تادمكة | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section>
						<h1>تادمكة (ازدهرت خلال الفترة بين القرن العاشر والرابع عشر)</h1>
					</section>

					<section data-markdown >
						<textarea data-template>
							من بين جميع مدن العالم، تعد تادمكة أكثر المدن التي تشبه مكة ... فهي مدينة كبيرة وسط الجبال والوديان وهي مشيدة بشكل أفضل من غانا أو غاو.

							—أبو عبيد البكري، حوالي ١٠٦٨
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							تقع أنقاض السوق - تادمكة (وتُسمى أيضًا تادمكة) في شمال شرق دولة مالي. تمتد البلدة عبر ما يقرب من 125 فدانًا، مع بقايا الهياكل الحجرية التي تشمل المجمعات التجارية والسكنية، والخانات، والمساجد، وحظائر الحيوانات. ويحيط بها مقابر تحمل شواهد القبور نقوشاً باللغة العربية. يوجد على المنحدرات المطلة على البلدة بعض النقوش المحفورة باللغة العربية ومنقوشة بالتيفيناغ الأبجدية البربرية (الشكل المكتوب للغة الأمازيغية) التي تشهد على احتلال الموقع منذ أوائل القرن العاشر.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							تقع البلدة على الحافة الجنوبية للصحراء، حيث وصلت قوافل الجمال في العصور الوسطى وغادرت في رحلاتها الصحراوية. بين عامي 2004 و2005، شارك عالم الآثار سام نيكسون في شراكة مع زملاء من مديرية مالي الوطنية للثقافة ومعهد العلوم الإنسانية لإجراء عمليات التنقيب الأولية في موقع السوق تادمكة المعزول.  وتؤكد النتائج التي توصلوا إليها وصف احتلال تادمكة كمركز للتجارة عبر الصحراء الكبرى التي تظهر في أعمال البكري وغيرهم من علماء العصور الوسطى الذين يكتبون باللغة العربية.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Essouk تادمكة Figure 8" src="/img/tour/saharan-frontiers/tadmekka/essouk-tadmekka-fig-8_800.jpg">
						<small>رسم تخطيطي لموقع السوق تادمكة فيما يتعلق بالمنحدرات المحيطة والتيارات الموسمية (وادي) المنتشرة عبر منتصف الموقع. وقد حُددت المناطق الرئيسية لأنقاض المدينة والمقابر المحيطة بها. استناداً إلى الصور الجوية ومراقبون من البعثة واقتباس من عالم الآثار "موني" 1961 والمؤرخ مورايس فارياس 2003 </small>
					</section>

					<section>
						<img class="stretch" alt="Sand Dunes"
							srcset="/img/tour/saharan-frontiers/tadmekka/sand-dunes_300.jpg 300w, /img/tour/saharan-frontiers/tadmekka/sand-dunes_800.jpg 800w" sizes="(max-width: 600px) 310px, 800px" src="/img/tour/saharan-frontiers/tadmekka/sand-dunes_800.jpg">
						<small>تطل على وادي السوق، حيث توجد أنقاض تادمكة. تصوير سام نيكسون، 2005 </small>
					</section>

					<section>
						<img class="stretch" alt="Fragments of glazed ceramics (including an oil lamp) excavated at Essouk-تادمكة. Institut des sciences humaines" srcset="/img/tour/saharan-frontiers/tadmekka/glazed-ceramics-oil-lamp_600.jpg 600w, /img/tour/saharan-frontiers/tadmekka/glazed-ceramics-oil-lamp_300.jpg 300w" src="/img/tour/saharan-frontiers/tadmekka/glazed-ceramics-oil-lamp_600.jpg">
						<small>قطع أثرية زخفية مصقولة (بما في ذلك مصباح زيت) تم التنقيب عنها في موقع السوق تادمكة. معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت </small>
					</section>

					<section>
						<img class="stretch" alt="Stone beads, semi-precious stones, and a cowrie shell excavated at Essouk-تادمكة." srcset="/img/tour/saharan-frontiers/tadmekka/stone-beads_600.jpg 600w, /img/tour/saharan-frontiers/tadmekka/stone-beads_300.jpg 300w" src="/img/tour/saharan-frontiers/tadmekka/stone-beads_600.jpg">
						<small>خرزات من الحجر والأحجار شبه الكريمة وقطع من أصداف الودع تم التنقيب عنها في موقع السوق تادمكة. معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت </small>
					</section>

					<section id="silk-fragment">
						<img class="stretch" alt="silk textile" srcset="/img/tour/saharan-frontiers/tadmekka/silk-fragment_600.jpg 600w, /img/tour/saharan-frontiers/tadmekka/silk-fragment_300.jpg 300w" src="/img/tour/saharan-frontiers/tadmekka/silk-fragment_600.jpg">
						<small>قطعة من المنسوجات الحريرية تم التنقيب عنها في موقع السوق - تادمكة (بأبعاد 3.75 × 2.25 سم). معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت</small>
					</section>

					<section>
						<img class="stretch" alt="a carved stone torso" srcset="/img/tour/saharan-frontiers/tadmekka/stone-torso_600.jpg 600w, /img/tour/saharan-frontiers/tadmekka/stone-torso_300.jpg 300w" src="/img/tour/saharan-frontiers/tadmekka/stone-torso_600.jpg">
						<small>جذع حجري منحوت تم استخراجه من موقع السوق تادمكة. معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت</small>
					</section>

					<section>
						<img class="stretch" alt="Glass vessel fragments excavated at Essouk-تادمكة. Institut des sciences humaines, Bamako, Mali. Photographs by Clare Britt" src="/img/tour/saharan-frontiers/tadmekka/carved_stone.jpg">
						<small>قطع من وعاء زجاجي تم استخراجها من موقع السوق تادمكة. معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت </small>
					</section>

					<section>
						<img class="stretch" alt="Glass fragments from excavations at Essouk-تادمكة, Mali" src="/img/works/7/7_640x.jpg">
						<small>على اليسار: قطع زجاجية مستخرجة من عمليات التنقيب في موقع السوق تادمكة، مالي. معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت </small>
					</section>

					<section>
						<img class="stretch" alt="Spouted vessel, possibly Egypt or western Asia, ca. 800--1099." src="/img/works/8/8_640x.jpg">
						<small>على اليمين: وعاء منقط، ربما من مصر أو غرب آسيا،حوالي 800/1099. زجاج منفوخ، بارتفاع 6 سم، أقصى عرض 9.9 سم؛ قطر الحافة 4.5 سم. مجموعة متحف كورنينج للزجاج، كورنينج، نيويورك، 63.1.5</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							أشكال منحنية قليلاً من هذه الأنابيب الصغيرة الزجاجية الخضراء، تم استخراجها من موقع السوق تادمكة، مالي، على الأرجح أنها كانت جزءًا من زجاجات صغيرة. صُنعت هذه الزجاجات في مصر أو غرب آسيا، واستخدمت في بلدان البحر الأبيض المتوسط طوال فترة القرون الوسطى كحاويات وأوعية للعطور أو ماء الورد. عُثر أيضًا على بعض المخلفات المادية المتعلقة بتجارة المسافات الطويلة للأواني الزجاجية الفاخرة، وقطع من الأواني الزجاجية، مثل هذا النموذج من متحف كورنينج للزجاج، في مواقع أخرى من العصور الوسطى شمال وجنوب الصحراء الكبرى.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Fragment of Qingbai porcelain" src="/img/works/9/9_640x.jpg">
						<small>عُثر على قطعة من خزف تشينغباي (1.48 × 1.74 سم) في موقع السوق تادمكة، مالي. الصين، سلالة سونغ الشمالية ، القرن العاشر / الثاني عشر. معهد العلوم الإنسانية، باماكو، مالي. تصوير كلير بريت </small>
					</section>

					<section>
						<img class="stretch" alt="Foliate bowl with stylized peony spray" src="/img/works/10/10_640x.jpg">
						<small>وعاء مطلي برذاذ وردي منمق، الصين، سلالة سونغ الشمالية، القرن الثاني عشر. بورسلين مزخرف بالزجاج المنحوت، بارتفاع 7.1 سم، وقطر 20.1 سم. معهد شيكاغو للفنون، وصية راسل تايسون، 1964.847. الصور مجاملة من معهد شيكاغو للفنون / الموارد الفنية، نيويورك</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							غالبًا ما كانت المستلزمات الأساسية والسلع المصنعة التي انتقلت على طول طرق التجارة متجهة إلى أسواق تبعد عن أماكنها الأصلية بمسافات مذهلة. قطعة صغيرة من بورسلين سيلادون تم استخراجها من موقع السوق تادمكة، مالي، وهو نوع معروف باسم أدوات تشينغباي. تم إنتاج أدوات تشينغباي في جنوب شرق الصين، وتم تصديرها على نطاق واسع بين القرنين العاشر والثاني عشر وتداولها على امتداد الطرق التي تنتقل من سوق إلى آخر في عملية تسمى التجارة بالترحيل. عُثر على قطع من أدوات تشينغباي في مواقع من القرون الوسطى من آسيا الوسطى إلى مصر وعبر الصحراء الكبرى.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							يشير شكل هذه القطعة إلى أنها كانت جزءًا من حافة وعاء. يبرهن النسيج الدمشقي المميز لقطعة صغيرة من الحرير، والتي استخرجت أيضًا من موقع السوق تادمكة، أنه صُنعت على نحو مماثل من قبل الحرفيين الصينيين، على الرغم من أنه تمت إضافة التطريز والزركشة بالخيوط المتسلسلة بالقطن الأحمر الذي يمر عبره في مدينة تادمكة كمزيد من الزخرفة على ثوب فاخر.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="11-unglazed-local-ceramic" src="/img/works/11/11_640x.jpg">
						<small>قطع خزفية مستخرجة من عمليات التنقيب في موقع السوق تادمكة، مالي. معهد العلوم الإنسانية، باماكو، مالي. تصوير كاتلين بيكفورد بيرزوك، 2016</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							تم التنقيب عن كميات كبيرة من القطع الخزفية غير المصقولة - بقايا الزجاجات والأواني والبرطمانات وأوعية التخزين وغيرها من العناصر الأساسية للحياة اليومية - في مواقع متعددة في منطقة غرب السودان وحتى شمال الصحراء في بعض المواقع بما في ذلك مدينة سجلماسة. وقد تم تزيين هذه الأواني بأنماط ونقوش روليت مطبوعة أو زخارف مطلية، وقد استخدمت في المنازل للطبخ وتخزين الطعام. استخدمت أواني التراكوتا الطينية لنقل هذه السلع بما في ذلك الحبوب والأسماك من دلتا النيجر الداخلية الخصبة في مالي عبر مسافات شاسعة.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							لسماع المزيد حول عمليات البحث والتنقيب في موقع تادمكة، شاهد [interviews with the archaeologist Sam Nixon.](https://vimeo.com/364139621).
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
