<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>الامتداد الطويل للصحراء الكبرى:  إيفي ومدارها (القرنان الثالث عشر والرابع عشر) | {% t global.title %}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						#	إيفي ومدارها (القرنان الثالث عشر والرابع عشر)
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						كانت إيفي، في وسط نيجيريا، المركز السياسي ومركز الطقوس الدينية للمملكة التي دعمت الاقتصاد الإقليمي متعدد الأعراق. وقد امتد نطاقها إلى نهر النيجر، على بعد حوالي 120 ميلاً إلى الشمال، مما يمهد الطريق للمشاركة في شبكات التبادل العالمية. تشير الاكتشافات في قرية تادا، على ضفاف نهر النيجر، وجزيرة جيبا، إلى أنها كانت مواقع استيطانية استراتيجية لمدينة إيفي، تربط المملكة بالطرق التجارية بين الشمال والجنوب والشرق والغرب.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						وقد أنتجت ورش العمل في إيفي مجموعة من الفنون النحتية المصنوعة من النحاس النقي وسبائك النحاس والتراكوتا. كانت المدينة أيضًا مركزًا لصناعة الزجاج بغزارة وصناعة الخرز الزجاجي في حي التصنيع المسمى إغبو أولوكون.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						وعلى الرغم من أن ذلك كان محدوداً من حيث النطاق، فإن التحليل العلمي للمنحوتات النحاسية وسبائك النحاس من مدينة إيفي يشير إلى أن الخامات تم تعدينها في فرنسا. وقد ربطت طرق التبادل النشطة بين أوروبا وغرب إفريقيا في هذا الوقت. وقد يكون هذا النحاس في شكل السبائك قد تم نقله على طول هذه الطرق إلى مدن في غرب إفريقيا.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Seated figure, possibly from Ile-Ife" src="/img/works/41/41_640x.jpg">
					<small>صورة شخصية جالسة، ربما من إيل-إيفي، وجدت في تادا، في نيجيريا، أواخر القرن الثالث عشر / الرابع عشر. نحاس عليه آثار من الزرنيخ والرصاص والقصدير، بارتفاع 54 سم. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا، 79.R18. تصوير متحف الفن الأفريقي ومؤسسة مارسيلينو بوتين/ كارين ل. ويليس </small>
				</section>

				<section data-markdown >
					<textarea data-template>
						يشير النمط والصبغة الرقيقة للغاية لهذا الشكل الطبيعي إلى احتمال إنشائه في إيفي، العاصمة الملكية للمملكة القوية. في أوائل القرن العشرين، كان هذا الشكل جزءًا من شعائر الحياة لتادا، وهي قرية صغيرة على ضفاف نهر النيجر على بعد 120 ميلًا شمال إيفي. كل يوم جمعة كان يتم نقله إلى نهر النيجر للاستحمام بطريقة طقسيّة بالرمال والماء، مصحوبًا بتراتيل مكتوبة باللغة اليوروبية، وهي لغة مرتبطة بمدينة إيفي. خلال فترة القرون الوسطى، كان موقع تادا ذا أهمية استراتيجية لمدينة إيفي، مع ربطها بالتجارة بعيدة المسافات. يشير التحليل الذي تم إجراؤه على النحاس الخام المصنوع منه هذا التمثال إلى أنه ربما تم إنتاجه في فرنسا وسافر على طول هذه الطرق التجارية إلى مدينة إيفي، حيث تم صبه.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						[لمشاهدة أمثلة على بعض السبائك النحاسية التي تم استيرادها من شمال الصحراء، انقر هنا](/works/51/).
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Bowman, Jebba Island" src="/img/works/42/42_640x.jpg">
					<small>بومان،جزيرة جيبا، نيجيريا، القرن الرابع عشر/الخامس عشر. سبيكة نحاسية، بارتفاع 95 سم. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا، 79.R19. متحف التصوير الفوتوغرافي للفن الأفريقي ومؤسسة مارسيلينو بوتين / كارين ل. ويليس</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						عُثر على هذه الشخصية لرجل يرتدي دروعًا منسوجة أو مبطنة ويحمل جعبة على ظهره في جزيرة جيبا في نهر النيجر عند منعطف هام للطرق التجارية بين الشمال والجنوب والشرق والغرب. هذا التمثال أيضًا يرتدي ميدالية كبيرة وقلادات وأقراط وخلاخل معلقة بقطع من أصداف الودع. تم استخدام الأصداف والقواقع البحرية من المحيط الهندي كعملة في أجزاء من غرب أفريقيا في العصور الوسطى وربما تم نقلها براً إلى وسط نيجيريا على طول الطرق بين الشرق والغرب أو عبر الصحراء وإلى أسفل نهر النيجر قبل أن تكون بمثابة مرجع فني لأحد الإشارات الفنية الخاصة بهذا التمثال.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Heads of an elephant and of a hippopotamus" src="/img/works/43/43_640x.jpg">
					<small>تم استخراج تمثال لرأس فيل وفرس النهر، إيفي، نيجيريا، في لافوجيدو، القرن الثاني عشر / الخامس عشر. نحت فخاري تراكوتا، بارتفاع 18.5 سم (فيل)، 15 سم (فرس النهر). اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا، 63 / 24a و 72 / 18a. تصوير: أوتشي جيمس إيروها</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						يتم تصوير هذه المنحوتات الفخارية المنمقة لرأس فيل ورأس فرس النهر في الشعارات الرائعة للنخبة الحاكمة في مدينة إيفي، بما في ذلك أغطية الرأس والقلائد المزخرفة بخرز ذي أحجام مختلفة. يكاد يكون من المؤكد أن ارتباط هذه الحيوانات القوية بالقادة السياسيين هو بيان للسلطة. كانت أنياب الفيل وفرس النهر عبارة عن سلع ثمينة في التجارة الأقاليمية التي أعقبت التجارة عبر نهر النيجر وارتبطت بطرق التبادل عبر الصحراء.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
