<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>الامتداد الطويل للصحراء الكبرى: .	إيغبو أوكو (من القرن الثامن إلى أوائل القرن الثاني عشر) | {% t global.title %}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# إيغبو أوكو (من القرن الثامن إلى أوائل القرن الثاني عشر)
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						تقع بلدة إيغبو أوكو غرب نهر النيجر بمنطقة الغابات في نيجيريا. كشفت أعمال التنقيب التي أجريت هناك عن وجود مجموعة رائعة من أكثر من 600 قطعة من المنحوتات المهيبة بما في ذلك منحوتات من سبائك النحاس المصبوبة الاستثنائية وأكثر من 165000 قطعة من الخرز الزجاجي والعقيق الأحمر.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						هناك أدلة كثيرة تربط بين الأثرياء والأقوياء في الإغبو أوكو وشبكات التجارة العالمية في العصور الوسطى التي امتدت عبر نهر النيجر من حافة الصحراء الكبرى. يدل الخرز الزجاجي على وجود ترابط واضح: حيث عُثر على نفس الأنواع في الإغبو أوكو وغاو، ومالي، في غرب السودان.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						يُظهر تحليل الأجسام المصبوبة من الإغبو أوكو روابطها القوية بالتجارة المحلية. وقد جاء معظم النحاس والسبائك - والتي تُصنع بصورة رئيسية من القصدير والرصاص والفضة - المستخدم في صنع الأشياء البرونزية من مصادر قريبة. وهذا يدعم الفرضية القائلة بأن ابتكار صناعة صب المعادن الخاصة بالإغبو أوكو كانت في بدايتها قائمة على الاكتفاء الذاتي. ومع ذلك، يشير التحليل الذي تم إجراؤه على المعادن أيضًا إلى أن إنتاج سبائك النحاس في الإغبو أوكو ربما قد استُكملت بالنحاس من الصحراء، خاصة في النصف الثاني من وجوده.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Armlets" src="/img/works/38/38_640x.jpg">
					<small>أساور، القرن التاسع/العاشر، تم استخراجها في إغبو ريتشارد، إغبو أوكو، شرق نيجيريا. خرز وأسلاك نحاسية، بارتفاع 14.9 سم. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا، IR.416 و IR.417. تصوير: أوتشي جيمس إيروها</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم استخراج هذا الذراع الزجاجي الأزرق من قبر ملكي في إغبو أوكو. وقد وجد ثورستان شو، الذي قاد عمليات التنقيب في الموقع، أن معظم الخرز الموجود في الموقع يتميز بنسبة عالية من الحجر الجيري والألومنيوم. إن اكتشاف ورشة تقوم بإنتاج الخرز الذي يحتوي على كميات عالية من الحجر الجيري والألومنيوم على بعد 389 كيلومتر جنوب شرق موقع إغبو أولوكون، داخل مدينة إيفي، يدعم الفرضية القائلة بأن هذا الخرز الفريد قد تم تصنيعه وتبادله محليًا.  ومع ذلك، من بين 165000 خرزة حجرية وزجاجية عُثر عليها في إغبو أوكو، يمكن تتبع العديد منها أيضًا في منطقة البحر الأبيض المتوسط والمشرق العربي والشرق الأوسط والجزيرة العربية والهند. يوفر الخرز الموجود في الموقع نظرة مثيرة للاهتمام على اتصالات النظام السياسي بالشبكات التجارية المحلية والبعيدة المدى، بما في ذلك تلك الشبكات التجارية التي كانت عبر الصحراء الكبرى.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Horse and rider finial" src="/img/works/39/39_640x.jpg">
					<small>حصان وفارس منحوت، إغبو أوكو، مستخرج من إغبو ريتشارد (ضريح)، القرن الثامن/أوائل القرن الحادي عشر. قطعة برونزية، 14 × 5 سم. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا، IR.350. تصوير: أوتشي جيمس إيروها</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						هذه الزخرفة، التي كانت ستتوج طاقمًا أو عمودًا، هي أقدم تصوير وتمثيل معروف للحصان والفارس من منطقة الغابات المركزية في إفريقيا. والسؤال المطروح هو كيف تم صنع هذا الجسم. لا يمكن للخيول البقاء على قيد الحياة في الغابة لفترة طويلة بسبب الأمراض المتطايرة في الهواء. من الممكن أن تكون هذه الخيول قد تم استيرادها بتكاليف باهظة على طول طرق التبادل مع غرب السودان وشمال إفريقيا. والاحتمال الآخر هو أنه تم استيراد جسم آخر يمثل حصانًا وفارساً، مما ألهم أحد الفنانين لصنع هذه الزخرفة. تم تصوير الفارس مرتديًا ملابس فخمة مطرزة بالإضافة إلى خدوش في الوجه وهي مرتبطة بحاملي لقب النخبة في هذه الأيام.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Double-egg pendant" src="/img/works/40/40_640x.jpg">
					<small>قلادة مزدوجة البيض، القرن التاسع / العاشر، تم استخراجها في إغبو ريتشارد، إغبو أوكو، شرق نيجيريا. برونز مرصع، خرز زجاجي، مقاس 1 × 6 × 5.5 بوصة. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا، IS.367. تصوير © ديرك باكر / بريدجمان إيماجيس</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم استخراج هذه القلادة لصورة أحد الطيور جاثمة فوق بيضتين كبيرتين في موقع ضريح في إغبو أولوكون. يبرز هذا السطح المزخرف المهارة الفنية والتكنولوجية التي تتميز بها ورشات صب البرونز في تلك المدينة. تستحضر الحبال والنقاط البارزة، التي تُزين القلادة، إلى الأذهان عددًا كبيرًا من الخرزات التي عُثر عليها أيضا في إغبو اوكو وانتشرت على امتداد طرق التجارة المحلية وعلى المسافات البعيدة. تم تصميم العديد من الأجسام والأشكال المصنوعة من سبائك النحاس الموجودة في الموقع لتزيينها بخرز زجاجي. عُثر على هذه القلادة لطائر وبيضتين إلى جانب الخرز الأصفر والأسلاك النحاسية المعلقة بحلقات مصبوبة على طول جانب الجسم.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						لمعرفة المزيد عن العملية الأثرية ومعرفة كيفية إنتاج الخرز الزجاجي في أفريقيا جنوب الصحراء ونقله وتبادله، [watch an interview with archaeologist Adidemi Babatunde Babalola](https://vimeo.com/359358800).
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
