<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>الامتداد الطويل للصحراء الكبرى: إنتاج وتجارة الخرز الزجاجي في العصور الوسطى | {% t global.title %}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# إنتاج وتجارة الخرز الزجاجي في العصور الوسطى
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم الكشف عن انتشار الخرز الزجاجي في العصور الوسطى من خلال وفرته في المواقع الأثرية في جميع أنحاء أفريقيا ودول البحر المتوسط. مثل الذهب، تم استخدام الخرز الزجاجي كعملة وزينة فاخرة. كان الخرز الزجاجي الصغير والخفيف سهل النقل، وقد ساهم مظهره الملون اللامع في إضفاء مزيدٍ من الجاذبية عليه.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						تمتد جذور إنتاج الخرز الزجاجي إلى العصور القديمة. وبحلول حقبة العصور الوسطى، تم تصنيع الخرز في جميع أنحاء دول البحر الأبيض المتوسط وكذلك في أوروبا وفي موقع واحد على الأقل في غرب إفريقيا - في منطقة إيفي في منطقة الغابات في نيجيريا. منذ عام 2010 قاد عالم الآثار أبيديمي باباتوندي بابالولا عمليات التنقيب في إغبو أولوكون، وهو موقع داخل مدينة إيفي من القرون الوسطى. في عامي 2011 و 2012، قام فريق بابالولا باستخراج أكثر من 12000 خرزة زجاجية. يتميز الخرز الذي تم تصنيعه في إغبو أولوكون بوجود بصمة فريدة من مادة الألومنيوم العالي ونسبة مرتفعة من الحجر الجيري. وتشير عمليات التنقيب في إغبو أولوكون إلى أنه تم صنع ملايين الخرزات هناك وتصديرها على طول الطرقات في جميع الاتجاهات. تم استخراج هذا الخرز من المراكز التجارية الصحراوية الكبرى بما في ذلك إغبو أوكوو في نيجيريا وغاو وتادمكة في مالي.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Locations of Igbo Olokun in Ile-Ife" srcset="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_800.png 800w, /img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_300.png 300w" src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_800.png">
					<small>
						أماكن إغبو أولوكون في إيل إيفي. مُقتبس من ويليت 2004.
					</small>
				</section>

				<section>
					<img class="stretch" alt="Bead production waste excavated at Igbo Olokun" src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/medieval-beads-1_600.jpg">
					<small>بقايا إنتاج الخرز تم استخراجها من إغبو أولوكون. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا. تصوير كلير بريت </small>
				</section>

				<section>
					<img class="stretch" alt="Selection of complex or polychrome finished beads excavated at Igbo Olokun" src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/medieval-beads-2_600.jpg">
					<small>
						انتقاء خرز معقد أو متعدد الألوان تم استخراجه من إغبو أولوكون. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا. تصوير كلير بريت
					</small>
				</section>

				<section>
					<img class="stretch" alt="Selection of monochrome, variants of blue, and finished beads" src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/medieval-beads-3_600.jpg">
					<small>
						انتقاء صور أحادية اللون، وطرازات زرقاء، وخرز مُشطب مستخرج في إغبو أولوكون. اللجنة الوطنية للمتاحف والآثار، أبوجا، نيجيريا. تصوير كلير بريت
					</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						لمعرفة المزيد عن كيفية نقل الخرز الزجاجي وتبادله في جميع أنحاء الصحراء الكبرى، [watch an interview with archaeologist Abidemi Babatunde Babalola](https://vimeo.com/364139678).
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
