{% assign collection = site[include.collection] %}

<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container px-1'>
    <div id="{{ include.collection }}-facet-buttons" class="facet-buttons"></div>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery"></div>
  </div>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ include.collection }}-container');
    var gallery = $('#wax-gallery-{{ include.collection }}');
    var buttonDiv = $('#{{ include.collection }}-facet-buttons');

    {% for item in collection %}
      {%- capture item_html -%}
        "<div class='gallery-item {{ item[include.facet_by] | slugify }} all'><a href='{{ item.url | relative_url }}'><div class='hovereffect'><img class='img-responsive gallery-thumb lazyload' data-src='{{ item.thumb_150 | prepend: site.baseurl_root }}' alt='{{ item.label }}'/><div class='overlay'><p class='info'>{{ item.label }}</p></div></div></a></div>"
      {%- endcapture -%}
      gallery.append({{ item_html | strip_newlines }});
    {% endfor %}
  });
</script>
