<head>
  {% include google-analytics.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <title>
    {% t global.title %}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>
  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>
  <link rel="manifest" href="{{ '/manifest.json' | absolute_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#234190">
  <meta http-equiv="content-language" content="{{ site.lang }}">
  <meta name="msapplication-TileColor" content="#234190">
  <meta name="theme-color" content="#234190">
  <meta name="twitter:card" content="summary"></meta>
  <meta name="twitter:site" content="@NUblockmuseum" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% t global.title %}:{{ site.subtitle }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{site.url}}/img/bead-hero.jpg" />
  {% if page.jquery == true %}
  <script type='text/javascript' src="{{ '/assets/jquery-3.4.1.min.js' | absolute_url }}"></script>
  {% endif %}
  <noscript>Please enable JavaScript in your browser.</noscript>
</head>
