<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Mansa Musa's Hajj to Mecca | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

					<section>
						<h1>MANSA MUSA’S HAJJ TO MECCA</h1>
						<img class="stretch" alt="Mansa Musa depicted on the Catalan Atlas" src="/img/fragments/26/26_2_640x.jpg">
					</section>

					<section data-markdown>
						<textarea data-template>
							Based on the account recorded by the scholar Shihab al-‘Umari only a decade after Mansa Musa’s pilgrimage, the red line traces the route taken by the ruler and his large entourage in 1324–25. Musa, accompanied by a large entourage of courtiers, slaves, and warriors, traveled over 4,000 miles on his journey. After crossing the Sahara Desert, he rested in Cairo, Egypt. On his return he passed through his kingdom’s newly conquered territory, which included the important trading center of Gao.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Mansa Musa, the 14th-century ruler of the Mali Empire, was immensely wealthy and powerful. He controlled a territory that included the Bambuk and Bure gold fields, the Sahara Desert’s southern fringe, and the upper and middle Niger River. Musa made full use of his empire’s strategic location at the crossroads of these major zones of trade.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							In 1324 Musa embarked on the hajj, the religious pilgrimage to Mecca that all Muslims are expected to make in their lifetime. It was also an opportunity to forge alliances and to advertise his wealth and power through lavish displays. According to the scholar Shihab al-‘Umari, who interviewed residents of Cairo at the time of Musa’s visit, “this man flooded Cairo with his benefactions. He left no court emir nor holder of a royal office without the gift of a load of gold. . . . They spent gold until they depressed its value in Egypt and caused its price to fall.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Al-‘Umari describes the sumptuous diplomatic gifts that Musa received during his stay in Cairo:
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							>The sultan sent to him several complete suits of honor for himself, his courtiers, and all those who had come with him, and saddles and bridled horses for himself and his chief courtiers. His robe of honor consisted of an Alexandrian open-fronted cloak embellished with . . . cloth containing much gold thread and miniver fur, bordered with beaver fur and embroidered with metallic thread, along with golden fastenings, a silken skull-cap with caliphal emblems, a gold inlaid belt, a damascened sword, a kerchief [embroidered] with pure gold, standards, and two horses saddled and bridled and equipped with decorated mule-type saddles.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							To see a medieval map that charts trade networks and features Mansa Musa, [click here](/works/26/).
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Cap with striped inscribed silk, Egypt or Syria, Mamluk period, probably sultanate of al-Nasir al-Din Muhammad (reigned 1293–1341, with two interruptions), 14th century. Lampas fabric, silk and gold, 14 x 15.5 x 10.5 cm. The Cleveland Museum of Art, Cleveland, OH, purchase from the J.H. Wade Fund, 1985.5. Photograph courtesy of The Cleveland Museum of Art
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							During his sojourn in Cairo, Mansa, Musa was received by the sultan al-Nasir al-Din Muhammad, who showered him with gifts including a skullcap with caliphal emblems. The cap undoubtedly resemelbed this luxurious example, which is inscribed “Glory to our lord sultan al-Malik al-Nasir.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Signet ring. Iran, 15th–16th century. Silver. Los Angeles County Museum of Art, Los Angeles, CA, The Nasli M. Heeramaneck Collection, gift of Joan Palevsky, M.73.5.336.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							 The historian and geographer Abu ‘Ubayd al-Bakri (d. 1094) provided information about Saharan caravan trade to a readership hungry to learn about faraway trading partners. In his _Book of Routes and Realms_, published in 1063, al-Bakri describes royal succession in Kawkaw (present-day Gao): “When a king ascends the throne, he is handed a signet ring, a sword, and a copy of the Qur’an, which, as they assert, were sent to them by the Commander of the Faithful. Their king is a Muslim, for they entrust their kingship only to Muslims.” A sword and jewelry were among the diplomatic gifts received by Mansa Musa.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
