<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Niger River | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  # Connecting Trade to the Niger River
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							From its source in the Guinea Highlands, the Niger River moves northeastward into the plains of the Western Sudan. There, between the Niger and its tributary the Bani River, flooding creates a fertile zone called the Inland Niger Delta. Its rich soils gave rise to a thriving regional urbanism by the fourth century. Above the Inland Niger Delta, the Middle Niger region extends along the river's wide arc, with cities on its banks that sit close to the Sahara Desert.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Niger River was the main east--west throughway in the Western Sudan for transportation and exchange long before the escalation of trans-Saharan trade began in the eighth century. Saharan trade intersected with this lively exchange and contributed to the development of the powerful states of Ghana (seventh--thirteenth century), Mali (thirteenth--sixteenth century), and Songhai (fourteenth--sixteenth century) during the Middle Ages.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Residents of the Inland Niger Delta and the Middle Niger spoke Mande languages similar to those spoken at the sources of gold. This and their advantageous location---between the West African gold fields and the Sahara Desert---enabled them to become important intermediaries in the gold trade.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/map-niger-river_800.jpg, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/map-niger-river_300.jpg" class="stretch" alt="map-niger-river" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/map-niger-river_800.jpg">
						<p>The immense and fertile floodplain known as the Inland Niger Delta covers more than 20,000 square kilometers. To its north, the Middle Niger region runs through the southern edge of the Sahara Desert before turning southeastward towards West Africa's forest region.</p>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/brown-building_800.tif, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/brown-building_300.tif" class="stretch" alt="brown-building" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/brown-building_800.tif">
						<p>The great mosque of Jenne and the Monday great market, August 2013. Photograph by Hamdia Traore</p>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/15-kneeling-figure_800.tif, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/15-kneeling-figure_300.tif" class="stretch" alt="15-kneeling-figure" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/15-kneeling-figure_800.tif">
						<p>Kneeling Figure, Natamatao, Mopti region, Mali, 12th--14th century. Terracotta, 46 x 22.4 x 21.5 cm. Musée national du Mali, Bamako, 90.25.10. Photograph by Seydou Camara</p>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/16-horse_800.tif, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/16-horse_300.tif" class="stretch" alt="16-horse" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/16-horse_800.tif">
						<p>Horse*,* Natamatao, Mopti region, Mali, 12th--14th century. Terracotta, 37.7 x 23.5 x 45 cm. Musée national du Mali, Bamako, 2002.17.16. Photograph by Seydou Camara</p>
					</section>

					<section data-markdown >
						<textarea data-template>
							These terracotta figures of a seated man and horse were found at Natamatao, Mali, alongside skeletons of horses and humans. They are part of a widespread local terracotta sculpture tradition that stretched from the tenth to the fifteenth century<sup><a href="/notes/">18</a></sup> The Niger River's fertile inland delta supported a thriving urbanism in the Middle Ages that included more than sixty interdependent communities.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							At Natamatao, excavations unearthed materials associated with trans-Saharan trade, notably a bundle of imported copper ingots. Bracelets and pendants, like those depicted on the kneeling figure, might well have been made of brass, a copper alloy. The depiction of horses likewise points to commerce, as they were traded across the Sahara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Terracotta figures from sites in regions of the Inland Niger Delta and the Middle Niger have been the focus of substantial looting. Today these figures are among the tangible and intangible cultural heritage that is protected by the 1970 UNESCO convention to prohibit and prevent the illicit import, export, and transfer of cultural property and by the 1997 United States-Mali Cultural Property Agreement. Materials from the Bandiagara Cliffs and, most recently, medieval manuscripts from the region of Timbuktu are also included in the bilateral agreement.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							See Protecting and Preserving Cultural Heritage.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/17-blanket-fragment_800.tif, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/17-blanket-fragment_300.tif" class="stretch" alt="17-blanket-fragment" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/17-blanket-fragment_800.tif">
						<p>Fragment of a woven blanket, Tellem, Mali, 15th century. Cotton and wool textile in weft-faced plain weave, 60 x 84 cm. Musée national du Mali, Bamako, Y-74-22. Photograph by Seydou Camara</p>
					</section>

					<section data-markdown >
						<textarea data-template>
							The woven textiles found among burial remains in the caves of the Bandiagara Cliffs east of Mali's Inland Niger Delta are among the oldest surviving textiles from West Africa, with dates beginning in the eleventh century. As such, they provide important evidence for the longevity of weaving and dyeing technologies in the region. Large blanket fragments incorporate patterns shared by the Amazigh and Fulani peoples of the Sahara. The blanket itself is assembled from multiple woven bands, establishing the antiquity of a weaving technology unique to West Africa.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/18-biconical-bead_800.tif, /img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/18-biconical-bead_300.tif" class="stretch" alt="18-biconical-bead" data-src="/img/tour/saharan-frontiers/connecting-trade-to-the-niger-river/18-biconical-bead_800.tif">
						<p>Biconical bead, Fulani, Senegal, 19th/20th century. Gilded silver, 10.2 x 6 cm. Detroit Institute of Arts, Founders Society Purchase, Eleanor Clay Ford Fund for African Art, 77.10. Photograph courtesy of the Detroit Institute of Arts.</p>
					</section>

					<section data-markdown >
						<textarea data-template>
							This biconical, or double-cone-shaped, bead made in the late nineteenth or early twentieth century shares the shape of biconical beads from the medieval period. It is likely that the style continued to be produced in the region from the eleventh century onward; however, the beads are not exactly comparable. This later bead was cast in silver and then covered with a thin layer of gold over its surface, a technique called gilding. The surface of the bead is embellished with wire filigree, thin metal strips applied in a pattern, and granulation, small spheres of gold<sup><a href="/notes/">19</a></sup>
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							For an example of a biconical bead from the medieval period in Egypt or Syria, click here.
						</textarea>
					</section>
			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
