<!doctype html>
<html lang='en-us'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Sijilmasa | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}" title="Back to Homepage"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

					<section>
						<h1>SIJILMASA (flourished 8th&ndash;14th century)</h1>
					</section>

					<section data-markdown >
						<textarea data-template>
							*Around Sijilmasa there are deposits of gold and silver. The gold is found like plants, and it is said that the wind blows it away.*<sup><a href="/references/">8</a></sup>

							&mdash;Ahmad al-Ya‘qubi, 9th century
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Founded in the ninth century, Sijilmasa sits along the northern edge of the Sahara Desert in southeastern Morocco, adjacent to present-day Rissani. It lies in the Tafilalt Oasis, a basin of alluvial soils. Sijilmasa was a vital link in the African gold trade. Its mint struck gold coins as early as the tenth century, and evidence strongly suggests that West African gold passed through the area by the fourth century. While much of Sijilmasa was abandoned in the late fourteenth century, parts of the city, such as the great mosque, were used until the turn of the twentieth century.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Between 1988 and 1998 the Moroccan-American Project at Sijilmasa (MAPS) undertook six archaeological missions at Sijilmasa. Their excavations have revealed the remains of a citadel, an ore-processing site, a mosque, and an elite residence where a small gold filigree ring was found.<sup><a href="/references/">9</a></sup>  A caravanserai (a roadside inn where caravans could rest overnight), Souk Ben Akla, was located three miles west of the city on the banks of the Rheris River.
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/map_800.png, /img/tour/saharan-frontiers/sijilmasa/map_300.png" class="stretch" alt="Map of central Sijilmasa" src="/img/tour/saharan-frontiers/sijilmasa/map_800.png">
						<small>Plan of central Sijilmasa, located within the Tafilalt Oasis, produced by the Moroccan-American Project at Sijilmasa</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/gate_300.jpg, /img/tour/saharan-frontiers/sijilmasa/gate_600.jpg" class="stretch" alt="The Bab al-Rih (Gate of the Wind) or Bab Fez (Gate to Fez)" data-src="/img/tour/saharan-frontiers/sijilmasa/gate_300.jpg">
						<small>The Bab al-Rih (Gate of the Wind) or Bab Fez (Gate to Fez) stands at the northern limit of Sijilmasa. Ancient arcades over a portal were restored in a more recent era. Photograph by Kathleen Bickford Berzock, 2017</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/rounded-object_800.jpg 300w, /img/tour/saharan-frontiers/sijilmasa/rounded-object_800.jpg 600w" sizes="(max-width: 400px) 300px, 600px" src="/img/tour/saharan-frontiers/sijilmasa/rounded-object_800.jpg">
						<small>Oil lamp excavated at Sijilmasa (13 x 8.5 x 5 cm). Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/water-filter_300.jpg 300w, /img/tour/saharan-frontiers/sijilmasa/water-filter_600.jpg 600w" sizes="(max-width: 400px) 300px, 600px" src="/img/tour/saharan-frontiers/sijilmasa/water-filter_600.jpg">
						<small>Fragment of a water filter excavated at Sijilmasa (9 x 6 x 3 cm). Ministère de la culture et de la communication du Royaume du Maroc.  Photograph by Fouad Mahdaoui</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/colored-fragments_300.jpg 300w, /img/tour/saharan-frontiers/sijilmasa/colored-fragments_600.jpg 600w" sizes="(max-width: 400px) 300px, 600px" src="/img/tour/saharan-frontiers/sijilmasa/colored-fragments_600.jpg">
						<small><i>Cuerda seca</i> ceramic fragments excavated at Sijilmasa (various dimensions). Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/glazed-ceramic_300.jpg 300w, /img/tour/saharan-frontiers/sijilmasa/glazed-ceramic_600.jpg 600w" sizes="(max-width: 400px) 300px, 600px" src="/img/tour/saharan-frontiers/sijilmasa/glazed-ceramic_600.jpg">
						<small>Glazed ceramic fragments excavated at Sijilmasa (various dimensions). Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui</small>
					</section>

					<section>
						<img src="/img/works/4/4_640x.jpg">
						<small>Carved stucco fragment excavated at Sijilmasa (47.5 x 28.5 cm). Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui</small>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/wall-decoration_300.jpg 300w, /img/tour/saharan-frontiers/sijilmasa/wall-decoration_600.jpg 600w" sizes="(max-width: 400px) 300px, 600px" src="/img/tour/saharan-frontiers/sijilmasa/wall-decoration_600.jpg">
						<small>Fragment of painted wall decoration, Sijilmasa, Morocco, 9th/10th century. Plaster, 21 x 19 cm. Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Sijilmasa was a sizeable and wealthy urban center in its heyday. The Andalusian historian and geographer Abu ‘Ubayd al-Bakri (d. 1094) described the city as “a wall with twelve gates. Within are beautiful houses, many having gardens, magnificent public buildings, a mosque that is solidly built, and baths that are poorly built.”<sup><a href="/references/">10</a></sup>
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
						 This fragment of painted plaster bears a portion of an inscription from the Qur’an that would have read in full, “On no soul doth God place a burden greater than it can bear. It gets every good that it earns, and it suffers every ill that it earns.” It was found at the site of an elite residence of the ninth or tenth century. Just a century or two later, a mosque was built on the same location.
						</textarea>
					</section>

					<section>
						<img src="/img/works/5/5_300x.jpg">
						<small>Ring, excavated at Sijilmasa, Morocco, 9th/10th century. Gold, diameter 1.9 cm. Fondation nationale des musées du Royaume du Maroc, Rabat, 2006-1. Photograph by Abdallah Fili and Hafsa El Hassani</small>
					</section>

					<section data-markdown >
						<textarea data-template>
						 This gold ring is one of only a few gold objects to have survived from medieval Saharan Africa, and it is important material evidence of Sijilmasa’s link to Saharan trade. A goldsmith made the ring by soldering thin flattened strips of gold in an undulating pattern to upper and lower bands. The ring was found in an elite residence and dates to an extended period of development of the city by local Amazigh rulers, the Bani Midrar.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
						 The gold-working technique resembles that of nineteenth- and twentieth-century Amazigh jewelry from the Sahara and Anti-Atlas Mountains.
						</textarea>
					</section>

					<section>
						<img src="/img/works/6/6_300x.jpg">
						<small>Vase inscribed with “al-Baraka,” Sijilmasa, Morocco, 11th century. Glazed ceramic, 25.4 x 17.8 x 14 cm. Musée archéologique de Rabat, Morocco. Photograph by the Moroccan-American Project at Sijilmasa, 1988</small>
					</section>

					<section data-markdown >
						<textarea data-template>
						 Vast amounts of glazed and unglazed ceramic fragments—the remains of bowls, jugs, lamps, storage containers, and other items essential to daily life—have been excavated at sites north and south of the Sahara. This glazed and inscribed vase, from the eleventh century, is one of the best preserved ceramic objects excavated from Sijilmasa.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
						 Found west of the remains of Sijilmasa’s grand mosque, the vase bears a decorative inscription reading “al-Baraka” (the blessing) followed by “Allah” (God) or “al-yawman” (prosperity).
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
						 To hear more about the research and excavation of the site of Sijilmasa, [watch interviews with archaeologists Abdallah Fili and Ron Messier](https://vimeo.com/showcase/6379862).
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
