<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Sijilmasa | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  ## SAHARAN FRONTIERS

							_SIJILMASA (flourished 8th--14th century)_
						</textarea>
					</section>

					<section>
						<img srcset="/img/tour/saharan-frontiers/map_800.jpg, /img/tour/saharan-frontiers/map_300.jpg" class="stretch" alt="Map of central Sijilmasa" data-src="/img/tour/saharan-frontiers/map_800.jpg">
						<p>Plan of central Sijilmasa, located within the Tafilalt Oasis, produced by the Moroccan-American Project at Sijilmasa</p>
					</section>


					<section>
						<img srcset="/img/tour/saharan-frontiers/sijilmasa/gate_300.jpg, /img/tour/saharan-frontiers/sijilmasa/gate_600.jpg" class="stretch" alt="The Bab al-Rih (Gate of the Wind) or Bab Fez (Gate to Fez)" data-src="/img/tour/saharan-frontiers/sijilmasa/gate_300.jpg">
						<p>The Bab al-Rih (Gate of the Wind) or Bab Fez (Gate to Fez) stands at the northern limit of Sijilmasa. Ancient arcades over a portal were restored in a more recent era. Photograph by Kathleen Bickford Berzock, 2017</p>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
