<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>الرغبة الدافعة | {% t global.title %}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# الرغبة الدافعة
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/driving-desires/gold-washing_600.jpg 600w, /img/tour/driving-desires/gold-washing_300.jpg 300w" class="stretch" alt="Woman separating gold from sand" src="/img/tour/driving-desires/gold-washing_600.jpg">
					<small> امرأة تفصل الذهب عن الرمال، نهر فاليم، السنغال. قامت الأسر الريفية في هذه المنطقة الغنية بالذهب باستخراج الذهب وتعدينه بين الفينة والأخرى في المواسم الجافة استكمالا للزراعة في موسم الأمطار. تصوير روبين دافيجنون، 2013</small>
				</section>

				<section>
					<img srcset="/img/tour/driving-desires/salt-slabs_600.jpg 600w, /img/tour/driving-desires/salt-slabs_300.jpg 300w" class="stretch" alt="salt slabs" src="/img/tour/driving-desires/salt-slabs_600.jpg">
					<small>يتم نقل ألواح الملح من الصحراء الكبرى بالإبل إلى ميناء الشحن بالقرب من نهر النيجر ثم تُشحن بالقوارب إلى أسواق مثل هذا السوق الموجود في موبتي، مالي. الصورة مجاملة من مكتبة صور دي أغوستيني، 2016 / صور غيتي</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						كان الذهب والملح في الصدارة من حيث التبادل عبر الصحراء في العصور الوسطى. وقد دعمت هذه السلع معًا الاقتصاد العالمي الذي ميّز العصور الوسطى.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						روى الرحالة والدبلوماسي ابن بطوطة، الذي كتب شهادته عن رحلته عبر الصحراء الكبرى في منتصف القرن الرابع عشر قائلا: "كان سكان غرب السودان يستخدمون الملح للعملة مثل استخدام الذهب والفضة. لقد قطعوه إلى قطع واستخدموه في معاملاتهم."  كانت الرحلة عبر الصحراء الكبرى شاقة ومحفوفة بالمخاطر في بعض الأحيان. تبلغ سرعة قافلة الجمال حوالي ثلاثة أميال في الساعة، ويمكن للقوافل أن تسافر لأكثر من 2500 ميل في رحلة عبر الصحراء. ويتطلب التغلب على هذه المخاطر التي يشكلها هذا السفر - مثل العطش والجوع وحتى الموت - دافعًا قويًا.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						بالنسبة للتجار الذين يسافرون جنوبًا عبر الصحراء، كان عامل الجذب الرئيسي عندهم هو ذهب غرب إفريقيا، حيث كانوا معجبين لدرجة كبيرة جدا لنقائه وقيمته الرمزية. وقد ساهمت صفات الذهب الخاصة - والتي تتمثل في ندرته، وتألقه، وسهولة تشكيله ومقاومته للتشويه وكذلك صعوبة استخراجه من الأرض - كل ذلك ساهم في ارتفاع قيمته. قامت الإمبراطوريات التي كانت موجودة في شمال إفريقيا والشرق الأوسط وأوروبا بسك الذهب في عملات معدنية واستخدامها لصنع وتزيين الأشياء الفاخرة. وقد زوّد الذهب الموجود في غرب إفريقيا هؤلاء الحكام والتجار بالوسائل اللازمة للحصول على السلع من مسافات بعيدة. وكان الملح الصخري، المستخرج من قلب الصحراء، من بين أهم هذه السلع. فالملح، الذي هو ضروري للحياة البشرية، كان شحيحًا في غرب أفريقيا. إلى جانب هذه السلع الأساسية، تم تداول السلع الكمالية الأخرى أيضًا، بما في ذلك العاج والنحاس والأواني الزجاجية والخرز الزجاجي.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Atlas maritime charts" srcset="/img/tour/driving-desires/atlas_600.jpg 600w, /img/tour/driving-desires/atlas_300.jpg 300w" src="/img/tour/driving-desires/atlas_600.jpg">
					<small>أبراهام كريسكيز (؟). أطلس الخرائط البحرية (الأطلس الكتالوني)، 1375. مخطوطة مضيئة مثبتة على ست ألواح خشبية، كل منها بمقاس 64.5 × 25 سم. مكتبة فرنسا الوطنية، باريس، السيدة إسبانجول 30</small>
				</section>

				<section>
					<img class="stretch" alt="section of Atlas maritime charts" src="/img/works/26/26_1_640x.jpg">
				</section>

				<section>
					<img class="stretch" alt="section of Atlas maritime charts" src="/img/works/26/26_2_640x.jpg">
				</section>

				<section>
					<img class="stretch" alt="section of Atlas maritime charts" src="/img/works/26/26_3_640x.jpg">
				</section>

				<section data-markdown >
					<textarea data-template>
						تم إعداد هذه الخريطة الفخمة بتكليفٍ من ملك أراغون تشارلز الخامس، ملك فرنسا، ورسمها عالم رسم الخرائط اليهودي أبراهام كريسكيز. وتم الانتهاء منها في عام 1375. كان تاج أراغون، وهو اتحاد من الأقاليم القوية التي تضم أجزاء من شبه جزيرة أيبيريا والجزر الموجودة في البحر الأبيض المتوسط، في موقع متميز يحظى بقوة تجارية. يُبرز الأطلس الكاتالوني الاهتمام الأوروبي الكبير بالتجارة العالمية ويدل على دور غرب إفريقيا في تعزيز شبكات التبادل. تم تصوير مانسا موسى، إمبراطور مالي، بشكل بارز على اللوحة الثانية جالساً على العرش وممسكاً بكرة ذهبية في يد واحدة. تقول التسمية التوضيحية: "هذا الحاكم المغاربي يُدعى موس ميلي [مانسا موسى]، ملك غينيا. هذا الملك هو الحاكم الأغنى والأكثر تميزًا في هذه المنطقة بأكملها بسبب الكمية الكبيرة من الذهب التي وُجدت في أراضيه.”
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Solidus of Honorius" src="/img/works/27/27_640x.jpg">
					<small>عملات هونوريوس الذهبية، ميلان، 395/400. ذهب، بقطر 1.23 سم. المتحف الأثري بالرباط، المغرب، 24.3. تصوير فؤاد مهداوي</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						من المحتمل أن تعود أصول تجارة الذهب عبر الصحراء إلى القرن الرابع الميلادي. كانت المواقع الاستيطانية الرومانية في شمال أفريقيا في وضع جيد يسمح لها بالتجارة ونشر الذهب والسلع الأخرى في الإمبراطورية الرومانية الواسعة. تم إصدار أول عملة ذهبية رومانية ويظهر بها صورة الإمبراطور هونوريوس في لمحة عامة عنه، من قبل الإمبراطورية الرومانية في 312 وكان وزنها 4.5 جرام.  أصبح المقدار وزياداته هي الوحدات القياسية لوزن الذهب أينما استُخدمت العملات المعدنية الرومانية، واستمر استخدامها من قبل الدول الإسلامية في شمال أفريقيا والشرق الأوسط خلال العصور الوسطى. ومن الممكن أن يكون هذا النظام قد تم نقله أيضًا عبر التجارة الصحراوية إلى غرب إفريقيا، حيث استخدم في أوزان الذهب في القرن التاسع عشر في منطقة أكان في غانا.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Map of dinar mint sites" src="/img/tour/driving-desires/map-of-dinar-sites.jpg">
					<small>Map of dinar mint sites from the exhibition <em>Caravans of Gold</em>, 2018</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم صك الدينار من الذهب في غرب أفريقيا طوال فترة القرون الوسطى. تُظهر هذه الخريطة دور صك العملة خلال فترة الدولة المرابطية (حوالي 1040-1147). أسستها قبيلة صنهاجة الأمازيغية، التي نشأت في منطقة جنوب موريتانيا الحالية، وهي في ذروتها، سيطرت على أجزاء من نهر النيجر، والصحراء الكبرى، والبحر الأبيض المتوسط. وقد أنتجت دور صك العملة التابعة للدولة المرابطية عملات ذهبية أكثر من أي إمبراطورية أخرى في الأراضي الإسلامية الغربية. وقد كانت عملاتهم عالية القيمة لأنها صُنعت من ذهب غرب إفريقيا، والذي اشتهر بكونه أنقى من أي ذهب من أي مصدر آخر معروف. كانت دار صك العملة في مدينة سجلماسة، وهي الأقرب إلى حقول الذهب الموجودة في غرب إفريقيا، أحد أكثر المواقع في الإنتاجية.
					</textarea>
				</section>


				<section>
					<img class="stretch" alt="Dinar of Abu Inan Faris" src="/img/works/28/28_640x.jpg">
					<small>دينار أبو عنان فارس (حكم من 1348-1358)، مصكوك في سجلماسة. ذهب، قطر 1.0 سم. مجموعة بنك المغرب، البنك المركزي للمملكة المغربية، 533341. تصوير فؤاد مهداوي</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						الدينار مشتق من معيار العملة الذهبية الرومانية، وكان عملة إسلامية بوزن موحّد يبلغ 4.5 جرام. تم استحداث الدينار في القرن السابع وجرى صكه في أماكن أخرى في جميع بلدان البحر الأبيض المتوسط باستخدام الذهب في غرب إفريقيا غالبًا. يعتبر الدينار ذو قيمة كبيرة وكان يستخدم في المقام الأول للمصروفات الكبيرة فقط. تم صك هذا الدينار في سجلماسة، بالمغرب، حيث كانت واحدة من أكثر الأماكن في الإنتاجية بسبب قربها من مصادر الذهب في غرب إفريقيا. يسجل النقش على الدينار القيادة السياسية لأبو عنان فارس ويضع سجلماسة كمركز رئيسي للتجارة والإنتاج.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Florin, with the emblem of Florence" src="/img/works/29/29_1_640x.jpg">
					<small>عملة الفلورين، مع وضع شعار فلورنسا (وجه العملة) ويوحنا المعمدان (الوجه الآخر)، فلورنسا، 1252/1303. ذهب، قطر 1.23 سم. جمعية علم المسكوكات الأمريكية، نيويورك، 1954.237.214. الصورة مجاملة من جمعية علم المسكوكات الأمريكية </small>
				</section>

				<section>
					<img class="stretch" alt="Florin, with the emblem of Florence" src="/img/works/29/29_2_640x.jpg">
					<small>عملة الفلورين، مع وضع شعار فلورنسا (وجه العملة) ويوحنا المعمدان (الوجه الآخر)، فلورنسا، 1252/1303. ذهب، قطر 1.23 سم. جمعية علم المسكوكات الأمريكية، نيويورك، 1954.237.214. الصورة مجاملة من جمعية علم المسكوكات الأمريكية </small>
				</section>

				<section data-markdown >
					<textarea data-template>
						في عام 1252، اعتمدت مدينة فلورنسا في إيطاليا المعيار الذهبي وبدأت في سك عملتها الخاصة. كان هذا الاعتماد مدعومًا بتدفق الذهب من غرب إفريقيا عبر طرق التجارة عبر الصحراء. تم ختم عملة الفلورين باستخدام زهرة الزنبق على أحد الوجهين مع وضع صورة يوحنا المعمدان، وهو القديس الراعي لمدينة فلورنسا، على الوجه الآخر. تظهر علامة صك العملة فوق يد يوحنا المعمدان اليمنى، في إشارةٍ إلى مكان إنتاج العملة. يمكن أيضًا طرق عملة الفلورين لتشكيل ورقة ذهبية قيّمة، والتي استُخدمت لتزيين بعض الأشياء بما في ذلك اللوحات الدينية.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Coronation of the Virgin" src="/img/works/30/30_640x.jpg">
					<small>تتويج العذراء، إيطاليا، القرن الخامس عشر. زخرفة وذهب على لوحة، بمقاس 76.2 × 55.9 سم. متحف جامعة لويولا للفنون، شيكاغو، إلينوي، مارتين دارسي، S.J.، مجموعة، هدية إيلين أوشوغنيسي، 1985 ، 1985: 03. تصوير كلير بريت</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						غالبًا ما كانت الأعمال الفنية المسيحية في العصور الوسطى مزخرفة بأوراق ذهبية. في هذه اللوحة الفنيّة من إيطاليا، يضع المسيح تاجًا على رأس والدته مريمتجسيدًا لدورها كملكة السماء. تملأ الملائكة والشخصيات المسيحية المقدسة الأخرى الفضاء السماوي الذي تعكسه الخلفية الذهبية. جاء معظم الذهب المستخدم في إيطاليا من غرب إفريقيا عبر طرق التجارة عبر الصحراء. بدءًا من القرن الثالث عشر، بدأت دول المدن الإيطالية مثل فلورنسا والبندقية صك العملات الذهبية المصنوعة إلى حد كبير من الذهب الموجود في غرب إفريقيا. تم طرق هذه العملات إلى طبقات رقيقة، حيث استخدمت بعد ذلك كورقة ذهبية. واستطاع الحرفيون صنع أكثر من مائة ورقة من عملة واحدة.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Biconical bead. Gold, with filigree, granulation, and 'rope' wire" src="/img/works/31/31_640x.jpg">
					<small>خرزة مخروطية ثنائية الاتجاه،مصر أو سوريا، القرن العاشر / الحادي عشر. ذهب، مخرّم، وحبيبات، وسلك "حبل"، طوله 7.2 سم. تصوير © متحف الآغا خان، تورونتو، AKM610</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						كانت الخلافة الفاطمية الثرية والقوية (909-1171)، والتي حكمت عبر شمال أفريقيا ومصر وسوريا، نشطة في شبكات التجارة عبر الصحراء والبحر الأبيض المتوسط، والمحيط الهندي. تنافس حكام الخلافة الفاطمية مع الأمويين في إسبانيا للوصول إلى الذهب الموجود في غرب إفريقيا وللسيطرة على المدن التجارية الكبرى مثل مدينة سجلماسة. تتكون هذه الخرزة الفاطمية الكبيرة والمُطَوّلة من مخروطين مُزخرفين متحدين بطول الدرزة المركزية، وهو شكل يرجع إلى العصور القديمة. تقنية التَخْرِيم هي تقنية معقدة تعتمد على لحام الأسلاك الدقيقة في ورقة قاعدية، حيث يقوم صائغو الذهب بثني صفائح معدنية رقيقة وإنشاء زخرفة جذابة بصريًا.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						أصبح الخرز المخروطي ثنائي الاتجاه منتشراً على نطاق واسع عبر دول البحر الأبيض المتوسط والصحراء الكبرى في العصور الوسطى. يتسم خرز التراكوتا الفخاري الصغير الموجود في منطقة غاو، مالي، بنفس الشكل المخروطي المزدوج، مما يدل على انتقال هذا النموذج.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Leaf from the Blue Qur'an, Chapter 2, Al-Baqara (The Cow): verses 148&ndash;150" src="/img/works/32/32_640x.jpg">
					<small>ورقة من "المصحف الأزرق"، الجزء الثاني، سورة البقرة: الآيات 148-150،العراق أو إيران أو تونس، القرن التاسع / العاشر. ذهب وفضة على ورق أزرق اللون، بمقاس 28.5 × 35.3 سم. تصوير ©  متحف الآغا خان، تورونتو، AKM248</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تحتوي صفحة هذا المصحف الفاخر على نص ذهبي وفضي على رق مكتوب باللون الأزرق. تم وضع المصحف الأزرق في مكتبة المسجد الكبير بالقيروان في تونس منذ عام 1294 على الأقل. تنتشر اليوم أكثر من مائة من صفحاته البالغ عددها 600 صفحة في مجموعات حول العالم وأكثر من ستين صفحة منها في تونس. على الرغم من أن العلماء يختلفون حول المصدر الدقيق لهذا المصحف الفاخر، إلا أن استخدام النص الذهبي والفضي على رق أزرق غامق يشير إلى التنافس مع المخطوطات المصبوغة باللون الأرجواني (من حلزون البحر الموريكسي) التي يتم تداولها أيضًا في المحاكم حول حوض البحر الأبيض المتوسط.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						خلال فترة القرون الوسطى، امتدت ثقافة نسخ المخطوطات المشتركة بين المسلمين والمسيحيين واليهود عبر شمال أفريقيا والشرق الأوسط وأوروبا. تضمنت العناصر الشائعة في هذا التقليد المخطوطي على فن الخط الراقي والزينة الملونة بما في ذلك الذهب الأغلفة الجلدية الزخرفية. يتم استيراد الذهب والجلد، وكلاهما يستخدم بشكل بارز في صناعة الكتب، من غرب أفريقيا. انتشرت ثقافة الكتاب في دول غرب إفريقيا مثلما انتشر الإسلام عبر الصحراء الكبرى.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Ethics of the Fathers (Pirkei Avot)" src="/img/works/33/33_640x-0.jpg">
					<small>أخلاق الآباء (Pirkei Avot)، السيدور (كتاب الصلاة)، لشبونة، أواخر القرن الخامس عشر. حبر، ألوان مائية غير شفافة، وذهب على مخطوطة. مكتبة المدرسة اللاهوتية اليهودية الأمريكية، نيويورك، 8235. الصورة مجاملة من مكتبة المدرسة اللاهوتية اليهودية الأمريكية</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						يعكس هذا الكتاب (السيدور)، وهو كتاب الصلاة اليهودي، تذوقاً لمخزون الزخرفة الدقيق. تم تزيين الصفحات الرئيسية أيضًا بورق ذهبي وبعض الألوان المائية. لقد كان الذهب - الكثير منه يأتي من غرب إفريقيا - مادة فنية هامة عبر ثلاثة من أديان شعوب البحر الأبيض المتوسط الرئيسية في العصور الوسطى: اليهودية والمسيحية والإسلام. لقد قدم الحرفيون اليهود، الذين تعاملوا غالبًا مع الذهب واشتغلوا به، مساهمات كبيرة في مجال الفن والثقافة خلال العصور الوسطى، وقدموا أعمالاً للعملاء اليهود والمسلمين والمسيحيين.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Virgin and Child" src="/img/works/34/34_640x.jpg">
					<small>العذراء والطفل، فرنسا، حوالي 1275/1300. عاج مطلي، بمقاس 36.8 × 16.5 × 12.7 سم. متحف المتروبوليتان للفنون، نيويورك، هدية من جي بيربون مورجان، 1917، 17.190.295. صورة © متحف المتروبوليتان للفنون. مصدر الصورة: الموارد الفنية، نيويورك</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						كانت الأنياب العاجية من بين السلع الفاخرة المتداولة عبر الصحراء الكبرى إلى جانب الذهب. تم العثور على سلالتين من الفيلة في غرب أفريقيا: فيل السافانا، وهو أكبر أنواع الفيلة على الإطلاق، وفيل الغابة. تم تداول أنياب الفيلة خلال التجارة عبر الصحراء في العصور الوسطى.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						تمثل صناعة تماثيل العذراء والطفل كبيرة الحجم تتويجا لنحت العاج في العصور الوسطى في فرنسا، وهذا التمثال هو من بين أكبر التماثيل. قد يكون التمثال الصلب، ذو قطر 16.5 سم في أوسع نقطة منه، مصنوعًا فقط من ناب فيل سافانا. قام الفنان بتكبير حجم صور العذراء والطفل التي تم الحصول عليها من ناب كبير وتضخيمه بإضافة قطع عاجية منفصلة لصناعة العرش. تم الانتهاء من هذا التمثال الصغير مع تفاصيل مكتوبة بحروف صغيرة جداً من الطلاء والذهب.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Casket. Ivory, brass, tempera, and gold leaf" src="/img/works/35/35_640x.jpg">
					<small>تابوت، صقلية، القرن الثاني عشر. عاج، نحاس، وزخارف، وورق ذهبي، بمقاس 9.5 × 15.9 × 9.7 سم. معهد شيكاغو للفنون، وقف مالي لصموئيل بوتنام أفري ، 1926.389. الصور مجاملة من معهد شيكاغو للفنون / الموارد الفنية، نيويورك</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم صنع هذا الصندوق العاجي، أو التابوت، في جزيرة صقلية، قبالة الطرف الجنوبي لإيطاليا، بعد فترة ليست طويلة على غزو النورمان. لم يتم تشريد سكان جزيرة صقلية المسلمين الناطقين بالعربية بالكامل من قبل النورمان، وقد ساهمت هذه المجتمعات - وعلاقاتهم التجارية - بشكل كبير في ثقافة مرئية فريدة ازدهرت في ظل حكم النورمان. الصندوق مزخرف بأوراق ذهبية وتجهيزات نحاسية، وهي مواد قيمة تم توزيعها باستخدام العاج عبر شبكات كانت مركزية للتجارة عبر الصحراء الكبرى. نقوش باللغة العربية تقول "عسى أن يدوم المجد".
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Coronation of the Virgin" src="/img/works/36/36_640x.jpg">
					<small>تتويج العذراء، الإنجليزية، حوالي 1480. خيط ذهبي وحريري على كتان، 29.5 × 32.4 سم. متحف جامعة لويولا للفنون، شيكاغو، إلينوي، مارتن دارسي، S.J.، مجموعة، هدية من D.F. راو، S.J. ، في ذكرى السيدة ماري فلانري، 1976: 01. تصوير كلير بريت</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						هذه القطعة النسيجية المطرزة بكثافة والتي تصور تتويج العذراء، وهي قصة مسيحية شعبية في تلك الفترة، كانت على الأرجح جزءًا من عباءة رسمية أو رداء احتفالي. بينما تشير وثائق هذه الفترة إلى أن الثياب الفاخرة المطرزة كانت ترتديها النخبة، فقد تم صنع غالبية المطرزات الباقية للاستخدام في الكنيسة.  يتم دمج كميات كبيرة من الخيوط الذهبية في المشهد. على الرغم من اكتشاف رواسب الذهب في أوروبا في العصور الوسطى اللاحقة، فقد ظل الذهب في غرب إفريقيا يحظى بتقدير كبير نظراً لجودته ونقائه. يقدم حطام سفينة في منتصف القرن السابع عشر أدلة دامغة على تصدير الذهب من غرب إفريقيا إلى انجلترا. وقد غرقت هذه السفينة قبالة ساحل ديفون، بانجلترا، وكانت تحمل قطعاً من المجوهرات الذهبية، وسبائك، وأكثر من 400 عملة ذهبية، معظمها تم صكها في المغرب بين القرنين الحادي عشر والسابع عشر.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
