---
layout: default
---

{% unless page.show_title == false %}
  <h3 class='page-title'>{{ page.title }}</h3>
{% endunless %}

<img class="img-fluid text-centered" srcset="/img/tour/long-reach-of-the-sahara/map-long-reach_300.jpg 300w, /img/tour/long-reach-of-the-sahara/map-long-reach_800.jpg 600w" sizes="(max-width: 600px) 300px, 600px" src="/img/tour/long-reach-of-the-sahara/map-long-reach_800.jpg">
<p class="small">{{ page.caption }}</p>

{{ content }}

<h5 id="sections">Sections</h5>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara/igbo/" title="إيغبو أوكو ">
    <div class="content-overlay"></div>
    <img class="card-img" srcset="/img/tour/man_on_camel_card_300.jpg 300w, /img/tour/man_on_camel_card_800.jpg 800w" sizes="(max-width: 600px) 300px,
            800px" src="/img/tour/man_on_camel_card_800.jpg" alt="Igbo Ukwu tour">
    <div class="content-details">
      <h5>إيغبو أوكو </h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara/ife/" title="إيفي ومدارها">
    <div class="content-overlay"></div>
    <img class="card-img" srcset="/img/tour/saharan-frontiers_300.jpg 300w, /img/tour/saharan-frontiers_800.jpg 800w" sizes="(max-width: 600px) 300px,
            800px" src="/img/tour/saharan-frontiers_300.jpg" alt="Ife and Its Orbit tour">
    <div class="content-details">
      <h5>إيفي ومدارها</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara/central-sudan/" title="خرز زجاجي في العصور الوسطى">
    <div class="content-overlay"></div>
    <img class="card-img" srcset="/img/tour/atlas-of-maritime_300.jpg 300w, /img/tour/atlas-of-maritime_800.jpg 800w" sizes="(max-width: 600px) 300px,
            800px" src="/img/tour/atlas-of-maritime_300.jpg" alt="Central Sudan/Durbi Takusheyi tour">
    <div class="content-details">
      <h5>خرز زجاجي في العصور الوسطى</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara/medieval-glass-beads/" title="خرز زجاجي في العصور الوسطى">
    <div class="content-overlay"></div>
    <img class="card-img" srcset="/img/tour/igbo-tour_300.jpg 300w, /img/tour/igbo-tour_800.jpg 800w" sizes="(max-width: 600px) 300px,
            800px" src="/img/tour/igbo-tour_300.jpg" alt="Medieval Glass Beads tour">
    <div class="content-details">
      <h5>خرز زجاجي في العصور الوسطى</h5>
    </div>
  </a>
</div>
