<!doctype html>
<html lang='ar'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>أصداء الصحراء | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">
		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>الهدف</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/#sections"><em>خلف</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section >
							<h1>أصداء الصحراء</h1>
					</section>

					<section>
						<img class="stretch" src="/img/tour/saharan-echoes/intro_800.jpg" alt="man on camel">
						<small>رجل يمتطي ناقته إلى السوق في منطقة أغاديز بوسط النيجر. تصوير سينثيا بيكر، 2009 </small>
					</section>

					<section data-markdown >
						<textarea data-template>
							تتجلى أصداء الماضي في الثقافة المرئية الحديثة للصحراء وغرب إفريقيا.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
								في حين أن الاكتشافات الأثرية والنصوص العربية بالقرون الوسطى والروايات الشفوية تعتبر من الموارد المهمة لفهم ماضي إفريقيا، إلا أنها تخبرنا بالقليل عن طبيعة الحياة اليومية في الصحراء الكبرى خلال العصور الوسطى. وبغياب مصادر تاريخية بالغة الأهمية، يصبح من المفيد اللجوء إلى بعض الممارسات المادية والثقافية الحديثة للشعوب الأمازيغية الصحراوية - حيث يرتبط العديد منها ارتباطًا وثيقًا بالماضي - للحصول على مسارٍ يُرشدك لتصور الماضي.  يتتبع هذا الجزء أصول الممارسات الثقافية والأشكال والأنماط الزخرفية على المجوهرات والمشغولات الجلدية والمنسوجات من الصحراء ومناطقها النائية حتى فترة العصور الوسطى.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Tuareg camel saddle (tarik or tamzak)" src="/img/works/1/1_640x.jpg">
						<small>
							سرج الجمل (طارق أو تمزق)، الطوارق، الصحراء الجزائرية، تاريخ غير معروف (ربما القرن العشرين). الجلود، والجلد الخام غير المدبوغ، والخشب، والرَقّ أو الجلد الرقيق المستخدم للكتابة، والصوف، والحرير، والمعدن المطلي بالقصدير، والمعدن المطلي بالنحاس، والحديد، وسبائك النحاس، وجلد الفهد، بأبعاد 75 × 71 × 46 سم. متحف بيبودي لعلم الآثار وعلم الأجناس، جامعة هارفارد، كامبريدج، ماساتشوسيتس، هدية لعقار د. لويد كابوت بريجز، 1975، 975-32-50/11927. تصوير © رئيس وزملاء كلية هارفارد، متحف بيبودي لعلم الآثار وعلم الأجناس
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							يعتقد المؤرخون أن التجارة والتبادل عبر الصحراء كانت نادرة إلى أن تم استئناس الإبل على نطاق واسع في القرون الأولى من التقويم الميلادي. فالإبل مثالية للتنقل في الصحراء الكبرى: فهي نادرًا ما تتعرق، حتى في المناخ الصحراوي الحار، ويمكنها الحفاظ على السوائللفترات طويلة.  وباستخدام الإبل في الركوب وحمل الأمتعة، سيطر الطوارق والشعوب الأمازيغية الأخرى في الصحراء على طرق القوافل التي امتدت عبر الصحراء. وقد اعتمد اقتصادهم على الرعي وتجارة الملح. شهامة شعب الطوارق
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							اعتمدوا على الحرفيين الماهرين لتصنيع منتجات خشبية ومعدنية وجلدية مثل هذا السرج.  هذا النموذج مزخرف للغاية بحيث لا يمكن استخدامه في السفر الطويل. تم صناعته من خلال تغطية نواة خشبية بقطعة جلد مزخرفة ومصبوغة ثم تزيين المقابض وأجزاء أخرى بزخارف معدنية مليئة بأنماط هندسية.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Drawing of a guinbri" src="/img/works/2/2_640x.jpg">
						<small>
							رسم الكمبري.  مستنسخة من جورج هجيرسينج هوست، تقارير عن المغرب وفاس (Efterretninger om Marokos og Fes: Samlede der i Landene fra ao. 1760 til 1768). كوبنهاغن: ن. مولر ، 1779. مكتبة ميلفيل ج. هيرسكوفيتس للدراسات الإفريقية، جامعة نورث ويسترن، إيفانستون، إلينوي، DT308.H83 1779. تصوير كلير بريت
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							منذ القرن التاسع عشر على الأقل، استُخدمت كلمة كْناوة في المغرب للإشارة إلى سلالة الأشخاص المستعبدين من غرب السودان. وأصبح المصطلح مرتبطا الآن بالمغاربة السود الذين يذهبون للترفيه في الساحات العامة وعلى مسرح الحفلات الموسيقية. وتعتبر الكمبري من أرقى الآلات الموسيقية في موسيقى الكْناوة. وقد أخذت رسمة الكمبري عن رواية رجل الأعمال والدبلوماسي الدنماركي جورج هوست عن رحلاته
						</textarea>
					</section>

					<section data-markdown>
						<textarea data-template>
							إلى المغرب. وقد نُشرت عام 1779، وهي أول ذكر معروف لمصطلح الكمبري في الأدب الأوروبي. قد تكون هذه الآلة مأخوذة من تلك الآلة التي وصفها الرحالة المسلم ابن بطوطة في القرن الرابع عشر بأنه يتم العزف بها في بلاط إمبراطورية مالي وأنه أطلق عليها اسم الكمبري.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Head ornament" src="/img/works/3/3_640x.jpg">
						<small>
							زينة الرأس، تكنة، العيون، الصحراء الغربية، منتصف القرن العشرين. شعر نايلون وبولي بروبيلين، عنبر، مرجان، صدف، فضة، عقيق وخرز زجاجي، بأبعاد 12.5 × 18 × 2.6 سم. معهد شيكاغو للفنون، مؤسسة السدورف - صندوق مقتنيات جيمس ومارلين السدورف، 2009.574. الصور مجاملة من معهد شيكاغو للفنون / الموارد الفنية، نيويورك
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							تعيش قبيلة "تكنة" في الجزء الشمالي الغربي من الصحراء وينحدرون من الأمازيغ والعرب المحليين الذين هاجروا إلى المنطقة بين القرنين الخامس عشر والسابع عشر. يتكون غطاء الرأس الخاص بقبيلة تكنة من شعر اصطناعي مضفر ومعقد، على الرغم من إمكانية استخدام شعر ذيل الحصان في الماضي. الخيول والخرز الزجاجي والفضة والمرجان والصدف والأحجار الصلبة التي تُستخدم لغطاء الرأس تعود إلى تداول هذه المواد القيّمة في العصور الوسطى، مما يدل على كيفية استمرار إرث الماضي في التأثير على الحاضر.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
