<!doctype html>
<html lang='ar'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>	مجافاة الصحراء | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# مجافاة الصحراء
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						في أواخر القرن الخامس عشر، نتج عن التجارة مع الأوروبيين عبر ساحل الأطلسي انخفاض التجارة عبر الصحراء الكبرى. كما إن إنشاء التجارة مع الأوروبيين على طول ساحل المحيط الأطلسي في أفريقيا في أواخر القرن الخامس عشر تجاوز بشكل فعال سلسلة الوسطاء التي كانت ضرورية للتجارة الصحراوية. وقد أتاحت السفن إمكانية نقل المزيد من البضائع. ظل الذهب والعاج وغيرهما من السلع الأساسية للتجارة الصحراوية من السلع الهامة، خاصة في الأيام الأولى للتجارة الساحلية. ومع ذلك، سوف تهيمن تجارة الرقيق قريبًا على الاقتصاد الأطلسي.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						تباطأ إنشاء مراكز تجارية جديدة على طول ساحل غرب أفريقيا، لكنه لم يضع نهاية للتجارة عبر الصحراء. ومع انتقال تجارة الذهب جنوبًا، ساهم ذلك في إنشاء إمبراطورية أشانتي (في دولة غانا اليوم). وهناك استمر إرث تجارة الذهب الصحراوي، خاصة في أنظمة القياس القائمة على المثقال (4.5 جرام) التي كانت تُستخدم لوزن الذهب.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Bowl (kuduo), Asante, Offin River" src="/img/works/48/48_640x.jpg">
					<small>وعاء (كودو)، أشانتي، نهر أوفن، غانا، القرن السادس عشر/الثامن عشر (؟). نحاس، 15 × 32 سم. المتحف البريطاني، لندن، Af1955،05.225. صورة © أمناء المتحف البريطاني. تمت المشاركة بموجب ترخيص المشاع الإبداعي، مؤسسة غير ربحية- ShareAlike 4.0 International ‏(CC BY-NC-SA 4.0)</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم اكتشاف هذا الوعاء عام 1909 أثناء التنقيب عن الذهب على طول ضفاف نهر أوفن في جنوب غانا. إن تشابهها الرسمي مع أحواض وأوعية من النحاس المملوكي في القرنين الرابع عشر والخامس عشر، والتي تم استيرادها عبر الصحراء الكبرى في أواخر العصور الوسطى، تقدم دليلاً دامغاً على أن صناعة أكان كودو مستوحاة من واردات شمال شرق أفريقيا.  يتطابق شكل الوعاء ووضع زخرفته السطحية تقريبًا مع الأوعية المملوكية المنقوشة التي ترجع للعصر المملوكي؛ ومع ذلك، فإن بعض التفاصيل، مثل استخدام نص زائف - محاولة فنان غير ملم باللغة العربية لالتقاط الجوهر الرسمي للخط العربي - وتمثيل التماسيح والأسماك الطينية، وقد قام سكان غابة أكان، في اثنين من الميداليات الثماني بعرض كيفية قيام الفنان المحلي بإعادة تفسير العناصر المرئية المهمة.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					[لرؤية وعاء مملوكي كان مصدر إلهام وعاء أكان كودو، انقر هنا](/tour/long-reach-of-the-sahara/central-sudan/#mamluk-bowl).
					</textarea>
				</section>

				<section>
					<img alt="Scale, scoop, boxes, and weights for measuring gold" src="/img/works/49/49_640x.jpg">
					<small>مقياس، ومغرفة، وصناديق، وأوزان لقياس الذهب من غانا وكوت ديفوار، أكان، القرن الثامن عشر / أواخر القرن التاسع عشر. سبائك نحاسية، أصغر مقاس 0.6 × 12.1 × 0.2 سم؛ أكبر مقاس 2.5 × 14.9 × 7.3 سم. المتحف الوطني للفن الأفريقي، مؤسسة سميثسونيان، واشنطن العاصمة، هدايا سينثيا إي. السيد والسيدة روبرت بيفيل، والسيد والسيدة آلان بريسلر، والسيد والسيدة جيلبرت شولمان، وروبرت ب. دين، و بنيامين فايس، 70-20-54، 70-20-81 ، 75-22-1، 75-22-575، 76-51-7، 80-28-18. تصوير فرانكو خوري، المتحف الوطني للفنون الإفريقية، مؤسسة سميثسونيان </small>
				</section>

				<section data-markdown >
					<textarea data-template>
						مع تحول انتباه التجار الأوروبيين إلى ساحل المحيط الأطلسي في إفريقيا في أواخر القرن الخامس عشر، تغير اتجاه تجارة الذهب أيضًا. واستجابة لذلك، فقد ظهرت دول جديدة في المناطق الناطقة باللغة الأكانية في أفريقيا، وتم نقل جوانب تجارة الذهب الصحراوي إلى هذا السوق الجديد. على سبيل المثال، اعتمد نظام أكان لوزن الذهب على المثقال، وهي وحدة وزن تساوي 4.5 جرام (0.16 أونصة). أدى الاقتصاد القائم على الذهب في أكان إلى ظهور مجموعة من الأشياء الجديدة المذهلة لقياس الذهب: مثل المجارف والملاعق والصناديق، وخاصة أوزان السبائك النحاسية في مجموعة متنوعة من الأشكال، والتي يشير بعضها أيضًا إلى التصاميم الهندسية للتقاليد الصحراوية الإسلامية.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Left: 5 guinea of James II. Right: 1 guinea coin of James II" src="/img/works/50/50_640x.jpg">
					<small>على اليسار: 5 عملات من غينيا تخص جيمس الثاني، مصكوكة في لندن، 1685. ذهب، قطر 3.5 سم. جمعية علم المسكوكات الأمريكية، نيويورك، 1957.172.19. على اليمين: 1 عملة من غينيا تخص جيمس الثاني، 1688، مصكوكة في لندن. ذهب، قطر 2.5 سم. الصورة مجاملة من جمعية علم المسكوكات الأمريكية، نيويورك، 0000.999.596</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تنافس الهولنديون والإنجليز على التجارة المربحة على طول الساحل الغربي لأفريقيا في منتصف القرن السابع عشر. خلال هذه الفترة، قام الإنجليز بإنتاج عملات معدنية غينية تحمل علامة الفيل والقلعة تحت تمثال نصفي للملك الإنجليزي جيمس الثاني. تم ختم النقش فقط على العملات المعدنية المصنوعة من الذهب في غرب إفريقيا التي حصلت عليها شركة رويال أفريقيا، التي تم إنشاؤها حديثًاً، والتي تم منحها احتكارًا لهذه التجارة من قبل التاج البريطاني في عام 1672. توضح هذه الأيقونة الأهمية المستمرة للذهب والعاج كسلع، حتى مع تحول التجارة بعيدًا عن الطرق الصحراوية.
					</textarea>
				</section>

				<section id="jewelry-and-ingots">
					<img class="stretch" alt="Fragments of jewelry and ingots" src="/img/works/51/51_640x.jpg">
					<small>تم العثور على قطع من المجوهرات والسبائك في شمال إفريقيا في موقع سالكومب كانون، ديفون، إنجلترا. ذهب، أصغر مقاس 2 × 1.2 سم؛ أكبر مقاس 3 × 2.1 سم. المتحف البريطاني، لندن، إنجلترا، 1999 ، 1207.449 ، .450 ، .460 ، .461 ، .465 ، .470 ، .474. تصوير © أمناء المتحف البريطاني. تمت المشاركة بموجب ترخيص المشاع الإبداعي، مؤسسة غير ربحية- ShareAlike 4.0 International ‏(CC BY-NC-SA 4.0)</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						في عام 1992 تم اكتشاف حطام سفينة قبالة ساحل ديفون، إنجلترا. غرقت هذه السفينة في منتصف القرن السابع عشر في طريقها من شمال إفريقيا إلى إنجلترا. وشملت حمولتها أكثر من 400 عملة ذهبية، معظمها مصكوكة في المغرب في القرنين السادس عشر والسابع عشر، بالإضافة إلى سبائك من الذهب والمجوهرات. ومعظمها تعرض للتآكل والكسر، وكانت هذه الأشياء الذهبية في طريقها إلى الانصهار وإعادة استخدامها. توفر هذه العناصر النادرة اليوم دليلاً قوياً على تصدير الذهب الأفريقي إلى أوروبا.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="The Asante Jug (Richard II Ewer)" src="/img/works/52/52_640x.jpg">
					<small>إبريق من أشانتي (ريتشارد إيوير الثاني)، صُنع في إنجلترا عام 1390/99، وعُثر عليه في قصر مانهيا، منطقة أشانتي، غانا. سبيكة نحاسية، 62.3 × 33 سم. المتحف البريطاني، لندن، إنجلترا، 1896،0727.1. تصوير © أمناء المتحف البريطاني. تمت المشاركة بموجب ترخيص المشاع الإبداعي، مؤسسة غير ربحية- ShareAlike 4.0 International ‏(CC BY-NC-SA 4.0)</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						تم أخذ هذا الإبريق، الذي صُنع في إنجلترا في القرن الرابع عشر، عن طريق البريطانيين من كوماسي، عاصمة مملكة أشانتي، خلال حرب الأنجلو اشانتي عام 1896. وهو منمق بزخارف في شكل شعارات ونصوص لومباردية. تشير الأذرع الملكية لإنجلترا في مقدمة الإبريق إلى عهد كل من إدوارد الثالث وريتشارد الثاني، لكن الشارات الموجودة على الغطاء الذي يصور الظبي تشير إلى أنه تم إنتاجه خلال عهد ريتشارد، وتحديداً بين 1390 و 1400. ربما يكون هذا الإبريق قد سافر عبر طرق التجارة الصحراوية بعد فترة وجيزة من صنعه، أو ربما تم استيراده إلى أشانتي في وقت لاحق عبر التجارة التي كانت على طول ساحل المحيط الأطلسي.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Courtyard" srcset="/img/tour/shifting-away-from-the-sahara/shifting-away_600.jpg 600w, /img/tour/shifting-away-from-the-sahara/shifting-away_300.jpg 300w" src="/img/tour/shifting-away-from-the-sahara/shifting-away_600.jpg">
					<small>صورة فناء إما في الضريح الملكي أو في قصر ملك أشانتي، حيث يمكن رؤية الإبريق الأشانتي (ريتشارد إيوير الثاني)، حوالي 1887. الأرشيف الوطني للمملكة المتحدة، المرجع. CO1069 / 31(7). المصور غير معروف</small>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
