<!doctype html>
<html lang='en-us'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Shifting Away from the Sahara | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# SHIFTING AWAY FROM THE SAHARA
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						In the late fifteenth century, the establishment of Atlantic-coast trade with Europeans led to a decline in trade across the Sahara Desert. The establishment of trade with Europeans along Africa's Atlantic coast in the late fifteenth century effectively bypassed the series of intermediaries that were essential to Saharan trade. Ships made possible the transport of more goods. Gold, ivory, and other Saharan trade staples remained important commodities, especially in the early days of coastal trade. However, the slave trade would soon dominate the Atlantic economy.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The creation of new trading centers along the West African coast slowed but did not end trans-Saharan trade. As the gold trade shifted southward, it contributed to the creation of the Asante Empire (in today's nation of Ghana). There the legacy of Saharan gold trading continued particularly in the systems of measure based on the *mithqal* (4.5 grams) that were used to weigh gold.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Bowl (kuduo), Asante, Offin River" src="/img/works/48/48_640x.jpg">
					<small>Bowl (<em>kuduo</em>), Asante, Offin River, Ghana, 16th/18th(?) century. Brass, 15 x 32 cm. British Museum, London, Af1955,05.225. Image © The Trustees of the British Museum. Shared under a Creative Commons Attribution-NonCommercial- ShareAlike 4.0 International (CC BY-NC-SA 4.0) license</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This bowl was discovered in 1909 during dredging for gold along the banks of the Offin River in southern Ghana. Its formal similarity to Mamluk brass bowls and basins of the fourteenth and fifteenth centuries that were imported across the Sahara Desert in the late medieval period provides compelling evidence that the making of Akan kuduo was inspired by the north-east African imports.<sup><a href="/references/">39</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The bowl's profile and the placement of its surface decoration are almost identical to Mamluk period Arabic-inscribed bowls; however, details such as the use of a pseudo script&mdash;an attempt by an artist unfamiliar with Arabic to capture the formal essence of Arabic calligraphy&mdash;and the representation of stylized crocodiles and mudfish, inhabitants of the Akan forest, in two of the eight medallions show how a local artist may have reinterpreted important visual elements.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						To see a Mamluk bowl that inspired Akan kuduo like this one, [click here](/tour/long-reach-of-the-sahara/central-sudan/#mamluk-bowl).
					</textarea>
				</section>

				<section>
					<img alt="Scale, scoop, boxes, and weights for measuring gold" src="/img/works/49/49_640x.jpg">
					<small>Scale, scoop, boxes, and weights for measuring gold from Ghana and Côte d'Ivoire, Akan, 18th/late 19th century. Copper alloy, smallest 0.6 x 12.1 x 0.2 cm; largest 2.5 x 14.9 x 7.3 cm. National Museum of African Art, Smithsonian Institution, Washington, DC, gifts of Cynthia E. Gubemick; Mr.and Mrs. Robert Bevill, Mr. and Mrs. Alan Bresler, Mr. and Mrs. Gilbert Shulman, Robert B. Dean, and Benjamin Weiss, 70-20-54, 70-20-81, 75-22-1, 75-22-575, 76-51-7, 80-28-18. Photograph by Franko Khoury, National Museum of African Art, Smithsonian Institution</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						As European merchants shifted their attention to Africa’s Atlantic coast in the late 15th century, the direction of the gold trade also shifted. In response, new states arose in Africa’s Akan-speaking regions, and aspects of the Saharan gold trade were transferred to this new market. For instance, the Akan system for weighing gold was based on the _mithqal_, a unit of weight equal to 4.5 grams (0.16 ounce).
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The Akan gold economy gave rise to an array of striking new objects for measuring gold: scoops, spoons, boxes, and especially copper-alloy weights in a great variety of forms, some of which also reference the geometric designs of the Muslim Saharan world.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Left: 5 guinea of James II. Right: 1 guinea coin of James II" src="/img/works/50/50_640x.jpg">
					<small>Left: 5 guinea of James II, struck at London, 1685. Gold, قطر 3.5 cm. American Numismatic Society, New York, 1957.172.19. Right: 1 guinea coin of James II, 1688, struck at London. Gold, قطر 2.5 cm. Photograph courtesy of the American Numismatic Society, New York, 0000.999.596</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						The Dutch and English vied for lucrative trade along Africa's West Coast in the mid-seventeenth century. During this period the English produced guinea coins marked with an elephant-and-castle motif below a bust of the English king, James II. The motif was stamped only onto coins made from West African gold acquired by the newly established Royal Africa Company, which was granted a monopoly on this trade by the British crown in 1672. This iconography illustrates the continuing importance of gold and ivory as commodities, even as trade shifted away from Saharan routes.
					</textarea>
				</section>

				<section id="jewelry-and-ingots">
					<img class="stretch" alt="Fragments of jewelry and ingots" src="/img/works/51/51_640x.jpg">
					<small>Fragments of jewelry and ingots, manufactured in North Africa, found at Salcombe Cannon Site, Devon, England. Gold, smallest 2 x 1.2 cm; largest 3 x 2.1 cm. The British Museum, London, England, 1999,1207.449, .450, .460, .461, .465, .470, and .474. Photograph © The Trustees of the British Museum. Shared under a Creative Commons Attribution-NonCommercial- ShareAlike 4.0 International (CC BY-NC-SA 4.0) license</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						In 1992 a shipwreck was discovered off the coast of Devon, England. The ship had sunk in the mid-seventeenth century on its way from North Africa to England. Its cargo included more than 400 gold coins, most of them minted in Morocco in the sixteenth and seventeenth centuries, as well as gold ingots and jewelry. Mostly worn and broken, these gold objects were on their way to be melted down and repurposed. Today these rare items provide compelling evidence of the export of African gold to Europe.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="The Asante Jug (Richard II Ewer)" src="/img/works/52/52_640x.jpg">
					<small>The Asante Jug (Richard II Ewer), manufactured in England, 1390/99, and found at Manhyia Palace, Kumase, Asante region, Ghana. Copper alloy, 62.3 x 33 cm. The British Museum, London, England, 1896,0727.1. Photograph © The Trustees of the British Museum. Shared under a Creative Commons Attribution-NonCommercial- ShareAlike 4.0 International (CC BY-NC-SA 4.0) license</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This ewer, which was made in England in the fourteenth century, was taken by the British from Kumase, the capital of the Asante Kingdom, during the Anglo-Asante War of 1896. It is embellished with heraldic motifs and Lombardic inscriptions. The royal arms of England on the front of the jug reference the reigns of both Edward III and Richard II, but the badges on the lid depicting a stag indicate that it was produced during Richard's reign, specifically between 1390 and 1400.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The ewer might have traveled across Saharan trade routes soon after it was made, or it might have been imported to Asante at a later time through trade along the Atlantic coast.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Courtyard" srcset="/img/tour/shifting-away-from-the-sahara/shifting-away_600.jpg 600w, /img/tour/shifting-away-from-the-sahara/shifting-away_300.jpg 300w" src="/img/tour/shifting-away-from-the-sahara/shifting-away_600.jpg">
					<small>Courtyard in either the royal mausoleum or in the palace of the King of Asante, where The Asante Jug (Richard II Ewer) can be seen, ca. 1887. The National Archives of the UK, ref. CO1069/31(7). Photographer unknown</small>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
