<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>The Long Reach of the Sahara: The Central Sudan and Durbai Takusheyi | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# THE CENTRAL SUDAN AND DURBI TAKUSHEYI (14th&ndash;15th century)
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						East of the Niger River’s arc, the Central Sudan extends to Lake Chad and its vast basin, which has supported settled habitation since the first millennium BCE. As with the Western Sudan, populations in the Central Sudan engaged in trans-Saharan trade during the medieval period. Routes that passed through the region linked Egypt with the Niger River, supporting an economy that was bolstered by trade in multiple directions.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Durbi Takusheyi is situated halfway between the Niger River and Lake Chad, in the heart of the Central Sudan. It provides some of the earliest documentation for the Hausa kingdoms, which would grow to dominate the region between the 16th and the 19th century. Excavations at Durbi Takusheyi included burials with sumptuous grave goods that attest to global interactions.<sup><a href="/references/">33</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Contents of graves 7, 4, and 5 at the site of Durbi Takusheyi, Nigeria. Drawing by Vera Kassühlke, Römisch-Germanisches Zentralmuseum, Mainz, after Gerhard Liesegang’s field notes, 1992.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Rods excavated from 14th-century tombs at Durbi Takusheyi, Nigeria. National Commission for Museums and Monuments, Abuja. Photograph by Volker Iserhardt
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						These long brass ingots were buried within an elite grave at Durbi Takusheyi along with other copper alloy objects made locally and imported from North of the Sahara. Copper was a sought after commodity in trans-Saharan trade that was mined from sources in the Sahara and in Europe. The exchange of copper transported southward across the Sahara for gold is described in the mid-tenth century by ‘Ishaq Ibn al-Husayn’: “Their country (the Sudan) has much gold, but the people there prefer brass to gold.”<sup><a href="/references/">34</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The origins of the metals alloyed to make these ingots is not clear. However, a preliminary isotopic analysis of the ingots and the copper-alloy objects cast in Durbi Takusheyi suggests possible sources in France, the Iberian Peninsula, and the Middle East.<sup><a href="/references/">35</a></sup> Thin rod-shaped copper ingots dated between the 11th and 13th century were found at Ma’den Ifajen, Mauretania and at Natamatao, Mali.<sup><a href="/references/">36</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Recent excavations at Tamdult, Morocco, by a Moroccan/UK team (Institut National des Sciences de l’Archéologie et du Patrimoine/British Museum) have recorded fragments of moulds that would have produced ingots with a similar form to those excavated at Durbi Takusheyi.<sup><a href="/references/">37</a></sup>
					</textarea>
				</section>

				<section id="mamluk-bowl">
					<img class="stretch" alt="Heads of an elephant and of a hippopotamus" src="/img/works/45/45_640x.jpg">
					<small>Mamluk bowl (left) and two buckets (right) excavated from Durbi Takusheyi.</small>
					<br>
					<small>Bowl: possibly Egypt, late 14th/15th century. Brass, 15.7 x 41.1 cm; bucket (right back): possibly Egypt, late 14th/15th century. Brass, 15 x 16 cm; bucket (right front): Durbi Takusheyi, late 14th/15th century. Brass, 15.5 x 18 cm. National Commission for Museums and Monuments, Abuja, Nigeria. Photograph by René Müller, Römisch-Germanisches Zentralmuseum, Mainz</small>
				</section>

				<section data-markdown >
					<textarea data-template>
					  This Mamluk bowl, which was made in Egypt or Syria, was recovered from a burial at Durbi Takusheyi, Nigeria. The decorative patterns and Arabic inscription that encircle the bowl were originally inlaid with silver and gold, and placed within it were five pieces of gold jewelry, possibly imported from the Western Sudan region, as well as cowrie shells, and brass and silver armlets.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  In the Mamluk Sultanate, vessels like this were made by specialized metalworkers, the nahassin, for the society’s elite who used them as spectacular display pieces and diplomatic gifts. Several Mamluk-period brass bowls have also been preserved at shrines in northern Ghana, to the west of Durbi Takusheyi. These objects are evidence of active trade in luxury wares across the Sahara from the Mamluk Sultantate (1250-1517).
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  To see an example of a later Asante bowl inspired by the form of Mamluk bowls, click here.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  Jewelry from tumulus 7, Durbi Takusheyi, Nigeria, 13th/15th century. Gold, largest maximum width 1.25 in.  National Commission for Museums and Monuments, Abuja, Nigeria. Photograph by René Müller
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						These five pieces of solid gold jewelry were found in a large Mamluk brass bowl from Egypt or Syria, buried beside an individual of high status who also wore ivory, silver, and copper-alloy bracelets, a carnelian necklace, and a richly woven beaded belt. The gold-working techniques manifested in the gold jewelry at Durbi Takusheyi point to trade connections across West Africa. The circular pendant, with its five dome-shaped cabochons, is reminiscent of techniques used to make a pendant known as the Rao Pectoral from Senegal, while the earrings recall tenth-century Amazigh silverwork.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
