<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>The Long Reach of the Sahara: IFE AND ITS ORBIT (13th/14th century) | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# IFE AND ITS ORBIT (13th/14th century)
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Ife, in Central Nigeria, was the political and ritual center of a kingdom that supported a multiethnic regional economy. Its reach extended to the Niger River, nearly 120 miles to its north, paving the way for participation in global networks of exchange. Finds at the village of Tada, on the banks of the Niger, and on Jebba Island suggest that they were strategic outposts for Ife, linking the kingdom to north-south and east-west trade routes.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Workshops at Ife produced a corpus of sculptural arts in pure copper, copper alloy, and terracotta. The city was also a center for a prolific glassmaking and glass-bead industry, which was located in the manufacturing quarter called Igbo Olokun.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Though limited in scope, scientific analysis of the copper and copper-alloy sculptures from Ife suggests that the ores were mined in France. Active routes of exchange connected Europe with West Africa at this time. It is possible that copper, in the form of ingots, was transported along these routes to cities in West Africa.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/ife-and-orbit/41-seated-figure_800.tif, /img/tour/long-reach-of-the-sahara/ife-and-orbit/41-seated-figure_300.tif" class="stretch" alt="41-seated-figure" data-src="/img/tour/long-reach-of-the-sahara/ife-and-orbit/41-seated-figure_800.tif">
					<p>Seated figure, possibly from Ile-Ife, found at Tada, Nigeria, late 13th/14th century. Copper with traces of arsenic, lead, and tin, height 54 cm. National Commission for Museums and Monuments, Abuja, Nigeria, 79.R18. Photograph by Museum for African Art and The Fundación Marcelino Botín/ Karin L. Wilis</p>
				</section>

				<section data-markdown >
					<textarea data-template>
						The style and the extraordinarily thin casting of this naturalistic figure point to its likely creation at Ife, the royal capital of a powerful kingdom. In the early twentieth century, the figure was part of the ritual life of Tada, a small village on the banks of the Niger River 120 miles north of Ife. Every Friday it was taken to the Niger River to be ritually bathed with sand and water, accompanied by chants in Yoruba, a language associated with the city of Ife.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						During the medieval period, Tada's location would have been of strategic importance to Ife, connecting it with long-distance trade. Analysis of the raw copper from which the statue is made suggests that it might have originated in France and traveled along these very trade routes to Ife, where it was cast.
					</textarea>
				</section>


				<section data-markdown >
					<textarea data-template>
						To see examples of brass ingots that were imported from north of the Sahara, click here.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/ife-and-orbit/42-bowman_800.tif, /img/tour/long-reach-of-the-sahara/ife-and-orbit/42-bowman_300.tif" class="stretch" alt="42-bowman" data-src="/img/tour/long-reach-of-the-sahara/ife-and-orbit/42-bowman_800.tif">
					<p>Bowman, Jebba Island, Nigeria, 14th/15th century. Copper alloy, height 95 cm. National Commission for Museums and Monuments, Abuja, Nigeria, 79.R19. Photograph Museum for African Art and The Fundación Marcelino Botín/Karin L. Wilis</p>
				</section>

				<section data-markdown >
					<textarea data-template>
						This figure of a man wearing woven or quilted armor and carrying a quiver on his back was found on Jebba Island in the Niger River at a critical juncture for north-south and east-west trade routes. The figure also wears a large medallion, necklaces, armlets, and anklets strung with cowrie shells. Cowries from the Indian Ocean were used as currency in parts of medieval West Africa and might have been transported overland to Central Nigeria along east-west routes or across the Sahara and down the Niger River before they could serve as an artistic reference for the creator of this figure.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/ife-and-orbit/43-head-elephant-hippo_800.tif, /img/tour/long-reach-of-the-sahara/ife-and-orbit/43-head-elephant-hippo_300.tif" class="stretch" alt="43-head-elephant-hippo" data-src="/img/tour/long-reach-of-the-sahara/ife-and-orbit/43-head-elephant-hippo_800.tif">
					<p>Heads of an elephant and of a hippopotamus, Ife, Lafogido, 12th/15th Nigeria, excavated at century. Terracotta, height 18.5 cm (elephant), 15 cm (hippopatamus). National Commission for Museums and Monuments, Abuja, Nigeria, 63/24a and 72/18a. Photograph by Uche James Iroha</p>
				</section>

				<section data-markdown >
					<textarea data-template>
						These stylized terracotta heads of an elephant and a hippopotamus are portrayed in the splendid regalia of the ruling elite of Ife, including headdresses and necklaces embellished with beads of different sizes. The association of these powerful animals with political leaders is almost certainly a statement of authority. Elephant and hippopotamus tusks were valuable commodities in the interregional trade that followed the Niger River and connected with trans-Saharan routes of exchange.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
