<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>The Long Reach of the Sahara: IGBO UKWU (8th–early 12th century) | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# IGBO UKWU (8th–early 12th century)
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The town of Igbo Ukwu lies west of the Niger River in Nigeria's forest region. Excavations conducted there unearthed a remarkable group of over 600 prestige objects including extraordinary cast copper-alloy sculptures and more than 165,000 glass and carnelian beads.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Evidence ties wealthy and powerful Igbo Ukwu to global medieval trade networks that extended down the Niger River from the edge of the Sahara Desert. Glass beads provide a telling link: the same types have been found at Igbo Ukwu and at Gao, Mali, in the Western Sudan.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Analysis of cast objects from Igbo Ukwu shows its strong ties to local trade. Most of the copper and alloys&mdash;primarily tin, lead, and silver&mdash;used to make bronze objects there came from nearby sources. This supports the hypothesis that at its inception Igbo Ukwu's innovative metal casting industry was self-sustaining. Nonetheless, metal analysis also suggests that the production of copper alloys at Igbo Ukwu may have been supplemented by copper from the Sahara, particularly in the second half of its existence.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/igbo-ukwu/38-armlets_800.tif, /img/tour/long-reach-of-the-sahara/igbo-ukwu/38-armlets_300.tif" class="stretch" alt="38-armlets" data-src="/img/tour/long-reach-of-the-sahara/igbo-ukwu/38-armlets_800.tif">
					<small>Armlets, 9th/10th century, excavated at Igbo Richard, Igbo Ukwu, eastern Nigeria. Beads and copper wire, height 14.9 cm. National Commission for Museums and Monuments, Abuja, Nigeria, IR.416 and IR.417. Photograph by Uche James Iroha</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This blue glass armlet was excavated from a royal grave at Igbo Ukwu. Thurstan Shaw, who led excavations at the site, found that many beads from the site are distinguished by high lime and high aluminum content. The discovery of a bead workshop producing high-lime and high-aluminum beads 389 kilometers southeast at a site called Igbo Olokun, within the city of Ife, supports the hypothesis that these unique beads were made and exchanged locally.<sup><a href="/references/">32</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Yet, of the 165,000 stone and glass beads found at Igbo Ukwu, many are also traceable to the Mediterranean, the Levant, the Middle East, Arabia, and India. Beads at the site offer an interesting look into the polity's connections to local and long-distance trade networks, including those crossing the Sahara.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/igbo-ukwu/40-double-egg-pendant_800.tif, /img/tour/long-reach-of-the-sahara/igbo-ukwu/40-double-egg-pendant_300.tif" class="stretch" alt="40-double-egg-pendant" data-src="/img/tour/long-reach-of-the-sahara/igbo-ukwu/40-double-egg-pendant_800.tif">
					<small>Horse and rider finial, Igbo Ukwu, excavated from Igbo Richard (burial), 8th/early 11th century. Bronze, 14 x 5 cm. National Commission for Museums and Monuments, Abuja, Nigeria, IR.350. Photograph by Uche James Iroha</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This ornament, which would have crowned a staff or pole, is the earliest known representation of a horse and rider from Africa's central forest region. How the object was made is an open question. Horses cannot survive in the forest for long due to fly-borne disease. It is possible that horses were imported, at great expense, along routes of exchange with the Western Sudan and North Africa.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Another possibility is that another object representing a horse and rider was imported, inspiring an artist to make this ornament. The rider is depicted wearing beaded regalia as well as facial scarifications associated today with elite titleholders.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/igbo-ukwu/39-horse-rider-finial_800.jpg, /img/tour/long-reach-of-the-sahara/igbo-ukwu/39-horse-rider-finial_300.jpg" class="stretch" alt="39-horse-rider-finial" data-src="/img/tour/long-reach-of-the-sahara/igbo-ukwu/39-horse-rider-finial_800.jpg">
					<small>Double-egg pendant, 9th/10th century, excavated at Igbo Richard, Igbo Ukwu, eastern Nigeria. Leaded bronze, glass beads, 1 x 6 x 5.5 in. National Commission for Museums and Monuments, Abuja, Nigeria, IS.367. Photograph © Dirk Bakker/Bridgeman Images</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This pendant of a bird perched atop two large eggs was excavated at the site of a shrine storehouse at Igbo Olokun. Its textured surface highlights the artistry and technological skill of the city's bronze-casting workshops. The raised ropes and dots that embellish the pendant evoke the abundant number of beads, also found at Igbo Ukwu, that circulated along local and long-distance trade routes.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Many of the copper alloy objects found at the site were designed to be decorated with glass beads; this pendant of a bird and two eggs was found alongside yellow beads and copper wires that attached through loops cast along the object's side.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						For more on the archaeological process and to learn how glass beads in Sub-Saharan Africa were produced, moved, and exchanged, [watch an interview with archaeologist Adidemi Babatunde Babalola](https://vimeo.com/359358800).
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
