<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>The Long Reach of the Sahara: MEDIEVAL GLASS BEAD PRODUCTION AND TRADE | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/long-reach-of-the-sahara/#sections"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# MEDIEVAL GLASS BEAD PRODUCTION AND TRADE
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The popularity of glass beads in the medieval period is revealed by their abundance in archaeological sites across Africa and throughout the Mediterranean world. Like gold, glass beads were used as currency and as a luxurious embellishment. Small and lightweight, glass beads were easy to transport, and their colorful, shiny appearance made them appealing.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Glass bead production has its roots in antiquity. By the medieval period beads were manufactured throughout the Mediterranean as well as in Europe and in at least one location in West Africa—at Ife in the forest region of Nigeria. Archaeologist Abidemi Babatunde Babalola has led excavations at Igbo Olokun, a site within the medieval city of Ife, since 2010. In 2011 and 2012, Babalola’s team recovered over 12,000 glass beads.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The beads manufactured at Igbo Olokun have a unique material signature of high aluminum and high lime content. The excavations at Igbo Olokun suggest that millions of beads were made there and exported along routes in all directions. Such beads have been excavated at major Saharan trading centers including Igbo Ukwu in Nigeria and Gao and Tadmekka in Mali.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Locations of Igbo Olokun in Ile-Ife" srcset="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_800.png 800w, /img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_300.png 300w" src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_800.png">
					<small>
						Locations of Igbo Olokun in Ile-Ife. Adapted from Willett 2004. <sup><a href="/references/">38</a></sup>
					</small>
				</section>

				<section>
					<img class="stretch" alt="Bead production waste excavated at Igbo Olokun" src="/img/works/47/47_1_640x.jpg">
					<small>Bead production waste excavated at Igbo Olokun. National Commission for Museums and Monuments, Abuja, Nigeria. Photograph by Clare Britt</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						Selection of complex or polychrome finished beads excavated at Igbo Olokun. National Commission for Museums and Monuments, Abuja, Nigeria. Photograph by Clare Britt
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Selection of monochrome, variants of blue, and finished beads excavated at Igbo Olokun. National Commission for Museums and Monuments, Abuja, Nigeria. Photograph by Clare Britt
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						For more on how glass beads were moved and exchanged throughout the Sahara, [watch an interview with archaeologist Abidemi Babatunde Babalola](https://vimeo.com/364139678).
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
