<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>The Long Reach of the Sahara: Medieval Glass Bead Production and Trade | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						THE LONG REACH OF THE SAHARA: MEDIEVAL GLASS BEAD PRODUCTION AND TRADE
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The popularity of glass beads in the medieval period is revealed by their abundance in archaeological sites across Africa and throughout the Mediterranean world. Like gold, glass beads were used as currency and as a luxurious embellishment. Small and lightweight, glass beads were easy to transport, and their colorful, shiny appearance made them appealing.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Glass bead production has its roots in antiquity. By the medieval period beads were manufactured throughout the Mediterranean as well as in Europe and in at least one location in West Africa---at Ife in the forest region of Nigeria. Archaeologist Abidemi Babatunde Babalola has led excavations at Igbo Olokun, a site within the medieval city of Ife, since 2010. In 2011 and 2012, Babalola's team recovered over 12,000 glass beads. The beads manufactured at Igbo Olokun have a unique material signature of high aluminum and high lime content. The excavations at Igbo Olokun suggest that millions of beads were made there and exported along routes in all directions. Such beads have been excavated at major Saharan trading centers including Igbo Ukwu in Nigeria and Gao and Tadmekka in Mali.
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_800.png, /img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_300.png" class="stretch" alt="igbo-olokun-in-ile-ife" data-src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/igbo-olokun-in-ile-ife_800.png">
					<p>**Locations of Igbo Olokun in Ile-Ife. Adapted from Willett 2004**.[^38]</p>
				</section>

				<section>
					<img srcset="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-1_800.tif, /img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-1_300.tif" class="stretch" alt="47-selection-beads-1" data-src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-1_800.tif">
					<img srcset="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-2_800.tif, /img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-2_300.tif" class="stretch" alt="47-selection-beads-2" data-src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-2_800.tif">
					<img srcset="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-3_800.tif, /img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-3_300.tif" class="stretch" alt="47-selection-beads-3" data-src="/img/tour/long-reach-of-the-sahara/medieval-glass-production-and-trade/47-selection-beads-3_800.tif">
					<p>**A selection of beads from the 10th--15th** **century in different shapes and colors excavated at Igbo Olokun. National Commission for Museums and Monuments, Abuja, Nigeria. Photographs by Clare Britt**</p>
				</section>

				<section data-markdown >
					<textarea data-template>
						To learn about the glass beads found at the site of Gao in Mali, click here. \[insert link here\]
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						To see beaded armlets excavated from a royal grave at Igbo Ukwu, click here. \[insert link here\]
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						For more on how glass beads were moved and exchanged throughout Sahara, [watch an interview with archaeologist Abidemi Babatunde Babalola](https://vimeo.com/364139678).
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
