<!doctype html>
<html lang='en-us'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: The Movement of Language, People, and Ideas | {% t global.title %}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/saharan-frontiers/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  # THE MOVEMENT OF LANGUAGE, PEOPLE, AND IDEAS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Language and ideas traversed the Sahara along with merchants and their commodities during the medieval period. Most prominently, the Arabic language, both spoken and written, moved across the desert. Using Arabic, West African scholars contributed to a widespread culture that included Islam and its associated intellectual discourse.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							During this time, scholars residing north of the Sahara wrote accounts in Arabic that included descriptions of the Saharan region. The literature is challenging to interpret, with authors primarily drawing from second- or third-hand reports. Nonetheless, when viewed in conjunction with the material record, the accounts can provide valuable information.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Importantly, medieval Arabic descriptions reveal facets of Saharan exchange that are not apparent in the archaeological record. This is particularly true of the movements of people, whether merchants, rulers, religious pilgrims, or those who were enslaved. Indeed, slavery is made visible almost uniquely in these written accounts.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							In the medieval period, enslaved West Africans, predominantly women and children, were first taken to Morocco and then eastward to Egypt, Syria, Iraq, and beyond. Enslaved people made the harrowing trek on foot across the Sahara and many died during the journey.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Monument from Sane necropolis. Marble, 87 x 45 cm." src="/img/works/19/19_640x.jpg">
						<small>Monument from Sane necropolis, Gao, Mali, 12th century. Marble, 87 x 45 cm. Musée national du Mali, Bamako, R88-19-279. © Marie-Lan Nguyen/Wikimedia Commons. Shared under CC-BY 4.0 license</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Arabic literacy traveled across the Sahara along with books, inscribed objects, and religious practices, as an offshoot of trans-Saharan trade. The twelfth-century marble grave monument from the cemetery that lies near the archaeological site of Gao Saney, Mali, is inscribed with a poem inspired by a Qur'anic verse that reads in part, "\... alone, He has no partner, and Muhammed is His servant and His messenger.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							He lived and died faithful to this religion and will live again if it is God's will&mdash;May God have mercy on whomever asks for mercy for him." It is likely one of a pair of stones; the other would have borne the name, title, and dates of a member of Gao's ruling class. The stone is one of five surviving monuments made in Alméria, Spain, and transported across the Sahara Desert for clients in Gao.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Grindstone refashioned as a gravestone" src="/img/works/20/20_640x.jpg">
						<small>Grindstone refashioned as a gravestone, Tafdit Cemetery, Djebok, Mali, 13th/17th century. Stone, 46.5 x 24 x 7.5 cm. Direction nationale du patrimoine culturel, Bamako, Mali, 2002. Photograph by Seydou Camara</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Originally a grindstone, the bottom half of an apparatus for processing grain, this stone was inscribed with Arabic script by a local artisan at some time between the thirteenth and seventeenth century and repurposed as a grave monument at the same cemetery. Its accompanying top stone, used for processing grain in tandem with the grindstone, was likewise inscribed with Arabic script.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Al-qadi 'Iyad, The Remedy by the Recognition of the Rights of the Chosen One (Al-Shifta' bi-ta'rif huquq al-Mustafa)" src="/img/works/21/21_640x.jpg">
						<small><em>Al-qadi 'Iyad, The Remedy by the Recognition of the Rights of the Chosen One (Al-Shifta' bi-ta'rif huquq al-Mustafa)</em>, North Africa, unknown date. Colored ink and gold on paper, 30.5 x 58 cm. Institut des hautes études et de recherches islamiques Ahmed Baba, Timbuktu, 165. Photograph by Seydou Camara</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							During the medieval period, the Arabic language and the Islamic faith spread together along trade routes across the Sahara and then gradually across Africa's Western Sudan region. Few West African manuscripts from the medieval period survive today, and the earliest known date from the sixteenth century. However, the legacy of the movement of Arabic into West Africa is found in books like this *Life of the Prophet* text, which reflects the linked movement of language, faith, and trade.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The scholar Al-qadi wrote a biography of the Prophet Mohammad with devotional instructions in the twelfth century. This manuscript is likely a later copy produced in North Africa and imported across the Sahara at an unknown time. It is one of about forty thousand manuscripts in the collection of Mali's Institut des hautes études et de recherches islamiques Ahmed Baba, most acquired from private family libraries in centers of Islamic learning across Mali.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Talismanic textile. Cotton, plain woven panels (4) joined and painted, with amulets of animal hide and felt attached by knotted leather strips" src="/img/works/22/22_640x.jpg">
						<small>Talismanic textile, probably Senegal, late 19th or early 20th century. Cotton, plain woven panels (4) joined and painted, with amulets of animal hide and felt attached by knotted leather strips, 255.2 x 178.8 cm. Art Institute of Chicago, African and Amerindian Purchase Endowment, 2000.326. Photograph courtesy of The Art Institute of Chicago/Art Resource, NY</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							This large textile is covered with Qur'anic verses in Arabic script. The elongated figure may represent a lizard, a spirit, or a stylized rendering of the name Muhammad, while the red checkered motifs recall magic squares, arrangements of numbers that always amount to the same sum, no matter the direction they are added.<sup><a href="/references/">20</a></sup>
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The attached amulets likely encase small squares of folded paper with sacred writing. Across Senegal, Sufi practitioners apply esoteric knowledge of the Qur'an and other sacred texts to the therapeutic practices of divination, healing, and spiritual protection. The textile may have been lent or rented to clients as needed by the practitioner who created it.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt=">Leo Africanus" src="/img/works/23/23_640x.jpg">
						<small>Leo Africanus, <em>Description of Africa (De totius Africae descriptione)</em>. Antwerp, 1556. Melville J. Herskovits Library of African Studies, Northwestern University, Evanston, IL, 916 L576.2. Photograph by Clare Britt</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							*Description of Africa*, written by the diplomat and scholar Al-Hassan Ibn Muhammad al-Wazzan, also known as Leo Africanus, was first published in 1526. Born in Fez, Morocco, al-Wazzan was captured while on board a ship in the Mediterranean Sea and imprisoned in Rome for nine years by order of the pope. He based his account partly on his own experiences traveling to locations including Cairo and across the Sahara to Timbuktu, which was then part of the Songhai Empire.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The book, which was composed in Italian, was the first description of Africa published in Europe for a largely European and Christian readership hungry to know more about the continent's geography, people, and resources. This Latin translation was published in 1556.
						</textarea>
					</section>
			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
