<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Introduction | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  SAHARAN FRONTIERS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The medieval Sahara was the center of an interconnected and far-reaching trading network that extended in multiple directions. Based in Granada, Spain, the twelfth-century geographer Mohammed ibn Abu Bakr al-Zuhri described the remarkable scope of trans-Saharan trade, writing, "From this land they import sugar to Tunisia and the Maghrib and Andalusia and Byzantium and Western Europe. They also import indigo, alum, and brass.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							 From this region too come the imports of the desert such as male and female slaves and *abqar*, which in their language means gold. \[From this region\] caravans enter the land of Janawa, Ghana, Ethiopia, Gao, Zafun, and Amima. They also enter from Tafilalat and Sijilmasa, and to these two places come their booty."[^7]
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Intermediaries were essential to trade across the Sahara. Diverse peoples, each with their own language, perspective, system of supply and demand, resources, and expertise, contributed to maintaining the connections that supported far-reaching networks of exchange. These peoples included North African Muslims, who spoke Arabic and followed Islamic laws governing trade, and Amazigh nomads, who knew the routes across the desert and managed the long camel caravans that were the most efficient way to traverse this challenging environment. South of the desert, they interacted with Wangara merchants who traveled among the diverse peoples of Africa's Western Sudan region, spoke their languages, and navigated long-standing trade routes along the Niger River and its tributaries.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="A person riding on the back of a sandy beach" data-src="/img/tour/man_on_camel_card.jpg">
					</section>

					<section data-markdown >
						<textarea data-template>
							**Detail of a drawing of a carvanserai. Reproduced from Georg Hjersing Høst, *Reports on Morocco and Fes* (*Efterretninger om Marokos og Fes: Samlede der i Landene fra ao. 1760 til 1768)*. Copenhagen: N. Möller, 1779. Copenhagen: N. Möller, 1779. Melville J. Herskovits Library of African Studies, Northwestern University, Evanston, IL, DT308.H83 1779. Photograph by Clare Britt**
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="A person riding on the back of a sandy beach" data-src="/img/tour/man_on_camel_card.jpg">
					</section>

					<section data-markdown >
						<textarea data-template>
							**Routes across the vast Sahara Desert (that comprises more than 3.5 million square miles) follow paths through a varied terrain, moving between oases---the underground sources of water that are critical to the survival of travelers. The main routes across the Sahara were established by the fifth century CE, and most continue to be used today. In this section the sites of Sijilmasa, Tadmekka, and Gao are presented as case studies that reveal the history of medieval West Africa.**
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
