<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>Saharan Echoes | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section >
							<h1>Saharan Echoes</h1>
					</section>

					<section>
						<img srcset="/img/tour/saharan-echoes/intro_800.jpg, /img/tour/saharan-echoes/intro_300.jpg" class="stretch" alt="A person riding on the back of a sandy beach" data-src="/img/tour/saharan-echoes/intro_800.jpg">
						<p>A man rides his camel to market in the Agadez region of central Niger. Photograph by Cynthia Becker, 2009</p>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
