---
layout: default
---
{% unless page.show_title == false %}
  <h3 class='page-title'>{{ page.title }}</h3>
{% endunless %}

{{ content }}

<h5>Sections</h5>

<div class="card">
  <a href="/tour/saharan-echoes/" title="Saharan Echoes">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/man_on_camel_card.jpg" alt="Saharan Echoes">
    <div class="content-details">
      <h5>Saharan Echoes</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/saharan-frontiers-sijilmasa/" title="Saharan Frontiers: Sijilmasa">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/saharan-frontiers-1.jpg" alt="Saharan Frontiers: Sijilmasa">
    <div class="content-details">
      <h5>Saharan Frontiers: Sijilmasa</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/saharan-frontiers-takmekka/" title="Saharan Frontiers: Tadmekka">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/tadmekka-tour.jpg" alt="Saharan Frontiers: Tadmekka">
    <div class="content-details">
      <h5>Saharan Frontiers: Tadmekka</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/saharan-frontiers-gao/" title="Saharan Frontiers: Gao">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/gao-tour.png" alt="Saharan Frontiers: Gao">
    <div class="content-details">
      <h5>Saharan Frontiers: Gao</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/saharan-frontiers-niger-river/" title="Saharan Frontiers: Connecting Trade to the Niger River">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/niger-river.png" alt="Saharan Frontier: Connecting Trade to the Niger River">
    <div class="content-details">
      <h5>Saharan Frontiers: Connecting Trade to the Niger River</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/saharan-frontiers-spread-of-ideas/" title="Saharan Frontiers: The Movement of Language, People, and Ideas">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/spread-of-ideas.jpg" alt="Saharan Frontiers: The Movement of Language, People, and Ideas">
    <div class="content-details">
      <h5>Saharan Frontiers: The Movement of Language, People, and Ideas</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/driving-desires/" title="Driving Desires">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/atlas-of-maritime.jpg" alt="Driving Desires">
    <div class="content-details">
      <h5>Driving Desires</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara-igbo/" title="Long Reach of the Sahara: Igbo Ukwu">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/igbo-tour.jpg" alt="Long Reach of the Sahara: Igbo Ukwu">
    <div class="content-details">
      <h5>Long Reach of the Sahara: Igbo Ukwu</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara-ife/" title="Long Reach of the Sahara: Ife and Its Orbit">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/ife-tour.jpg" alt="Long Reach of the Sahara: Ife and Its Orbit">
    <div class="content-details">
      <h5>Long Reach of the Sahara: Ife and Its Orbit</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/long-reach-of-the-sahara-medieval-glass-bead/" title="Long Reach of the Sahara: Medieval Glass Beads">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/medieval-glass-tour.png" alt="Long Reach of the Sahara: Medieval Glass Beads">
    <div class="content-details">
      <h5>Long Reach of the Sahara: Medieval Glass Beads</h5>
    </div>
  </a>
</div>

<br>

<div class="card">
  <a href="/tour/shifting-away-from-the-sahara/" title="Shifting Away from the Sahara">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tour/shifting-away-from-the-sahara.jpg" alt="Shifting Away from the Sahara">
    <div class="content-details">
      <h5>Shifting Away from the Sahara</h5>
    </div>
  </a>
</div>
