---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Object Name'
    value: page.object_name
  - label: 'Section'
    value: page.section
  - label: 'Artist / Maker'
    value: page.artist_maker
  - label: 'Medium'
    value: page.medium
  - label: 'Dimensions'
    value: page.dimensions
  - label: 'Region / Culture / Time Period'
    value: page.region_culture_time_period
  - label: 'Date'
    value: page._date
  - label: 'Credit Line'
    value: page.credit_line
  - label: 'Label'
    value: page.label
---
