<!DOCTYPE html>
<html lang='{{ site.lang }}'>
  {% include head.html %}

  <body>
    <time datetime='{{ 'now' | date: '%Y-%m-%d %H:%M' }}'></time>
    {% include site-title.html %}
    {% include header.html %}

    {% if page.banner %}
      {% assign b = page.banner %}
      {% include parallax_image.html collection=b.collection pid=b.pid y=b.y height=b.height %}
    {% endif %}

    {% if page.hero %}
      {% assign h = page.hero %}
      {% include hero_image.html %}
    {% endif %}

    {% if site.lang == 'ar' %}

    <div dir="rtl" id='wax-main'>
      <div id='wax-content' class='wax-inline-container text-right'>
        {{ content }}
      </div>
    </div>

    {% else %}

    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>
        {{ content }}
      </div>
    </div>

    {% endif %}

    {% include language-toggle.html %}
    {% include footer.html %}
    <script type='text/javascript' src='{{ "/assets/lazysizes.min.js" | prepend: site.baseurl_root }}' async></script>
    <script type='text/javascript' src='{{ "/assets/bootstrap/bootstrap.min.js" | prepend: site.baseurl_root }}' async></script>
    <script type='text/javascript' src='{{ "/assets/popper.min.js" | prepend: site.baseurl_root }}' async></script>
  </body>
  <!--
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('{{"/sw.js" | absolute_url }}', {updateViaCache: 'all',scope: '/'});
      });
    }
  </script>
-->
</html>
