<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Driving Desires | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						DRIVING DESIRES
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Copper nugget. Photograph Elemental Imaging 2010/Getty Images.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Salt slabs from the Sahara Desert are transported by camel to entrepôts near the Niger River, and then carried by boat to markets such as that in Mopti, Mali. Photograph DeAgostini Picture Library, 2016. Getty Images.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Gold and salt were at the heart of medieval trans-Saharan exchange; together these commodities supported a global economy that defined the Middle Ages.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The traveler and diplomat Ibn Battuta, who wrote an account of his journey across the Sahara Desert in the mid-fourteenth century, recounted, “The inhabitants of the Western Sudan use salt for currency as gold and silver are used. They cut it into pieces and use it for their transactions.”  The journey across the Sahara Desert was arduous and at times treacherous. A camel caravan’s pace is about three miles per hour, and caravans could travel more than 2,500 miles on a trans-Saharan trek. Overcoming the risks that such travel posed—thirst, hunger, even death—required strong motivation.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						For merchants traveling southward across the Sahara, the main attraction was West African gold, which was widely admired for its purity and symbolic value. The special qualities of gold—its rarity, its sparkle and reflectiveness, its malleability, and its resistance to tarnish, as well as the difficulty of extracting it from the earth—all contributed to its value. Empires across North Africa, the Middle East, and Europe minted gold into coins and used it to make and to embellish luxury objects. West African gold provided rulers and merchants with the means to acquire goods from afar. Rock salt, mined in the heart of the Sahara, was among the most important of these. Salt, which is essential to human life, is scarce in West Africa. Along with these primary commodities other luxury goods also circulated, including ivory, copper, glass vessels and glass beads.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Abraham Cresques (Majorcan, 1325–1387). _Atlas of Maritime Charts (The Catalan Atlas)_, 1375. Illuminated parchment mounted on six wooden panels, each 64.5 x 25 cm. Bibliothèque nationale de France, Paris, Ms. Espagnol 30.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The Jewish cartographer Abraham Cresques was commissioned by the King of Aragon to produce this lavish map for Charles V, the king of France. It was completed in 1375. The Crown of Aragon, a confederation of powerful territories that included parts of the Iberian Peninsula and islands in the Mediterranean, was well situated to be a commercial powerhouse. The _Catalan Atlas_ demonstrates the significant European interest in global commerce and the prominence of West Africa in these networks of exchange. Mansa Musa, the emperor of Mali, is prominently depicted on the second panel seated on a throne and holding a golden orb in one hand. The caption reads: “This Moorish ruler is named Musse Melly [Mansa Musa], lord of Guinea. This king is the richest and most distinguished ruler of this whole region on account of the great quantity of gold that is found in his lands.”
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  _Solidus of Honorius_. Milan, 395–400. Gold. Musée archéologique de Rabat, Morocco, 24.3.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  The origins of trans-Saharan gold trade likely date to the 4th century CE. Roman outposts in North Africa were well positioned to undertake this trade and to disseminate gold and other commodities into the wider Roman world. The first gold solidus coin, featuring a portrait of the emperor Honorius in profile, was issued by the Roman Empire in 312 and weighed 4.5 grams (0.16 ounce). The measure and its increments became standard units for weighing gold wherever Roman coins were used, and they continued to be used by Islamic states in North Africa and the Middle East during the Middle Ages. It is possible that this system was also transferred via trans-Saharan trade to West Africa, where it was used in the nineteenth-century gold weights in the Akan region of Ghana.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Dinars were struck from West African gold throughout the medieval period. This map shows the locations of mints during the Almoravid Dynasty (ca. 1040–1147). Founded by Sanhaja Imazighen (Berbers) from southern Mauretania, at its apex the dynasty controlled parts of the Niger River, the Sahara Desert, and the Mediterranean Sea. Almoravid mints produced more gold currency than any other empire in the western Islamic lands. Their coinage was highly valued because it was made from West African gold, which was known for being purer than gold from any other known source.  The mint at Sijilmasa, which was closest to the West African gold fields, was one of the most productive.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Dinar of Abu Inan Faris (r. 1348– 1358)_, struck at Sijilmasa. Gold, diameter 1.0 cm. Bank al-Maghrib 533341. Photograph by Fouad Mahdaoui. © Direction du patrimoine culturel, Rabat, Morocco.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Derived from the standard of the Roman solidus, the dinar was an Islamic currency with a common weight of 0.16 ounce. Introduced in the seventh century, dinars were minted at sites throughout the Mediterranean, often using West African gold. A dinar was of significant value, and was primarily used only for large expenditures. This dinar was minted at Sijilmasa, Morocco, which was one of the most productive mints due to its close proximity to the West African gold sources. The inscription on the dinar records the political leadership of Abu ‘Inan Faris, and establishes Sijilmasa as a major center of trade and production.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Gold florin, with the emblem of Florence (obverse) and John the Baptist (reverse). Florence, 1260–1303. American Numismatic Society, New York, 1954.237.214.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						In 1252, the city-state of Florence, in Italy, adopted the gold standard and began minting its own currency. This adoption was supported by an influx of gold from West Africa via trans-Saharan trade routes. Florins were stamped with a fleur-de-lis on one side and an image of John the Baptist, the patron saint of the city of Florence on the other. A mint mark appears above John the Baptist’s right hand, indicating where the coin was produced. Florins could also be hammered out to form valuable gold leaf, which was used to embellish objects including religious paintings.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Coronation of the Virgin_. Italy, 15th century. Tempera and gold on panel. Loyola University Museum of Art, Chicago, IL, Martin D’Arcy, S.J., Collection, gift of Eileen O'Shaughnessy, 1985, 1985:03.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Medieval Christian artworks were often embellished with gold leaf. In this panel painting from Italy, Christ places a crown on the head of his mother, Mary, symbolizing her role as Queen of Heaven. Angels and other holy figures fill the heavenly space that is conveyed by the golden background. Much of the gold used in Italy came from West Africa through trans-Saharan trade routes. Beginning in the 13th century, Italian city-states, such as Florence and Venice, began minting gold coins largely made from West African gold. These coins were beaten into thin sheets of foil, which were then used as gold leaf. From one coin, craftsmen could make more than one hundred leaves.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Biconical bead_. Egypt or Syria, 10th–11th century. Gold, with filigree, granulation, and “rope” wire, length 7.2 cm, height 2.9 cm. The Aga Khan Museum, Toronto, AKM618.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The wealthy and powerful Fatimid Caliphate (909–1171), which ruled across North Africa, Egypt, and Syria, was active in Mediterranean, Indian Ocean, and trans-Saharan trade networks. They vied with the Umayyads of Spain for access to West African gold and for control of major trading cities like Sijilmasa. This large and elaborate Fatimid bead is composed of two filigree cones joined along a central seam, a shape that originates from antiquity. Filigree is a complex technique that is based on the soldering of fine gauge wires to a base sheet, where goldsmiths twist thin sheets of metal and create a visually compelling decoration.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Biconical beads became dispersed widely across the Mediterranean and the Sahara in the medieval period. Small terracotta beads from Gao, Mali, feature the same double cone shape, showing evidence of this form’s movement.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Leaf from the Blue Qur’an_. North Africa, Iraq, or Iran, 9th–10th century. Gold and silver on indigo-colored parchment, 28.5 x 35.3 cm. The Aga Khan Museum, Toronto, AKM248.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 The page of this sumptuous Qur’an feature gold and silver script on indigo-colored parchment. The Blue Qur’an was housed in the library of the Great Mosque of Kairouan in Tunisia from at least 1294. Today, more than 100 of its 600 pages are dispersed in collections around the world and approximately sixty seven are still in Tunisia. Although scholars disagree on the precise origins of this sumptuous book, the use of gold and silver script on parchment colored a deep blue nevertheless signals competition with the expensive purple-dyed manuscripts (from the murex sea snail) also circulating in courts around the Mediterranean basin.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 During the medieval period, a shared manuscript culture among Muslims, Christians, and Jews extended across North Africa, the Middle East, and Europe. Common elements in this manuscript tradition included elegant calligraphy; colorful embellishments including gold; and decorative leather bindings. Gold and leather, both prominently used in bookmaking, were imported from West Africa. Book culture likewise spread to West Africa as Islam spread across the Sahara Desert.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 Ethics of the Fathers (_Pirkei Avot_). Siddur (prayer book). Lisbon, late 15th century. Ink, opaque watercolor, and gold on parchment. The Library of the Jewish Theological Seminary of America, New York, NY, Ms. 8235.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 This Siddur, a Jewish prayer book, reflects a taste for delicate tracery penwork. Key pages are also embellished with gold leaf and watercolor.  Gold—much of it coming from West Africa— was an important artistic material across the three of the major Mediterranean faiths of the medieval period: Judaism, Christianity, and Islam. Jewish artisans, who often worked with gold, made significant contributions to art and culture during the Middle Ages, creating works for Jewish, Muslim, and Christian clients.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 Virgin and Child. France, ca. 1275–1300. Ivory with paint, 36.8 x 16.5 x 12.7 cm. The Metropolitan Museum of Art, New York, gift of J. Pierpont Morgan, 1917, 17.190.295. Image © The Metropolitan Museum of Art. Image source: Art Resource, NY.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 Ivory tusks were among the luxury commodities traded across the Sahara Desert alongside gold. Two elephant subspecies are found in West Africa: the Savanna elephant, which is the largest of all Elephant species, and the forest elephant. The tusks of both elephants were circulated through medieval trans-Saharan trade.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 Large-scale _Virgin and Child_ statuettes represent the apex of ivory carving in the medieval period in France, and this sculpture is among the largest. Measuring 16.5 cm in diameter at its widest point, the solid statuette could only have been made from the tusk of a Savanna elephant. The artist has maximized the size of the figures of the Virgin and Child obtained from the large tusk and augmented it further by adding separate ivory pieces to make the throne. This statuette was finished with fine details in paint and gold.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 _Casket_. Sicily, 12th century. Ivory, brass, tempera, and gold leaf, 9.5 x 15.9 x 9.7 cm. Art Institute of Chicago, Samuel P. Avery Endowment, 1926.389.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 This ivory box, or casket, was made on the island of Sicily, off the southern tip of Italy, not long after the Norman conquest. The Arabic-speaking Muslim population of Sicily was not entirely displaced by the Normans, and these communities—and their commercial connections— contributed significantly to a unique visual culture that  flourished under Norman rule. The box is embellished with gold leaf and copper fittings, valuable materials that circulated along with ivory across networks that were central to trans-Saharan trade. An inscription in Arabic reads “May glory endure.”
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 _Coronation of the Virgin_. English, ca. 1480. Gold and silk thread on linen. Loyola University Museum of Art, Chicago, IL, Martin D’Arcy, S.J., Collection, gift of D.F. Rowe, S.J., in memory of Mrs. Mary Flannery, 1976:01.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 This densely embroidered textile fragment depicting the Coronation of the Virgin, a popular Christian story of the period, was likely once part of a vestment, or ceremonial robe. While documents of the period suggest that luxurious embroidered garments were worn by the elite, the majority of surviving embroideries were made for use in the church.  Generous amounts of gold thread are incorporated into the scene.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						 Despite the discovery of gold deposits in Europe in the later Middle Ages, West African gold continued to be highly prized for its quality and purity. A mid-17th-century shipwreck offers compelling evidence for the export of West African gold to England. The ship sank off the coast of Devon, England, carrying scraps of gold jewelry, ingots, and more than 400 gold coins, most of them minted in Morocco between the 11th and 17th centuries.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
