<!doctype html>
<html>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Driving Desires | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						# DRIVING DESIRES
					</textarea>
				</section>

				<section>
					<img srcset="/img/tour/driving-desires/gold-washing_600.jpg 600w, /img/tour/driving-desires/gold-washing_300.jpg 300w" class="stretch" alt="Woman separating gold from sand" src="/img/tour/driving-desires/gold-washing_600.jpg">
					<small>Woman separating gold from sand, Falem River, Senegal. Rural households in this gold-bearing region have intermittently mined gold as a dry season complement to rainy season agriculture. Photograph by Robyn D'Avignon, 2013</small>
				</section>

				<section>
					<img srcset="/img/tour/driving-desires/salt-slabs_600.jpg 600w, /img/tour/driving-desires/salt-slabs_300.jpg 300w" class="stretch" alt="salt slabs" src="/img/tour/driving-desires/salt-slabs_600.jpg">
					<small>Salt slabs from the Sahara Desert are transported by camel to entrepôts near the Niger River and then carried by boat to markets such as this one in Mopti, Mali. Photograph courtesy of De Agostini Picture Library, 2016/Getty Images</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						Gold and salt were at the heart of medieval trans-Saharan exchange; together these commodities supported a global economy that defined the Middle Ages.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The traveler and diplomat Ibn Battuta, who wrote an account of his journey across the Sahara Desert in the mid-fourteenth century recounted, "The inhabitants of the Western Sudan use salt for currency as gold and silver are used. They cut it into pieces and use it for their transactions."<sup><a href="/references/">22</a></sup> The journey across the Sahara Desert was arduous and at times treacherous. A camel caravan's pace is about three miles per hour, and caravans could travel more than 2,500 miles on a trans-Saharan trek. Overcoming the risks that such travel posed&mdash;thirst, hunger, even death&mdash;required strong motivation.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						For merchants traveling southward across the Sahara, the main attraction was West African gold, which was widely admired for its purity and symbolic value. The special qualities of gold&mdash;its rarity, its sparkle and reflectiveness, its malleability, and its resistance to tarnish as well as the difficulty of extracting it from the earth&mdash;all contributed to its value. Empires across North Africa, the Middle East, and Europe minted gold into coins and used it to make and to embellish luxury objects.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						West African gold provided rulers and merchants with the means to acquire goods from afar. Rock salt, mined in the heart of the Sahara, was among the most important of these. Salt, which is essential to human life, is scarce in West Africa. Along with these primary commodities other luxury goods also circulated, including ivory, copper, glass vessels, and glass beads.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Atlas maritime charts" srcset="/img/tour/driving-desires/atlas_600.jpg 600w, /img/tour/driving-desires/atlas_300.jpg 300w" src="/img/tour/driving-desires/atlas_600.jpg">
					<small>Abraham Cresques (?). <em>Atlas of Maritime Charts (The Catalan Atlas)</em>, 1375. Illuminated parchment mounted on six wooden panels, each 64.5 x 25 cm. Bibliothèque nationale de France, Paris, Ms. Espagnol 30</small>
				</section>

				<section>
					<img class="stretch" alt="section of Atlas maritime charts" src="/img/works/26/26_1_640x.jpg">
				</section>

				<section>
					<img class="stretch" alt="section of Atlas maritime charts" src="/img/works/26/26_2_640x.jpg">
				</section>

				<section>
					<img class="stretch" alt="section of Atlas maritime charts" src="/img/works/26/26_3_640x.jpg">
				</section>

				<section data-markdown >
					<textarea data-template>
						This lavish map was possibly commissioned by the King of Aragon for Charles V, the king of France, and may have been produced by the Jewish cartographer Abraham Cresques. It was completed in 1375. The Crown of Aragon, a confederation of powerful territories that included parts of the Iberian Peninsula and islands in the Mediterranean, was well situated to be a commercial powerhouse. The *Catalan Atlas* demonstrates the significant European interest in global commerce and the prominence of West Africa in these networks of exchange.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Mansa Musa, the emperor of Mali, is prominently depicted on the second panel seated on a throne and holding a golden orb in one hand. The caption reads: "This Moorish ruler is named Musse Melly \[Mansa Musa\], lord of Guinea. This king is the richest and most distinguished ruler of this whole region on account of the great quantity of gold that is found in his lands."<sup><a href="/references/">23</a></sup>
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Solidus of Honorius" src="/img/works/27/27_640x.jpg">
					<small>Solidus of Honorius, Milan, 395/400. Gold, diameter 1.23 cm. Musée archéologique de Rabat, Morocco, 24.3. Photograph by Fouad Mahdaoui</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						The origins of trans-Saharan gold trade likely date to the fourth century CE. Roman outposts in North Africa were well positioned to undertake this trade and to disseminate gold and other commodities into the wider Roman world. The first gold solidus coin, featuring a portrait of the emperor Honorius in profile, was issued by the Roman Empire in 312 and weighed 4.5 grams.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The measure and its increments became standard units for weighing gold wherever Roman coins were used, and they continued to be used by Islamic states in North Africa and the Middle East during the Middle Ages. It is possible that this system was also transferred via trans-Saharan trade to West Africa, where it was used in the nineteenth-century gold weights in the Akan region of Ghana.<sup><a href="/references/">24</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						## MAP OF MINT LOCATIONS FROM EXHIBITION
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Dinars were struck from West African gold throughout the medieval period. This map shows the locations of mints during the Almoravid Dynasty (ca. 1040&ndash;1147). Founded by Sanhaja Imazighen, who originated in the region of present-day southern Mauritania, at its apex the dynasty controlled parts of the Niger River, the Sahara Desert, and the Mediterranean Sea.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Almoravid mints produced more gold currency than any other empire in the western Islamic lands. Their coinage was highly valued because it was made from West African gold, which was known for being purer than gold from any other known source. The mint at Sijilmasa, which was closest to the West African gold fields, was one of the most productive.<sup><a href="/references/">25</a></sup>
					</textarea>
				</section>


				<section>
					<img class="stretch" alt="Dinar of Abu Inan Faris" src="/img/works/28/28_640x.jpg">
					<small>Dinar of Abu Inan Faris (r. 1348&ndash;1358), struck at Sijilmasa. Gold, diameter 1.0 cm. Collection de Bank al-Maghrib, Bank centrale du Royaume de Maroc, 533341. Photograph by Fouad Mahdaoui</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						Derived from the standard of the Roman solidus, the dinar was an Islamic currency with a common weight of 4.5 grams. Introduced in the seventh century, dinars were minted at sites throughout the Mediterranean, often using West African gold. A dinar was of significant value and was primarily used only for large expenditures. This dinar was minted at Sijilmasa, Morocco, which was one of the most productive mints due to its close proximity to the West African gold sources. The inscription on the dinar records the political leadership of Abu 'Inan Faris and establishes Sijilmasa as a major center of trade and production.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Florin, with the emblem of Florence" src="/img/works/29/29_1_640x.jpg">
					<small>Florin, with the emblem of Florence (obverse), Florence, 1260&ndash;1303. Gold, diameter 1.23 cm. American Numismatic Society, New York, 1954.237.214. Photograph courtesy of the American Numismatic Society</small>
				</section>

				<section>
					<img class="stretch" alt="Florin, with the emblem of Florence" src="/img/works/29/29_2_640x.jpg">
					<small>Florin, with the emblem of John the Baptist (reverse), Florence, 1260&ndash;1303. Gold, diameter 1.23 cm. American Numismatic Society, New York, 1954.237.214. Photograph courtesy of the American Numismatic Society</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						In 1252 the city-state of Florence in Italy adopted the gold standard and began minting its own currency. This adoption was supported by an influx of gold from West Africa via trans-Saharan trade routes. Florins were stamped with a fleur-de-lis on one side and an image of John the Baptist, the patron saint of the city of Florence, on the other. A mint mark appears above John the Baptist's right hand, indicating where the coin was produced. Florins could also be hammered out to form valuable gold leaf, which was used to embellish objects including religious paintings.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Coronation of the Virgin" src="/img/works/30/30_640x.jpg">
					<small><em>Coronation of the Virgin</em>, Italy, 15th century. Tempera and gold on panel, 76.2 x 55.9 cm. Loyola University Museum of Art, Chicago, IL, the Martin D'Arcy, S.J., Collection, gift of Eileen O'Shaughnessy, 1985, 1985:03. Photograph by Clare Britt</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						Medieval Christian artworks were often embellished with gold leaf. In this panel painting from Italy, Christ places a crown on the head of his mother Mary, symbolizing her role as Queen of Heaven. Angels and other holy figures fill the heavenly space that is conveyed by the golden background. Much of the gold used in Italy came from West Africa through trans-Saharan trade routes.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Beginning in the thirteenth century, Italian city-states such as Florence and Venice began minting gold coins largely made from West African gold. These coins were beaten into thin sheets of foil, which were then used as gold leaf. From one coin, craftsmen could make more than one hundred leaves.<sup><a href="/references/">26</a></sup>
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Biconical bead. Gold, with filigree, granulation, and 'rope' wire" src="/img/works/31/31_640x.jpg">
					<small>Biconical bead, Egypt or Syria, 10th/11th century. Gold, with filigree, granulation, and "rope" wire, length 7.2 cm. Photograph © The Aga Khan Museum, Toronto, AKM610</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						The wealthy and powerful Fatimid Caliphate (909&ndash;1171), which ruled across North Africa, Egypt, and Syria, was active in Mediterranean, Indian Ocean, and trans-Saharan trade networks. Its rulers vied with the Umayyads of Spain for access to West African gold and for control of major trading cities like Sijilmasa. This large and elaborate Fatimid bead is composed of two filigree cones joined along a central seam, a shape that originates from antiquity. Filigree is a complex technique that is based on the soldering of fine-gauge wires to a base sheet, where goldsmiths twist thin sheets of metal and create a visually compelling decoration.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Biconical beads became dispersed widely across the Mediterranean and the Sahara in the medieval period. Small terracotta beads from Gao, Mali, feature the same double-cone shape, showing evidence of this form's movement.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Leaf from the Blue Qur'an, Chapter 2, Al-Baqara (The Cow): verses 148&ndash;150" src="/img/works/32/32_640x.jpg">
					<small>Leaf from the "Blue Qur'an," Chapter 2, Al-Baqara (The Cow): verses 148&ndash;150, Iraq, Iran, or Tunisia, 9th&ndash;10th century. Gold and silver on indigo-colored parchment, 28.5 x 35.3 cm. Photograph © The Aga Khan Museum, Toronto, AKM248</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						The page of this sumptuous Qur'an features gold and silver script on indigo-colored parchment. The Blue Qur'an was housed in the library of the Great Mosque of Kairouan in Tunisia from at least 1294. Today more than one hundred of its 600 pages are dispersed in collections around the world and more than sixty are still in Tunisia.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Although scholars disagree on the precise origins of this sumptuous book, the use of gold and silver script on parchment colored a deep blue nevertheless signals competition with the expensive purple-dyed manuscripts (from the murex sea snail) also circulating in courts around the Mediterranean basin.<sup><a href="/references/">27</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						During the medieval period, a shared manuscript culture among Muslims, Christians, and Jews extended across North Africa, the Middle East, and Europe. Common elements in this manuscript tradition included elegant calligraphy, colorful embellishments including gold, and decorative leather bindings. Gold and leather, both prominently used in bookmaking, were imported from West Africa. Book culture likewise spread to West Africa as Islam spread across the Sahara Desert.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Ethics of the Fathers (Pirkei Avot)" src="/img/works/33/33_640x-0.jpg">
					<small><em>Ethics of the Fathers (Pirkei Avot)</em>, siddur (prayer book), Lisbon, late 15th century. Ink, opaque watercolor, and gold on parchment. The Library of the Jewish Theological Seminary of America, New York, NY, Ms. 8235. Photograph courtesy of The Library of the Jewish Theological Seminary of America</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This siddur, a Jewish prayer book, reflects a taste for delicate tracery penwork. Key pages are also embellished with gold leaf and watercolor. Gold&ndash;-much of it coming from West Africa&ndash;-was an important artistic material across the three of the major Mediterranean faiths of the medieval period: Judaism, Christianity, and Islam. Jewish artisans, who often worked with gold, made significant contributions to art and culture during the Middle Ages, creating works for Jewish, Muslim, and Christian clients.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Virgin and Child" src="/img/works/34/34_640x.jpg">
					<small><em>Virgin and Child</em>, France, ca. 1275/1300. Ivory with paint, 36.8 x 16.5 x 12.7 cm. The Metropolitan Museum of Art, New York, gift of J. Pierpont Morgan, 1917, 17.190.295. Image © The Metropolitan Museum of Art. Image source: Art Resource, NY</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						Ivory tusks were among the luxury commodities traded across the Sahara Desert alongside gold. Two elephant subspecies are found in West Africa: the Savanna elephant, which is the largest of all elephant species, and the forest elephant. The tusks of both elephants were circulated through medieval trans-Saharan trade.<sup><a href="/references/">28</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Large-scale *Virgin and Child* statuettes represent the apex of ivory carving in the medieval period in France, and this sculpture is among the largest. Measuring 16.5 cm in diameter at its widest point, the solid statuette could only have been made from the tusk of a Savanna elephant. The artist has maximized the size of the figures of the Virgin and Child obtained from the large tusk and augmented it further by adding separate ivory pieces to make the throne. This statuette was finished with fine details in paint and gold.
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Casket. Ivory, brass, tempera, and gold leaf" src="/img/works/35/35_640x.jpg">
					<small>Casket, Sicily, 12th century. Ivory, brass, tempera, and gold leaf, 9.5 x 15.9 x 9.7 cm. Art Institute of Chicago, Samuel P. Avery Endowment, 1926.389. Photograph courtesy of The Art Institute of Chicago/Art Resource, NY</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This ivory box, or casket, was made on the island of Sicily, off the southern tip of Italy, not long after the Norman conquest. The Arabic-speaking Muslim population of Sicily was not entirely displaced by the Normans, and these communities&mdash;and their commercial connections&mdash;contributed significantly to a unique visual culture that flourished under Norman rule. The box is embellished with gold leaf and copper fittings, valuable materials that circulated along with ivory across networks that were central to trans-Saharan trade. An inscription in Arabic reads "May glory endure."
					</textarea>
				</section>

				<section>
					<img class="stretch" alt="Coronation of the Virgin" src="/img/works/36/36_640x.jpg">
					<small><em>Coronation of the Virgin</em>, English, ca. 1480. Gold and silk thread on linen, 29.5 x 32.4 cm. Loyola University Museum of Art, Chicago, IL, the Martin D'Arcy, S.J., Collection, gift of D.F. Rowe, S.J., in memory of Mrs. Mary Flannery, 1976:01. Photograph by Clare Britt</small>
				</section>

				<section data-markdown >
					<textarea data-template>
						This densely embroidered textile fragment depicting the Coronation of the Virgin, a popular Christian story of the period, was likely once part of a vestment, or ceremonial robe. While documents of the period suggest that luxurious embroidered garments were worn by the elite, the majority of surviving embroideries were made for use in the church.<sup><a href="/references/">29</a></sup>
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Generous amounts of gold thread are incorporated into the scene. Despite the discovery of gold deposits in Europe in the later Middle Ages, West African gold continued to be highly prized for its quality and purity. A mid-seventeenth-century shipwreck offers compelling evidence for the export of West African gold to England. The ship sank off the coast of Devon, England, carrying scraps of gold jewelry, ingots, and more than 400 gold coins, most of them minted in Morocco between the eleventh and seventeenth century.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						[Click here to see fragments of jewelry and gold ingots from this shipwreck, found at the Salcombe Cannon Site](/tour/shifting-away-from-the-sahara/#jewelry-and-ingots).
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						For more on the contemporary salt trade, [watch an interview between Addi Ouadderrou and salt merchant Lahbib Rahmiwi in Morocco](https://vimeo.com/364139755).

						For more on the trade of West African ivory and its use in medieval Europe, [watch interviews with art historian Sarah Guérin](https://vimeo.com/364139579).
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
