---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<h3 alt="{{ page.label }}" class='item-label text-center'>{{ page.label }}</h3>

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  <div class='item-view'>
    {% if viewer == 'openseadragon' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full small_image=page.small prevlink=prevlink nextlink=nextlink %}
    {% endif %}
  </div>
{% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata.html meta=metadata %}
{% endif %}

  <nav aria-label="Browse Exhibit Objects">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item">
        <div id="previous" class="page-link" aria-label="Previous">
          <span class="sr-only">Previous</span>
        </div>
      </li>
      <li class="page-item">
        <div id="next" class="page-link" aria-label="Next">
          <span class="sr-only">Next</span>
        </div>
      </li>
    </ul>
  </nav>
{% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
