---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<h2 class='item-label text-center' style='font-size:1.5rem!important;font-weight:700!important'>{{ page.label }}</h2>

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  <div class='item-view'>
    {% if viewer == 'openseadragon' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full small_image=page.small prevlink=prevlink nextlink=nextlink %}
    {% endif %}
  </div>
{% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata.html meta=metadata %}
{% endif %}

{% assign links = site[page.collection] | sort: 'order' | map: 'url' %}
{% for link in links %}
  {% if link == page.url %}
    {% if forloop.first %}
      {% assign prevlink = links | last %}
      {% assign nextlink = links[forloop.index] %}
    {% elsif forloop.last %}
      {% assign prevlink = prev %}
      {% assign nextlink = links | first %}
    {% else %}
      {% assign prevlink = prev %}
      {% assign nextlink = links[forloop.index] %}
    {% endif %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

{% if prevlink and nextlink %}

  <nav aria-label="Browse Exhibit Objects">
    <ul class="pagination pagination-lg justify-content-center">
      <li class="page-item">
        <a href='{{ prevlink | absolute_url }}' display='none' aria-hidden='true'>
          <div class='page-link' aria-label='Previous'>
            <span class="sr-only">Previous</span>
            &#8249;
          </div>
        </a>
      </li>
      <li class="page-item">
        <a href='{{ nextlink | absolute_url }}' display='none' aria-hidden='true'>
          <div class='page-link' aria-label='Next'>
            <span class="sr-only">Next</span>
            &#8250;
          </div>
        </a>
      </li>
    </ul>
  </nav>

{% endif %}

{% tf _layouts/generic_collection_item.html %}
