<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>The Long Reach of the Sahara: IGBO UKWU (8th–early 12th century) | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						THE LONG REACH OF THE SAHARA: IGBO UKWU (8th–early 12th century)
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Beyond the Sahara, trade routes reached into West Africa’s rainforest, the Central Sudan, and Europe. In the mid-14th century, the traveler and diplomat Ibn Battuta referenced the reach of the Niger River all the way to the city of Ife in West Africa’s forest region, stating, “Then the Niger River descends from Dia to Timbuktu and then to Gao [...] then to Ife. Ife is one of the largest countries of the Sudan, and their sultan is one of the greatest sultans.”  Archaeological excavations at medieval sites in Nigeria provide material evidence of this reach. The sites of Igbo Ukwu (8th to 12th century), Ile-Ife (13th to 14th century), and Durbi Takusheyi (14th to 15th century) reveal the prominence of copper, ivory, and glass beads among the goods that circulated through long and short distance trade in multiple directions during the medieval period.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Igbo Ukwu lies east of the Niger River in Nigeria’s forest region. Copper-alloy sculptures and more than 165,000 glass and carnelian beads excavated at the site suggest self-supporting metal casting and glass production industries that connected with active local and interregional trade networks and supplemented the raw materials for craft production.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Ife, in Central Nigeria, was the political and ritual center of a kingdom that supported a multiethnic regional economy that extended nearly 120 miles northward to the Niger River. Workshops for glass-making and copper, copper alloy, and terracotta sculptures produced prolific artworks there and at sites within the orbit of the powerful city.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Durbi Takusheyi, in Northern Nigeria, is situated halfway between the Niger River and Lake Chad. It provides some of the earliest documentation for the Hausa kingdoms, which would grow to dominate the region between the 16th and the 19th centuries. Excavations at Durbi Takusheyi included burials with sumptuous grave goods that attest to global interactions.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Standing figure_, Nok culture, Nigeria, 1st millennium BCE. Terracotta, 68 cm high. National Commission for Museums and Monuments, Abuja, Nigeria, IFA 1 881–1885. Photograph by Stefan Rühl, Werbefotogra e Rühl & Bormann, Darmstadt furt, Institut für Archäologische Wissenschaften, Archäologie und Archäobotanik Afrikas, Germany
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						This standing figure from the Nok Culture in North-Central Nigeria is one of the oldest known terracotta sculptures to be excavated from a site in Africa.  Dating to the first century CE, it is one of over 1,000 such figures that have been excavated in the region, pointing to a rich material culture in the Central Sudan long before the medieval period. The figure is depicted wearing a beaded necklace and belt, providing evidence that beads were already deeply ingrained culturally and tied to leadership and wealth before medieval trans-Saharan trade increased the availability of glass beads in the region. These are likely semi-precious stone beads, which have been found in abundance at Nok sites.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The town of Igbo Ukwu lies west of the Niger River in Nigeria’s forest region. Excavations conducted there unearthed a remarkable group of over 600 prestige objects including extraordinary cast copper-alloy sculptures and more than 165,000 glass and carnelian beads.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  Evidence ties wealthy and powerful Igbo Ukwu to global medieval trade networks that extended down the Niger River from the edge of the Sahara Desert. Glass beads provide a telling link: the same types have been found at Igbo Ukwu and at Gao, Mali in the Western Sudan.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  Analysis of cast objects from Igbo Ukwu shows its strong ties to local trade. Most of the copper and alloys—primarily tin, lead, and silver—used to make bronze objects there came from nearby sources. This supports the hypothesis that at its inception Igbo Ukwu’s innovative metal casting industry was self-sustaining. Nonetheless, metal analysis also suggests that the production of copper alloys at Igbo Ukwu may have been supplemented by copper from the Sahara, particularly in the second half of its existence.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Armlets, 9th/10th century, excavated at Igbo Richard, Igbo Ukwu, eastern Nigeria. Beads and copper wire, height 14.9 cm, National Commission for Museums and Monuments, Abuja, Nigeria, IR.416 and IR.417. Photograph by Uche James Iroha.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						This blue glass armlet was excavated from a royal grave at Igbo Ukwu. Thurstan Shaw, who led excavations at the site, found that many beads from the site are distinguished by high lime and high aluminium content. The discovery of a bead workshop producing high-lime and high-aluminium beads 389 kilometers southeast at a site called Igbo Olokun, within the city of Ife, supports the hypothesis that these unique beads were made and exchanged locally. Yet, of the 165,000 stone and glass beads found at Igbo Ukwu, many are also traceable to the Mediterranean, the Levant, the Middle East, Arabia, and India. Beads at the site offer an interesting look into the polity’s connections to local and long distance trade networks, including those crossing the Sahara.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Horse and rider finial_. Igbo Ukwu, excavated from Igbo Richard (burial). 8th/early 11th century. Bronze. National Commission for Museums and Monuments, Abuja, Nigeria, IR.350.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						This ornament, which would have crowned a staff or pole, is the earliest known representation of a horse and rider from Africa’s central forest region. How the object was made is an open question. Horses cannot survive in the forest for long due to fly-borne disease. It is possible that horses were imported, at great expense, along routes of exchange with the Western Sudan and North Africa. Another possibility is that another object representing a horse and rider was imported, inspiring an artist to make this ornament. The rider is depicted wearing beaded regalia as well as facial scarifications associated today with elite titleholders.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						_Double-egg pendant_. 9th/10th century, excavated at Igbo Richard, Igbo Ukwu, eastern Nigeria. Leaded bronze, glass beads. National Commission for Museums and Monuments, Abuja, Nigeria, IS.367. Photograph © Dirk Bakker/Bridgeman Images.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						This pendant of a bird perched atop two large eggs was excavated at the site of a shrine storehouse at Igbo Olokun. Its textured surface highlights the artistry and technological skill of the city’s bronze casting workshops. The raised ropes and dots that embellish the pendant evoke the abundant number of beads also found at Igbo Ukwu, which circulated along local and long distance trade routes. Many of the copper alloy objects found at the site were designed to be decorated with glass beads: this pendant of a bird and two eggs was found alongside yellow beads and copper wires that attached through loops cast along the object’s side.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
