<!doctype html>
<html lang='{{ site.lang }}'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		{% assign title = site.translations[site.lang].tours[page.tour][0]["text"] %}
		<title>{{ title }} | {% t global.title %}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.baseurl }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="{{ site.baseurl }}/tour/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">
				{% for item in site.translations[site.lang].tours[page.tour] %}
					{% if item["text"] %}

					<section data-markdown >
						<textarea data-template>
							{{ item["text"] }}
						</textarea>
					</section>

					{% else %}

					<section>
						<img class="stretch" alt="{{ item["img_alt"] }}" srcset="{{ item["img_srcset"] }}" sizes="(max-width: 600px) 300px, 600px" src="{{ item["img_src"] }}">
						<small>
							{{ item["caption"] }}
						</small>
					</section>

					{% endif %}
				{% endfor %}

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		{% if site.lang == 'ar' %}

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				rtl: true,
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>

		{% else %}

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				rtl: false,
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>

		{% endif %}
	</body>
</html>
