<!doctype html>
<html lang='{{ site.lang }}'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		{% assign title = site.translations[site.lang].tours[page.tour][0]["text"] %}
		<title>{{ title }} | {% t global.title %}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		{% if site.lang == 'ar' %}
		<nav dir="rtl" class="reveal-header">
			<a class="reveal-header-button" href="{{ site.baseurl }}"><em>الصفحة الرئيسية</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="{{ site.baseurl }}/tour/#sections"><em>عودة</em></a>
		</nav>
		{% else %}
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.baseurl }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="{{ site.baseurl }}/tour/#sections"><em>Back</em></a>
		</nav>
		{% endif %}

		{% if site.lang == 'ar' %}
		<div class="reveal">
			<div class="slides" dir="rtl">
				{% for item in site.translations[site.lang].tours[page.tour] %}
					{% if item["text"] %}

					<section data-markdown >
						<textarea data-template>
							{{ item["text"] }}
						</textarea>
					</section>

					{% else %}

					<section>
						<img class="stretch lazyload" alt="{{ item["img_alt"] }}" {% if item["img_srcset"] %} srcset="{{ item["img_srcset"] }}"{% endif %} data-src="{{ item["img_src"] }}">
						<small>
							{{ item["caption"] }}
						</small>
					</section>

					{% endif %}
				{% endfor %}

			</div>
		</div>
		{% else %}
		<div class="reveal">
			<div class="slides">
				{% for item in site.translations[site.lang].tours[page.tour] %}
					{% if item["text"] %}

					<section data-markdown >
						<textarea data-template>
							{{ item["text"] }}
						</textarea>
					</section>

					{% else %}

					<section>
						<img class="stretch lazyload" alt="{{ item["img_alt"] }}" {% if item["img_srcset"] %} srcset="{{ item["img_srcset"] }}"{% endif %} data-src="{{ item["img_src"] }}">
						<small>
							{{ item["caption"] }}
						</small>
					</section>

					{% endif %}
				{% endfor %}

			</div>
		</div>
		{% endif %}

		<script src="/assets/reveal.js/js/reveal.js"></script>
		<script type='text/javascript' src='{{ "/assets/lazysizes.min.js" | absolute_url }}' async></script>

		{% if site.lang == 'ar' %}

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				rtl: true,
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
				]
			});
		</script>

		{% else %}

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				rtl: false,
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
				]
			});
		</script>

		{% endif %}
	</body>
</html>
