<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Connecting Trade to the Niger River | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  SAHARAN FRONTIERS: Connecting Trade to the Niger River
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							From its source in the Guinea Highlands, the Niger River moves northeastward into the plains of the Western Sudan. There, between the Niger and its tributary, the Bani River, flooding creates a fertile zone called the Inland Niger Delta. Its rich soils gave rise to a thriving regional urbanism by the 4th century. Above the Inland Niger Delta, the Middle Niger region extends along the river’s wide arc, with cities on its banks that sit close to the Sahara Desert.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Niger River was the main east–west throughway in the Western Sudan for transportation and exchange long before the escalation of trans-Saharan trade began in the 8th century. Saharan trade intersected with this lively exchange and contributed to the development of the powerful states of Ghana (7th–13th century), Mali (13th–16th century), and Songhai (14th–16th century) during the Middle Ages.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Residents of the Inland Niger Delta and the Middle Niger spoke Mande languages similar to those spoken at the sources of gold. This and their advantageous location—between the West African gold fields and the Sahara Desert—enabled them to become important intermediaries in the gold trade.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Inland Niger Delta and Middle Niger
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The great mosque of Jenne and the Monday great market, August 2013. Photograph by Hamdia Traore.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Kneeling Figure. Natamatao, Mopti region, Mali. Terracotta, 46 x 22.4 x 21.5 cm. Musée national du Mali, Bamako, 90.25.10. Photograph by Seydou Camara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Horse. Natamatao, Mopti region, Mali. Terracotta, 37.7 x 23.5 x 45 cm. Musée national du Mali, Bamako, 2002.17.16. Photograph by Seydou Camara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							These terracotta figures of a seated man and horse were found at Natamatao, Mali, alongside skeletons of horses and humans. They are part of a widespread local terracotta sculpture tradition, stretching from 10th to 15th century.  The Niger River’s fertile inland delta supported a thriving urbanism in the Middle Ages that included more than 60 interdependent communities. At Natamatao, excavations unearthed materials associated with trans-Saharan trade, notably a bundle of imported copper ingots. Bracelets and pendants, like those depicted on the kneeling figure, might well have been made of brass, a copper alloy. The depiction of horses likewise points to commerce, as they were traded across the Sahara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_Fragment of a woven blanket_. Tellem peoples, Mali, 15th century. Cotton and wool textile in weft-faced plain weave, 60 x 84 cm. Musée national du Mali, Bamako, Y-74-22. Photograph by Seydou Camara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The woven textiles found among burial remains in the caves of the Bandiagara Cliffs east of Mali’s Inland Niger Delta are among the oldest surviving textiles from WEst Africa, with dates beginning in the eleventh century. As such, they provide important evidence for the longevity of weaving and dying technologies in the region. Large blanket fragments incorporate patterns shared by the Amazigh and Fulani peoples of the Sahara. The blanket itself is assembled from multiple woven bands, establishing the antiquity of a weaving technology unique to West Africa.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Biconical bead. Fulani, Senegal, 19th–20th century. Gilded silver, 10.2 x 6 cm. Detroit Institute of Arts, Founders Society Purchase, Eleanor Clay Ford Fund for African Art, 77.1.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							This biconical, or double-cone shaped bead, made in the late nineteenth or early twentieth century, shares the shape of biconical beads from the Medieval period. It is likely that the style continued to be produced in the region from the eleventh century onward; however, the beads are not exactly comparable. This later bead was cast in silver and then covered with a thin layer of gold over its surface, a technique called gilding. The surface of the bead is embellished with wire filigree, thin metal strips applied in a pattern, and granulation, small spheres of gold.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
