<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>Saharan Echoes | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<header class="reveal-header">
			<a class="reveal-header-button" href="{{ site.url }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="/tour/"><em>Back</em></a>
		</header>
		<div class="reveal">
			<div class="slides">

					<section >
							<h1>SAHARAN ECHOES</h1>
					</section>

					<section>
						<img class="stretch" data-src="/img/tour/man_on_camel_card.jpg" alt="man on camel">
						<small>A man rides his camel to market in the Agadez region of central Niger. Photograph by Cynthia Becker, 2009</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Echoes of the past can be found in the modern visual culture of the Sahara and West Africa.
							While archaeological finds, medieval Arabic texts, and oral narratives are important resources for understanding Africa’s past, they tell us little about daily life in the Sahara Desert during the medieval period. In the absence of critical historical sources, it is helpful to turn to more recent material and cultural practices of Saharan Imazighen peoples—many of which have enduring connections to the past—to provide a path for imagining the past.<sup><a href="/notes/">3</a></sup>
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							This section traces the origins of cultural practices, forms, and decorative patterns on jewelry, leatherwork, and textiles from the Sahara and its hinterlands to the medieval period.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Tuareg camel saddle (tarik or tamzak)" data-src="/img/fragments/1/1_640x.jpg">
						<small>
							Camel saddle (<i>tarik or tamzak</i>), Tuareg, Algerian Sahara, date unknown (probably 20th century). Leather, rawhide, wood, parchment or vellum, wool, silk, tin-plated metal, brass-plated metal, iron, copper alloy, and cheetah skin, 75 x 71 x 46 cm. Peabody Museum of Archaeology and Ethnology, Harvard University, Cambridge, MA, gift of the Estate of Dr. Lloyd Cabot Briggs, 1975, 975-32-50/11927. Photograph © President and Fellows of Harvard College, Peabody Museum of Archaeology and Ethnology
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							Until the widespread domestication of the camel in the early centuries of the Common Era, historians believe, trans-Saharan trade and exchange was quite rare. Camels are ideal for Saharan movement: they rarely sweat, even in hot desert climates, and can conserve fluids for long periods of time.<sup><a href="/notes/">4</a></sup> With camels to ride and to carry loads, the Tuareg and other Imazighen peoples of the Sahara once controlled the caravan routes that stretched across the desert.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Their economy was based on herding and supplemented by the trade of salt. Tuareg nobility depended on artisans to produce wood, metal, and leather goods like this saddle.<sup><a href="/notes/">5</a></sup> This example is too ornate to have been used for lengthy travel. It was made by covering a wooden core with dyed and tooled leather and then decorating the pommel and other parts with metal embellishments filled with geometric patterns.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Drawing of a guinbri" data-src="/img/fragments/2/2_640x.jpg">
						<small>
							Drawing of a guinbri.  Reproduced from Georg Hjersing Høst, <i>Reports on Morocco and Fes (Efterretninger om Marokos og Fes: Samlede der i Landene fra ao. 1760 til 1768)</i>. Copenhagen: N. Möller, 1779. Melville J. Herskovits Library of African Studies, Northwestern University, Evanston, IL, DT308.H83 1779. Photograph by Clare Britt
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							From at least the nineteenth century, the word *gnawa* has been used in Morocco to refer to the descendants of enslaved people from the Western Sudan. The term is now associated with black Moroccans who entertain in public squares and on concert stages. The guinbri is the most prestigious of all Gnawa musical instruments. This drawing of a guinbri is from the account of Danish businessman and diplomat Georg Høst of his travels in Morocco.
						</textarea>
					</section>

					<section>
						<p>
							Published in 1779, it is the first known mention of a guinbri in European literature. The instrument may derive from one that the fourteenth-century Muslim traveler Ibn Battuta described as being played at the court of the Mali Empire and that he called the gunburi.<sup><a href="/notes/">6</a></sup>
						</p>
						<br>
					</section>

					<section>
						<img class="stretch" alt="Head ornament" data-src="/img/fragments/3/3_640x.jpg">
						<small>
							Head ornament, Tekna, Laayoun, Western Sahara, mid-20th century. Nylon and polypropylene hair, amber, coral, shell, silver, carnelian, and glass beads, 12.5 x 18 x 2.6 cm. Art Institute of Chicago, Alsdorf Foundation–James and Marilynn Alsdorf Acquisition Fund, 2009.574. Photograph courtesy of The Art Institute of Chicago/Art Resource, NY
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Tekna live in the northwestern part of the Sahara and are descended from local Imazighen and Arabs who immigrated to the region between the fifteenth and seventeenth century. This Tekna headdress is made of braided and knotted synthetic hair, though in the past the hairs of a horse’s tail would have been used. Horses as well as the glass, silver, coral, shell, and hardstone beads that are used to the headdress harken back to the medieval circulation of these valued materials, exemplifying how the legacy of the past continues to impact the present.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
