---
layout: default
---
<h3 class='page-title'>{% t pages.saharan_frontiers.title %}</h3>

<img class="img-fluid text-centered" srcset="/img/tour/saharan-frontiers/caravans-section-2-map_300.png 300w, /img/tour/saharan-frontiers/caravans-section-2-map_800.png 800w" sizes="(max-width: 600px) 300px, 600px" src="/img/tour/saharan-frontiers/caravans-section-2-map_800.png">
<p class="small">{% t pages.saharan_frontiers.caption %}</p>

{{ content }}

{% if site.lang == 'ar' %}

<h5 id="sections" class="text-right" dir="rtl">أقسام</h5>

{% for section in site.translations[site.lang].pages.saharan_frontiers.sections %}
  <div class="card">
    <a href="{{ site.baseurl }}{{ section.link }}" title="{{ section.title }}">
      <div class="content-overlay"></div>
      <img class="card-img lazyload" srcset="{{ section.img_srcset }}" data-src="{{ section.img_src }}" alt="{{ img_alt }}">
      <div class="content-details" dir="rtl">
        <h5>{{ section.title }}</h5>
      </div>
    </a>
  </div>
  <br>
{% endfor %}

{% else %}

<h5 id="sections">Sections</h5>

{% for section in site.translations[site.lang].pages.saharan_frontiers.sections %}
  <div class="card">
    <a href="{{ site.baseurl }}{{ section.link }}" title="{{ section.title }}">
      <div class="content-overlay"></div>
      <img class="card-img lazyload" srcset="{{ section.img_srcset }}" data-src="{{ section.img_src }}" alt="{{ img_alt }}">
      <div class="content-details">
        <h5>{{ section.title }}</h5>
      </div>
    </a>
  </div>
  <br>
{% endfor %}

{% endif %}
