<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Tadmekka | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  SAHARAN FRONTIERS: Tadmekka
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_“[O]f all the towns in the world [it] is the one that resembles Mecca the most… It is a large town amid mountains and ravines and is better built than Ghana or Gao.”_
							-Abu ‘Ubayd al-Al-Bakri, ca. 1068
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The ruins of Tadmekka lie in northeastern Mali. The town sprawls across nearly 125 acres, with the remains of stone structures that include commercial and residential compounds, caravanserais (roadside inns where caravans could rest overnight), mosques, and livestock enclosures. Surrounding this are cemeteries whose tombstones bear Arabic inscriptions. Cliffs that overlook the town are carved with inscriptions in Arabic and Tifinagh (the written form of Amazigh or Berber) that attest to the site’s occupation as early as the 10th century.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The town is located at the desert’s southern fringe, where in the medieval period camel caravans arrived from and departed for their respective Saharan journeys. Between 2004 and 2005, archaeologist Sam Nixon partnered with colleagues from Mali’s Direction nationale de patrimoine culturel  Institut des Sciences Humaines to undertake the first excavations at the isolated site of Essouk-Tadmekka.  Their findings confirm the descriptions of Tadmekka’s occupation as a center of trans-Saharan trade that appear in the writings of Al-Bakri and other scholars of the period writing in Arabic.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Schematic map of the Essouk-Tadmekka ruins in relation to the surrounding cliffs and the seasonal stream (wadi) that runs through the middle of the site. Identified are the principal zones of the town ruins and surrounding cemeteries. Based on EOM aerial photographs and adapted from Mauny 1961 and Moraes Faria 2003.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Walking among the stone structural remains on the site surface. Photograph courtesy of G. Pagnoni, 1998.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							A selection of excavated finds from Essouk-Tadmekka, including fragments of glazed ceramics (among which is an oil lamp), stone beads and semi-precious stones, a cowrie shell, a fragment of silk textile, a carved stone torso, and vessel glass fragments. Institut des sciences humaines. Photographs by Clare Britt.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Glass fragments from excavations at Tadmekka, Mali. Institut des sciences humaines, Bamako, Mali. Photograph by Clare Britt.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Spouted vessel. Possibly Egypt or western Asia, ca. 800–1099. Blown glass, height 6 cm, maximum width 9.9 cm; rim diameter 4.5 cm. Collection of the Corning Museum of Glass, Corning, NY, 63.1.5.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Fragment of Qingbai porcelain found at Tadmekka, Mali. China, Northern Song dynasty, 10th–12th century. Institut des sciences humaines, Mali. Photograph by Clare Britt.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Foliate bowl with stylized peony spray. China, Northern Song dynasty, 12th century. Porcelain with underglaze carved decoration, height 7.1 cm, diameter 20.1 cm. Art Institute of Chicago, bequest of Russell Tyson, 1964.847. Photograph Art Institute of Chicago/Art Resource, NY.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The slightly arcing shapes of these small tubes of green glass, excavated at Essouk-Tadmekka, Mali, suggest they were likely part of small spouted bottles. Made in Egypt or western Asia, such bottles were used throughout the medieval Mediterranean as containers for perfume or rose water. Fragments of glass vessels have also been found at other medieval sites north and south of the Sahara Desert, material remnants of the long-distance trade of luxury glassware.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Ceramic fragments from excavations at Tadmekka, Mali. Institut des sciences humaines, Mali. Photograph by Kathleen Bickford Berzock, 2016.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Vast amounts of unglazed ceramic fragments —the remains of bottles, bowls, jars, storage containers, and other items essential to daily life—have been excavated at multiple sites in the Western Sudan region, and even north of the Sahara at sites including Sijilmasa. Decorated with imprinted roulette patterns or slip-painted motifs, these vessels were used domestically for cooking and food storage. Such terracotta containers also transported commodities including grains and fist from Mali’s fertile Inland Niger Delt across vast distances.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
