<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Gao | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  SAHARAN FRONTIERS: Gao
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_Gao is the greatest of the realms of the Sudan, the most important and most powerful. All other kingdoms obey its king._
							-Ahmad al-Ya‘qubi, 9th century
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Strategically positioned beside the Niger River and between the Sahara and the fertile West African Savanna, the city of Gao was an important center for trade in the medieval period. The medieval geographer and historian Abu ‘Ubayd al-Bakri (d. 1094), observed that Islam was well-established in Kawkaw, the Arabic name for the kingdom of Gao, in the 11th century: “the town consists of two towns, one being the residence of the king and the other inhabited by the Muslims.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Excavations at two sites associated with Gao – Gao-Ancien and Gao Saney – have been conducted by Timothy Insoll, Mamadou Cissé, and a joint team from the Direction nationale du patrimoine culturel and the Museum of Ethnology in Osaka, Japan, among others.  Gao Ancien was the royal capital and residence; Gao Saney, a predominantly Muslim town, lay five miles east.  Several tombstones with Arabic inscriptions have been found in a cemetery on the outskirts of Gao Saney. This pattern of twin communities in capitals of chiefdoms or kingdoms where the king was not Muslim was replicated throughout much of West Africa, especially along routes of the caravan trade.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Location of Gao Ancien and Gao Saney
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Spoon or ladle excavated in 2006 from GKM 13, lev. 1 Copper alloy, 5.5 x 4.5 x 1.3 cm.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Fragment of a scabbard iron with copper embellishment, 15 x 5 x 0.5 cm.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Hardstone beads excavated at Gao Ancien, 8th-13th century, GMK/S1, L11.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Fragments of glass excavated at Gao Saney, 8th – 10th century, GS1, lev. 9, LRF 19, ACGS, L1, LRF 1 and lev. 19, LRF 26.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Crucible (needs caption)
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							This small crucible recovered from Gao was used in glass bead making. Glass beads, which were produced at many locales and exchanged across vast distances, provide a microcosm for considering the complex networks that met at Gao. Approximately two-thirds of the beads are from the lower occupation levels, dated to the eighth to tenth centuries, with many of those found in trenches in broken, malformed, or unfinished condition. The evidence from these trenches is especially compelling, suggesting that Gao was a production site for recycling and remaking imported glass.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Assorted glass beads from Gao, Mali. Direction nationale du patrimoine culturel, Mali. Photograph by Seydou Camara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Many hundreds of glass, terracotta, and semi-precious stone beads have been excavated at the sites of Gao Ancien and Gao Saney. Originating from many different sites of production and exchanged across vast distances, they provide a microcosm for considering the complex networks that met at Gao. While terracotta beads were likely produced locally, finished glass beads were imported to Gao from bead making centers in North Africa, Egypt, Europe, and the West African Forest region. The presence of crucibles for melting glass and of malformed beads at Gao Saney suggest that it was a secondary glass bead production site. In which broken glass was melted for bead making.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Two fragments of glazed ceramics and a fragment of carved alabaster excavated at Gao, Mali. Musée nationale du Mali, Bamako. Photograph by Seydou Camara.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Needs caption information, couldn’t find in book or TMS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Decorative glazed ceramics in a number of distinctive styles were transported across the Sahara, and fragments have been recovered at multiple sites. These large fragments (left and center) were excavated at Gao in Mali, as was the piece of carved alabaster (right), which likely came from a source in Egypt or Syria.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>

{% tf _layouts/saharan-frontiers-gao.html %}