<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Echoes | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section >
							<h1>Saharan Echoes</h1>
					</section>

					<section>
						<img class="stretch" alt="man on camel" src="/img/tour/se_manOnCamel_1400.jpg">
						<p>A man rides his camel to market in the Agadez region of central Niger. Photograph by Cynthia Becker, 2009. </p>
					</section>

					<section data-markdown >
						<textarea data-template>
							Echoes of the past can be found in the modern visual culture of the Sahara and West Africa. While archaeological finds, medieval Arabic texts, and oral narratives are important resources for understanding Africa’s past, they tell us little about daily life in the Sahara Desert during the medieval period. In the absence of critical historical sources, it is helpful to turn to more recent material and cultural practices—many of which have enduring connections to the past—to provide a path for imagining the past.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							This section traces the origins of cultural practices, forms and decorative patterns on jewelry, leatherwork, and textiles from the Sahara and its hinterlands to the medieval period.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Tuareg camel saddle (tarik or tamzak)" src="/img/tour/obj_1_1400.jpg">
					</section>

					<section data-markdown data-background-image="/img/tour/obj_1_1400.jpg">
						<textarea data-template>
							Tuareg camel saddle (tarik or tamzak). Algerian Sahara. Leather, rawhide, wood, parchment or vellum, wool, silk, tin-plated metal, brass-plated metal, iron, copper alloy, and cheetah skin, 75 x 71 x 46 cm. Peabody Museum of Archaeology and Ethnology, Harvard University, Cambridge, MA, gift of the Estate of Dr. Lloyd Cabot Briggs, 1975, 975-32-50/11927. © President and Fellows of Harvard College, Peabody Museum of Archaeology and Ethnology.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Until the widespread domestication of the camel in the early centuries of the Common Era, historians believe that trans-Saharan trade and exchange was quite rare. Camels are ideal for Saharan movement: they rarely sweat, even in hot desert climates, and can conserve fluids for long periods of time.  With camels to ride and to carry loads, the Tuareg and other peoples of the Sahara once controlled the caravan routes that stretched across the desert.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Their economy was based on herding and supplemented by the trade of salt. Tuareg nobility depended on a worker class to tend flocks, a slave class to meet domestic needs, and an artisan class to produce leather, wood, and metal goods, like this saddle.  This saddle is too ornate to have been used for lengthy travel. It was made by covering a wooden core with dyed and tooled leather and then decorating the pommel and other parts with metal embellishments filled with geometric patterns.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Drawing of a guinbri" src="/img/tour/se_drawing_1400.jpg">
					</section>

					<section data-markdown>
						<textarea data-template>
							Drawing of a guinbri. Georg Hjersing Høst, Efterretninger om Marokos og Fes: Samlede der i Landene fra ao. 1760 til 1768 (Copenhagen: N. Möller, 1779). Melville J. Herskovits Library of African Studies, Northwestern University, Evanston, IL, DT308.H83 1779.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							From at least the 19th century, the word gnawa has been used in Morocco to refer to the descendants of enslaved people from the Western Sudan. The term is now associated with black Moroccans who entertain in public squares and on concert stages. The guinbri is the most prestigious of all Gnawa musical instruments. This drawing of a guinbri is from the Danish businessman and diplomat Georg Høst’s account of his travels in Morocco.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Published in 1779, it is the first known mention of a guinbri in European literature. The instrument may derive from one that the 14th-century Muslim traveler Ibn Battuta described as being played at the court of the Mali Empire, which he called the guinbri.
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="Head ornament" src="/img/tour/obj_2_1400.jpg">
					</section>

					<section data-markdown>
						<textarea data-template>
							Head ornament. Tekna, Laayoun, Western Sahara, early 20th century. Nylon and polypropylene hair, amber, coral, shell, silver, carnelian, and glass beads, 12.5 x 18 x 2.6 cm. Art Institute of Chicago, Alsdorf Foundation–James and Marilynn Alsdorf Acquisition Fund, 2009.574. Photograph Art Institute of Chicago/Art Resource, NY.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Tekna live in the northwestern part of the Sahara and are descended from local Imazighen (Berbers) and Arabs who immigrated to the region between the 15th and 17th centuries. This Tekna headdress is made of braided and knotted synthetic hair, though in the past the hairs of a horse’s tail would have been used. Horses, as well as the glass, silver, coral, shell, and hardstone beads that are used to the headdress harken back to the medieval circulation of these valued materials, exemplifying how the legacy of the past continues to impact the present.
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
