<!doctype html>
<html lang='{{ site.lang }}'>
	<head>
		{% include google-analytics.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<title>{% t saharan_echoes.title %} | {% t global.title %}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/simple.css">

	</head>
	<body>
		<nav class="reveal-header">
			<a class="reveal-header-button" href="{{ site.baseurl }}"><em>Home</em></a>
			<span class="reveal-header-delimiter">•</span>
			<a class="reveal-header-button" href="{{ site.baseurl }}/tour/#sections"><em>Back</em></a>
		</nav>
		<div class="reveal">
			<div class="slides">

					<section >
							<h1>{% t saharan_echoes.title %}</h1>
					</section>

					<section>
						<img class="stretch" src="/img/tour/saharan-echoes/intro_800.jpg" alt="{% t saharan_echoes.2_caption %}">
						<small>{% t saharan_echoes.2_caption %}</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.3 %}
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.4 %}
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="{% t saharan_echoes.5_alt %}" src="/img/works/1/1_640x.jpg">
						<small>
							{% t saharan_echoes.5_caption %}
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.6 %}
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.7 %}
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="{% t saharan_echoes.8_alt %}" src="/img/works/2/2_640x.jpg">
						<small>
							{% t saharan_echoes.8_caption %}
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.9 %}
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.10 %}
						</textarea>
					</section>

					<section>
						<img class="stretch" alt="{% t saharan_echoes.11_alt %}" src="/img/works/3/3_640x.jpg">
						<small>
							{% t saharan_echoes.11_caption %}
						</small>
					</section>

					<section data-markdown >
						<textarea data-template>
							{% t saharan_echoes.12 %}
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
