<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  SAHARAN FRONTIERS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The medieval Sahara was the center of an interconnected and far-reaching trading network that extended in multiple directions. Based in Granada, Spain, the 12th-century geographer Mohammed ibn Abu Bakr al-Zuhri described the remarkable scope of trans-Saharan trade, describing, “From this land they import sugar to Tunisia and the Maghrib and Andalusia and Byzantium and Western Europe. They also import indigo, alum, and brass. From this region too come the imports of the desert such as male and female slaves and abqar, which in their language means gold. [From this region] caravans enter the land of Janawa, Ghana, Ethiopia, Gao, Zafun, and Amima. They also enter from Tafilalat and Sijilmasa, and to these two places come their booty.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Intermediaries were essential to trade across the Sahara. Diverse peoples, each with their own language, perspective, system of supply and demand, resources, and expertise, contributed to maintaining the connections that supported far-reaching networks of exchange. These included North African Muslims who spoke Arabic and followed Islamic laws governing trade. Amizigh (Berber) nomads, who knew the routes across the desert and managed the long camel caravans that were the most efficient way to traverse this challenging environment. South of the desert, they interacted with Wangara merchants who traveled among the diverse peoples of Africa’s Western Sudan region, spoke their languages, and navigated long-standing trade routes along the Niger River and its tributaries.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Georg Höst, Efterretninger om Marokos og Fes: Samlede der I Landene fraao. 1760–1768. Copenhagen: N. Möller, 1779. Melville J. Herskovits Library of African Studies, Northwestern University, DT308.H83 1779. Photograph by Clare Britt.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_Around Sijilmasa there are deposits of gold and silver. The gold is found like plants, and it is said that the wind blows it away._
							—Ahmadal-Ya‘qubi, 9th century
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Between 1988 and 1998 the Moroccan-American Project at Sijilmasa (MAPS) undertook six archaeological missions at Sijilmasa. Their excavations have revealed the remains of a citadel, an ore-processing site, a mosque, and an elite residence where the small gold filigree ring in the nearby case was found.  A caravanserai (a roadside inn where caravans could rest overnight), Souk Ben Akla, was located three miles west of the city on the banks of the Rheris River.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Plan of central Sijilmasa, located within the Tafilalt Oasis, produced by MAPS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Bab al-Rih (Gate of the Wind) or Bab Fez (Gate to Fez) stands at the northern limit of Sijilmasa. Ancient arcades over a portal were restored in a more recent era. Photograph by Kathleen Bickford Berzock, 2017.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Selection of objects excavated at Sijilmasa (left to right, top to bottom): oil lamp; water filter; cuerda seca ceramic fragments; glazed ceramic fragments; carved stucco fragment. Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Carved stucco fragment, 11th-13th century and Fragment of Wall Plaster with Qur’anic Inscription, 9th–10th century. Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Sijilmasa was a sizeable and wealthy urban center in its heyday. The Andalusian historian and geographer Abu ‘Ubayd al-Bakri (d. 1094) described the city as, “a wall with twelve gates. Within are beautiful houses, many having gardens, magnificent public buildings, a mosque that is solidly built, and baths that are poorly built.”  This fragment of painted plaster, bearing an inscription from the Qur’an, was found at the site of an elite residence of the 9th or 10th century. Just a century or two later of a mosque was built on the same location. The carved stucco fragment with geometric patterns was part of the decorative program of the mosque during the imperial regimes of the Almoravids or Almohads, both with local Amazigh (Berber) origins.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Ring excavated at Sijilmasa, Morocco, 9th-10th century. Gold, diameter 1.9 cm. Fondation nationale des musées du Royaume du Maroc, Rabat, 2006-1. Photograph by Abdallah Fili and Hafsa El Hassani.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							This gold ring is one of only a few gold objects to have survived from medieval Saharan Africa, and it is important material evidence of Sijilmasa’s link to Saharan trade. A goldsmith made the ring by soldering thin flattened strips of gold in an undulating pattern to upper and lower bands. The ring was found in an elite residence and dates to an extended period of development of the city by local Amizigh (Berber) rulers, the Bani Midrar. The gold-working technique resembles that of 19th- and 20th-century Amizigh (Berber) jewelry from the Sahara and Anti-Atlas Mountains.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Glazed ceramic vase inscribed with “al-Baraka,” 11th century. Musée archéologique de Rabat, Morocco. Photograph by MAPS, 1988.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Vast amounts of glazed and unglazed ceramic fragments—the remains of bowls, jugs, lamps, storage containers, and other items essential to daily life—have been excavated at sites north and south of the Sahara. This glazed and inscribed vase, from the 11th century, is one of the best preserved ceramic objects excavated from the site. Found west of the remains of Sijilmasa’s grand mosque, its decorative inscription reads “al-Baraka” (the blessing) followed by  “Allah” (God) or “al-yawman” (prosperity).
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_“[O]f all the towns in the world [it] is the one that resembles Mecca the most… It is a large town amid mountains and ravines and is better built than Ghana or Gao.”_
							-Abu ‘Ubayd al-Al-Bakri, ca. 1068
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The ruins of Tadmekka lie in northeastern Mali. The town sprawls across nearly 125 acres, with the remains of stone structures that include commercial and residential compounds, caravanserais (roadside inns where caravans could rest overnight), mosques, and livestock enclosures. Surrounding this are cemeteries whose tombstones bear Arabic inscriptions. Cliffs that overlook the town are carved with inscriptions in Arabic and Tifinagh (the written form of Amazigh or Berber) that attest to the site’s occupation as early as the 10th century.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The town is located at the desert’s southern fringe, where in the medieval period camel caravans arrived from and departed for their respective Saharan journeys. Between 2004 and 2005, archaeologist Sam Nixon partnered with colleagues from Mali’s Direction nationale de patrimoine culturel  Institut des Sciences Humaines to undertake the first excavations at the isolated site of Essouk-Tadmekka.  Their findings confirm the descriptions of Tadmekka’s occupation as a center of trans-Saharan trade that appear in the writings of Al-Bakri and other scholars of the period writing in Arabic.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Schematic map of the Essouk-Tadmekka ruins in relation to the surrounding cliffs and the seasonal stream (wadi) that runs through the middle of the site. Identified are the principal zones of the town ruins and surrounding cemeteries. Based on EOM aerial photographs and adapted from Mauny 1961 and Moraes Faria 2003.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Walking among the stone structural remains on the site surface. Photograph courtesy of G. Pagnoni, 1998.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							A selection of excavated finds from Essouk-Tadmekka, including fragments of glazed ceramics (among which is an oil lamp), stone beads and semi-precious stones, a cowrie shell, a fragment of silk textile, a carved stone torso, and vessel glass fragments. Institut des sciences humaines. Photographs by Clare Britt.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_Left:_ Glass fragments from excavations at Tadmekka, Mali. Institut des sciences humaines, Bamako, Mali. Photograph by Clare Britt.
							_Right:_ Spouted vessel. Possibly Egypt or western Asia, ca. 800–1099. Blown glass, height 6 cm, maximum width 9.9 cm; rim diameter 4.5 cm. Collection of the Corning Museum of Glass, Corning, NY, 63.1.5.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Left: Fragment of Qingbai porcelain found at Tadmekka, Mali. China, Northern Song dynasty, 10th–12th century. Institut des sciences humaines, Mali. Photograph by Clare Britt.
							Right: Foliate bowl with stylized peony spray. China, Northern Song dynasty, 12th century. Porcelain with underglaze carved decoration, height 7.1 cm, diameter 20.1 cm. Art Institute of Chicago, bequest of Russell Tyson, 1964.847. Photograph Art Institute of Chicago/Art Resource, NY.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The slightly arcing shapes of these small tubes of green glass, excavated at Essouk-Tadmekka, Mali, suggest they were likely part of small spouted bottles. Made in Egypt or western Asia, such bottles were used throughout the medieval Mediterranean as containers for perfume or rose water. Fragments of glass vessels have also been found at other medieval sites north and south of the Sahara Desert, material remnants of the long-distance trade of luxury glassware.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Ceramic fragments from excavations at Tadmekka, Mali. Institut des sciences humaines, Mali. Photograph by Kathleen Bickford Berzock, 2016.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Vast amounts of unglazed ceramic fragments —the remains of bottles, bowls, jars, storage containers, and other items essential to daily life—have been excavated at multiple sites in the Western Sudan region, and even north of the Sahara at sites including Sijilmasa. Decorated with imprinted roulette patterns or slip-painted motifs, these vessels were used domestically for cooking and food storage. Such terracotta containers also transported commodities including grains and fist from Mali’s fertile Inland Niger Delt across vast distances.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_Gao is the greatest of the realms of the Sudan, the most important and most powerful. All other kingdoms obey its king._
							-Ahmad al-Ya‘qubi, 9th century
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Strategically positioned beside the Niger River and between the Sahara and the fertile West African Savanna, the city of Gao was an important center for trade in the medieval period. The medieval geographer and historian Abu ‘Ubayd al-Bakri (d. 1094), observed that Islam was well-established in Kawkaw, the Arabic name for the kingdom of Gao, in the 11th century: “the town consists of two towns, one being the residence of the king and the other inhabited by the Muslims.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Excavations at two sites associated with Gao – Gao-Ancien and Gao Saney – have been conducted by Timothy Insoll, Mamadou Cissé, and a joint team from the Direction nationale du patrimoine culturel and the Museum of Ethnology in Osaka, Japan, among others.  Gao Ancien was the royal capital and residence; Gao Saney, a predominantly Muslim town, lay five miles east.  Several tombstones with Arabic inscriptions have been found in a cemetery on the outskirts of Gao Saney. This pattern of twin communities in capitals of chiefdoms or kingdoms where the king was not Muslim was replicated throughout much of West Africa, especially along routes of the caravan trade.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Location of Gao Ancien and Gao Saney
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Looters’ pits at Gao Saney. Photo Mamadou Cissé
						</textarea>
					</section>

					<!-- Stopped at page 22 of PWA_WorkingMap.docx -->

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
