<!doctype html>
<html lang='en-us'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Saharan Frontiers: Sijilmasa | {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}">

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

					<section data-markdown >
						<textarea data-template>
						  SAHARAN FRONTIERS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The medieval Sahara was the center of an interconnected and far-reaching trading network that extended in multiple directions. Based in Granada, Spain, the 12th-century geographer Mohammed ibn Abu Bakr al-Zuhri described the remarkable scope of trans-Saharan trade, describing, “From this land they import sugar to Tunisia and the Maghrib and Andalusia and Byzantium and Western Europe. They also import indigo, alum, and brass.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							 From this region too come the imports of the desert such as male and female slaves and abqar, which in their language means gold. [From this region] caravans enter the land of Janawa, Ghana, Ethiopia, Gao, Zafun, and Amima. They also enter from Tafilalat and Sijilmasa, and to these two places come their booty.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Intermediaries were essential to trade across the Sahara. Diverse peoples, each with their own language, perspective, system of supply and demand, resources, and expertise, contributed to maintaining the connections that supported far-reaching networks of exchange. These included North African Muslims who spoke Arabic and followed Islamic laws governing trade.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Amizigh (Berber) nomads, who knew the routes across the desert and managed the long camel caravans that were the most efficient way to traverse this challenging environment. South of the desert, they interacted with Wangara merchants who traveled among the diverse peoples of Africa’s Western Sudan region, spoke their languages, and navigated long-standing trade routes along the Niger River and its tributaries.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Georg Höst, Efterretninger om Marokos og Fes: Samlede der I Landene fraao. 1760–1768. Copenhagen: N. Möller, 1779. Melville J. Herskovits Library of African Studies, Northwestern University, DT308.H83 1779. Photograph by Clare Britt.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							_Around Sijilmasa there are deposits of gold and silver. The gold is found like plants, and it is said that the wind blows it away._
							—Ahmadal-Ya‘qubi, 9th century
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Founded in the 8th century, Sijilmasa sits along the northern edge of the Sahara Desert in southeastern Morocco, adjacent to present-day Rissani. It lies in the Tafalalt Oasis, a basin of alluvial soils.  Sijilmasa was a vital link in the African gold trade. Its mint struck gold coins as early as the 10th century, and evidence strongly suggests that West African gold passed through the area by the 4th century. While much of Sijilmasa was abandoned in the late 14th century, parts of the city, such as the great mosque, were used until the turn of the 20th century.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Between 1988 and 1998 the Moroccan-American Project at Sijilmasa (MAPS) undertook six archaeological missions at Sijilmasa. Their excavations have revealed the remains of a citadel, an ore-processing site, a mosque, and an elite residence where the small gold filigree ring in the nearby case was found.  A caravanserai (a roadside inn where caravans could rest overnight), Souk Ben Akla, was located three miles west of the city on the banks of the Rheris River.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Plan of central Sijilmasa, located within the Tafilalt Oasis, produced by MAPS
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							The Bab al-Rih (Gate of the Wind) or Bab Fez (Gate to Fez) stands at the northern limit of Sijilmasa. Ancient arcades over a portal were restored in a more recent era. Photograph by Kathleen Bickford Berzock, 2017.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Selection of objects excavated at Sijilmasa (left to right, top to bottom): oil lamp; water filter; cuerda seca ceramic fragments; glazed ceramic fragments; carved stucco fragment. Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Carved stucco fragment, 11th-13th century and Fragment of Wall Plaster with Qur’anic Inscription, 9th–10th century. Ministère de la culture et de la communication du Royaume du Maroc. Photograph by Fouad Mahdaoui.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Sijilmasa was a sizeable and wealthy urban center in its heyday. The Andalusian historian and geographer Abu ‘Ubayd al-Bakri (d. 1094) described the city as, “a wall with twelve gates. Within are beautiful houses, many having gardens, magnificent public buildings, a mosque that is solidly built, and baths that are poorly built.”
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
						  This fragment of painted plaster, bearing an inscription from the Qur’an, was found at the site of an elite residence of the 9th or 10th century. Just a century or two later of a mosque was built on the same location. The carved stucco fragment with geometric patterns was part of the decorative program of the mosque during the imperial regimes of the Almoravids or Almohads, both with local Amazigh (Berber) origins.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Ring excavated at Sijilmasa, Morocco, 9th-10th century. Gold, diameter 1.9 cm. Fondation nationale des musées du Royaume du Maroc, Rabat, 2006-1. Photograph by Abdallah Fili and Hafsa El Hassani.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							This gold ring is one of only a few gold objects to have survived from medieval Saharan Africa, and it is important material evidence of Sijilmasa’s link to Saharan trade. A goldsmith made the ring by soldering thin flattened strips of gold in an undulating pattern to upper and lower bands. The ring was found in an elite residence and dates to an extended period of development of the city by local Amizigh (Berber) rulers, the Bani Midrar. The gold-working technique resembles that of 19th- and 20th-century Amizigh (Berber) jewelry from the Sahara and Anti-Atlas Mountains.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Glazed ceramic vase inscribed with “al-Baraka,” 11th century. Musée archéologique de Rabat, Morocco. Photograph by MAPS, 1988.
						</textarea>
					</section>

					<section data-markdown >
						<textarea data-template>
							Vast amounts of glazed and unglazed ceramic fragments—the remains of bowls, jugs, lamps, storage containers, and other items essential to daily life—have been excavated at sites north and south of the Sahara. This glazed and inscribed vase, from the 11th century, is one of the best preserved ceramic objects excavated from the site. Found west of the remains of Sijilmasa’s grand mosque, its decorative inscription reads “al-Baraka” (the blessing) followed by  “Allah” (God) or “al-yawman” (prosperity).
						</textarea>
					</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
