<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Shifting Away from the Sahara | {{ site.title }}</title>

		<link rel="stylesheet" href="/assets/reveal.js/css/reset.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/assets/reveal.js/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal.js/css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

				<section data-markdown >
					<textarea data-template>
						SHIFTING AWAY FROM THE SAHARA
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Anonymous photographer. Courtyard in either the royal mausoleum or in the palace of the King of Asante. ca. 1887. The National Archives of the UK, ref. CO1069/31(7).
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  In the late 15th century, the establishment of Atlantic-coast trade with Europeans led to a decline in trade across the Sahara Desert.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The establishment of trade with Europeans along Africa’s Atlantic coast in the late 15th century effectively bypassed the series of intermediaries that were essential to Saharan trade. Ships made possible the transport of more goods. Gold, ivory, and other Saharan trade staples remained important commodities, especially in the early days of coastal trade. However, the slave trade would soon dominate the Atlantic economy.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The creation of new trading centers along the West African coast slowed but did not end trans-Saharan trade. As the gold trade shifted southward, it contributed to the creation of the Asante Empire (in today’s nation of Ghana). There the legacy of Saharan gold trading continued particularly in the systems of measure based on the mithqal (4.5 grams) that were used to weigh gold.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Bowl (_kuduo_). Asante, Offin River, Ghana, 16th–18th(?) century. Brass, 15 x 32 cm. British Museum, London, Af1955,05.225.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						This bowl was discovered in 1909 while dredging for gold along the banks of the Offin River in southern Ghana. Its formal similarity to 14th and 15th century Mamluk brass bowls and basins that were imported across the Sahara Desert in the late medieval period provides compelling evidence that the making of Akan nkuduo was inspired by the north-east African imports.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The bowl’s profile and the placement of its surface decoration are almost identical to Mamluk period Arabic-inscribed bowls; however, details such as the use of a pseudo script— an attempt by an artist unfamiliar with Arabic to capture the formal essence of Arabic calligraphy—and the representation of stylized crocodiles and mudfish, inhabitants of the Akan forest, in two of the eight medallions, show how a local artist may have reinterpreted important visual elements.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  Scale, scoop, boxes, and weights for measuring gold from Ghana and Côte d’Ivoire, Akan, 18th– late 19th century. Copper alloy, smallest 0.6 × 12.1 × 0.2 cm; largest 2.5 × 14.9 × 7.3 cm. National Museum of African Art, Smithsonian Institution, Washington, DC, gifts of Cynthia E. Gubemick; Mr.and Mrs. Robert Bevill, Mr. and Mrs. Alan Bresler, Mr. and Mrs. Gilbert Shulman, Robert B. Dean, and Benjamin Weiss, 70-20-54, 70-20-81, 75-22-1, 75-22-575, 76-51-7, 80-28-18. Photograph Franko Khoury, National Museum of African Art, Smithsonian Institution.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
					  As European merchants shifted their attention to Africa’s Atlantic coast in the late 15th century, the direction of gold trade also shifted. In response, new states arose in Africa’s Akan-speaking regions, and aspects of the Saharan gold trade were transferred to this new market. For instance, the Akan system for weighing gold was based on the mithqal, a unit of weight equal to 4.5 grams (0.16 ounce). The Akan gold economy gave rise to an array of striking new objects for measuring gold: scoops, spoons, boxes, and especially copper-alloy weights in a great variety of forms, some of which also reference the geometric designs of the Muslim Saharan world.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						5 guinea of James II, struck at London, 1685. Gold, diameter 3.5 cm. American Numismatic Society, New York, 1957.172.19. Right: 1 guinea of James II, 1688, struck at London. Gold, diameter 2.5 cm. American Numismatic Society, New York, 0000.999.596
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The Dutch and English vied for lucrative trade along Africa’s West Coast in the mid-17th century. During this period the English produced guinea coins marked with an elephant-and-castle motif below a bust of the English king, James II. The motif was stamped only onto coins made from West African gold acquired by the newly established Royal Africa Company, which was granted a monopoly on this trade by the British crown in 1672. This iconography illustrates the continuing importance of gold and ivory as commodities, even as trade shifted away from Saharan routes.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						Fragments of Jewelry and Ingots. Manufactured in North Africa. Found at Salcombe Cannon Site, Devon, England. Gold. The British Museum, London, England, 1999,1207.449, .450, .460, .461, .465, .470, and .474.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						In 1992 a shipwreck was discovered off the coast of Devon, England. The ship sank in the mid-17th century on its way from North Africa to England. Its cargo included more than 400 gold coins, most of them minted in Morocco in the sixteenth and seventeenth centuries, as well as gold ingots and jewelry. Mostly worn and broken, these gold objects were on their way to be melted down and repurposed. Today, these rare items provide compelling evidence of the export of African gold to Europe.
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						The Asante Jug (Richard II Ewer). Manufactured in England, 1390–99; found at Manhyia Palace, Kumase, Asante region, Ghana. Copper alloy. The British Museum, London, England, 1896,0727.1
					</textarea>
				</section>

				<section data-markdown >
					<textarea data-template>
						This ewer, which was made in England in the 14th century, was taken by the British from Kumase, the capital of the Asante Kingdom, during the Anglo-Asante War of 1896. It is embellished with heraldic motifs and Lombardic inscriptions. The royal arms of England on the front of the jug reference the reigns of both Edward III and Richard II, but the badges on the lid depicting a stag indicate that it was produced during Richard’s reign, specifically between 1390 and 1400. The ewer might have traveled across Saharan trade routes soon after it was made, or it might have been imported to Asante at a later time through trade along the Atlantic coast.
					</textarea>
				</section>

			</div>
		</div>

		<script src="/assets/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '/assets/reveal.js/plugin/markdown/marked.js' },
					{ src: '/assets/reveal.js/plugin/markdown/markdown.js' },
					{ src: '/assets/reveal.js/plugin/notes/notes.js', async: true },
					{ src: '/assets/reveal.js/plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
