<!DOCTYPE html>
<html lang='{{ site.lang }}'>
  {% include head.html %}
  <body id="page-top">
    <time datetime='{{ 'now' | date: '%Y-%m-%d %H:%M' }}'></time>
    {% include site-title.html %}
    {% include header.html %}

     <header class="masthead">
       <div class="container d-flex h-100 align-items-center">
         <div class="mx-auto text-center">
           <h2 class="text-white mb-4 mx-auto">{% t splash.tagline %}</h2>
           <a href="{{ site.baseurl }}/tour/" class="btn btn-dark btn-lg js-scroll-trigger">{% t splash.tour %}</a>
         </div>
       </div>
     </header>

     <section id="about" class="about-section text-center">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto mb-5">
             <p class="text-white mb-4">{% t splash.description %}</p>
             <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}works/">{% t splash.browse %}</a>
         </div>
       </div>
     </section>

     <img srcset="/img/caravans_hero_mobile.jpg 400w, /img/caravans_hero.jpg 1440w" sizes="(max-width:600px) 400px, 1440px" src="/img/caravans_hero_mobile.jpg" class="img-fluid" alt="{% t splash.image_alt_tags.hero %}">

    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  <script type='text/javascript' src="{{ '/assets/jquery-3.4.1.min.js' | absolute_url }}"></script>
  <script type='text/javascript' async defer src='{{ "/assets/bootstrap/bootstrap.min.js" | absolute_url }}'></script>
  <script type='text/javascript' async defer src='{{ "/assets/popper.min.js" | absolute_url }}'></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('{{"/sw.js" | absolute_url }}', {scope: '{{ site.url }}'});
      });
    }
  </script>
</html>
