<!DOCTYPE html>
<html lang='en-us'>
  {% include head.html %}
  <body id="page-top">
    <time datetime='{{ 'now' | date: '%Y-%m-%d %H:%M' }}'></time>
    {% include testing-banner.html %}
    {% include site-title.html %}
    <nav id='wax-header' class='navbar navbar-expand-lg navbar-light'>
     <div class='wax-inline-container'>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#wax-header-navbar' aria-controls='wax-header-navbar' aria-expanded='false' aria-label='navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id="wax-header-navbar">
          <ul class='navbar-nav nav-fill w-100'>
            {% for item in site.menu %}
              {% if item.sub %}
                <li class='nav-item dropdown'>
                  <a class='nav-link dropdown-toggle' href='#' id='wax-{{ item.label }}-dropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    {{ item.label }}
                  </a>
                  <div class='dropdown-menu' aria-labelledby='wax-{{ item.label }}-dropdown'>
                    {% for sub in item.sub %}
                      <a class='dropdown-item' href='{{ sub.link | absolute_url }}'>{{ sub.label }}</a>
                    {% endfor %}
                  </div>
                </li>
              {% else %}
                <li class='nav-item'>
                  <a class='nav-link' href='{{ item.link | absolute_url }}'>{{ item.label }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
     </nav>

     <header class="masthead">
       <div class="container d-flex h-100 align-items-center">
         <div class="mx-auto text-center">
           <h2 class="text-white mb-4 mx-auto">Journey to a medieval world with Africa at its center.</h2>
           <a href="/tour/" class="btn btn-dark btn-lg js-scroll-trigger">Take a Tour</a>
         </div>
       </div>
     </header>

     <section id="about" class="about-section text-center">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto mb-5">
             <p class="text-white mb-4">A digital project, presented in Arabic, French, and English, exploring the global reach of medieval Saharan exchange from the eighth to sixteenth centuries.</p>
             <a class="btn btn-dark btn-lg" href="/works/">Browse Key Works</a>
         </div>
       </div>
     </section>

     <img srcset="/img/caravans_hero_mobile.jpg 400w, /img/caravans_hero.jpg 1440w" sizes="(max-width:600px) 400px, 1440px" src="/img/caravans_hero_mobile.jpg" class="img-fluid" alt="Maritime Atlas of the Sahara">

    <div id='wax-main'>
      <div id='wax-content' class='wax-inline-container'>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  <script type='text/javascript' src="{{ '/assets/jquery-3.4.1.min.js' | absolute_url }}"></script>
  <script type='text/javascript' async defer src='{{ "/assets/bootstrap/bootstrap.min.js" | absolute_url }}'></script>
  <script type='text/javascript' async defer src='{{ "/assets/popper.min.js" | absolute_url }}'></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('{{"/sw.js" | absolute_url }}', {scope: '{{ site.url }}'});
      });
    }
  </script>
</html>
