---
layout: default
---
{% unless page.show_title == false %}
  <h2 class='page-title'>{{ page.title }}</h2>
{% endunless %}

{{ content }}

<h4>Sections</h4>

<div class="card text-white bg-light mb-3">
  <a href="/tour/saharan-echoes/" title="Saharan Echoes">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/man_on_camel_card.jpg" alt="Saharan Echoes">
    <div class="content-details">
      <h4>Saharan Echoes</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/saharan-frontiers-sijilmasa/" title="Saharan Frontiers: Sijilmasa">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/saharan-frontiers-1.jpg" alt="Saharan Frontiers: Sijilmasa">
    <div class="content-details">
      <h4>Saharan Frontiers: Sijilmasa</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/saharan-frontiers-takmekka/" title="Saharan Frontiers: Tadmekka">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/tadmekka-tour.jpg" alt="Saharan Frontiers: Tadmekka">
    <div class="content-details">
      <h4>Saharan Frontiers: Tadmekka</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/saharan-frontiers-gao/" title="Saharan Frontiers: Gao">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/gao-tour.png" alt="Saharan Frontiers: Gao">
    <div class="content-details">
      <h4>Saharan Frontiers: Gao</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/saharan-frontiers-niger-river/" title="Saharan Frontiers: Connecting Trade to the Niger River">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/niger-river.png" alt="Saharan Frontier: Connecting Trade to the Niger River">
    <div class="content-details">
      <h4>Saharan Frontiers: Connecting Trade to the Niger River</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/saharan-frontiers-spread-of-ideas/" title="Saharan Frontiers: The Movement of Language, People, and Ideas">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/spread-of-ideas.jpg" alt="Saharan Frontiers: The Movement of Language, People, and Ideas">
    <div class="content-details">
      <h4>Saharan Frontiers: The Movement of Language, People, and Ideas</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/driving-desires/" title="Driving Desires">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/atlas-of-maritime.jpg" alt="Driving Desires">
    <div class="content-details">
      <h4>Driving Desires</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/long-reach-of-the-sahara-igbo/" title="Long Reach of the Sahara: Igbo Ukwu">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/igbo-tour.jpg" alt="Long Reach of the Sahara: Igbo Ukwu">
    <div class="content-details">
      <h4>Long Reach of the Sahara: Igbo Ukwu</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/long-reach-of-the-sahara-ife/" title="Long Reach of the Sahara: Ife and Its Orbit">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/ife-tour.jpg" alt="Long Reach of the Sahara: Ife and Its Orbit">
    <div class="content-details">
      <h4>Long Reach of the Sahara: Ife and Its Orbit</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/long-reach-of-the-sahara-medieval-glass-bead/" title="Long Reach of the Sahara: Medieval Glass Beads">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/medieval-glass-tour.png" alt="Long Reach of the Sahara: Medieval Glass Beads">
    <div class="content-details">
      <h4>Long Reach of the Sahara: Medieval Glass Beads</h4>
    </div>
  </a>
</div>

<br>

<div class="card text-white bg-light mb-3">
  <a href="/tour/shifting-away-from-the-sahara/" title="Shifting Away from the Sahara">
    <div class="content-overlay"></div>
    <img class="card-img" src="/img/shifting-away-from-the-sahara.jpg" alt="Shifting Away from the Sahara">
    <div class="content-details">
      <h4>Shifting Away from the Sahara</h4>
    </div>
  </a>
</div>
