---
layout: default
---

  <h3 class='page-title'>{% t pages.tour.title %}</h3>

  <img class="img-fluid text-centered" srcset="{{ page.hero_srcset }}" sizes="(max-width: 600px) 300px, 600px" src="{{ page.hero_src }}" alt="{{ page.hero_alt }}">
  <p class="small">{% t pages.tour.caption %}</p>

  {{ content }}

<h5 id="sections">Sections</h5>

  {% for section in site.translations[site.lang].pages.tour.sections %}
    <div class="card">
      <a href="{{ site.baseurl }}{{ section.link }}" title="{{ section.title }}">
        <div class="content-overlay"></div>
        <img class="card-img" srcset="{{ section.img_srcset }}" src="{{ section.img_src }}" alt="{{ img_alt }}">
        <div class="content-details">
          <h5>{{ section.title }}</h5>
        </div>
      </a>
    </div>
    <br>
  {% endfor %}
