---
layout: default
---

{% comment %}
  Create page variables from work metadata to fill in this template
{% endcomment %}

{% if site.lang == 'en' %}

  {% assign label = site.translations[site.lang].works[page.pid]["label"] %}
  {% assign section = site.translations[site.lang].works[page.pid]["section"] %}
  {% assign date = site.translations[site.lang].works[page.pid]["_date"] %}
  {% assign region_culture_timeperiod = site.translations[site.lang].works[page.pid]["region_culture_timeperiod"] %}
  {% assign medium = site.translations[site.lang].works[page.pid]["medium"] %}
  {% assign dimensions = site.translations[site.lang].works[page.pid]["dimensions"] %}
  {% assign credit_line = site.translations[site.lang].works[page.pid]["credit_line"] %}
  {% assign description = site.translations[site.lang].works[page.pid]["description"] %}

  <h2 class='item-label text-center' style='font-size:1.5rem!important;font-weight:700!important'>{{ label }}</h2>

  <div class='item-view'>
     <div class='image-viewer'>
       <a href='{{ page.full }}'>
         <img class='item-full-image' src='{{ page.full | absolute_url }}' alt='{{ label | slugify }}'/>
       </a>
     </div>
  </div>

  <dl class='metadata-block'>
    <dt>Object Name</dt>
    <dd>{{ label }}</dd>
    <dt>Culture / Site</dt>
    <dd>{{ region_culture_timeperiod }}</dd>
    <dt>Date</dt>
    <dd>{{ date }}</dd>
    <dt>Dimensions</dt>
    <dd>{{ dimensions }}</dd>
    <dt>Credit Line</dt>
    <dd>{{ credit_line }}</dd>
    <dt>Section</dt>
    <dd>{{ section }}</dd>
    <dt>Description</dt>
    <dd>{{ description }}</dd>
  </dl>

  {% else %}

  {% assign label = site.translations[site.lang].works[page.pid]["label"] %}
  {% assign caption = site.translations[site.lang].works[page.pid]["caption"] %}
  {% assign description = site.translations[site.lang].works[page.pid]["description"] %}

  <h2 class='item-label text-center' style='font-size:1.5rem!important;font-weight:700!important'>{{ label }}</h2>

  <div class='item-view'>
     <div class='image-viewer'>
       <a href='{{ page.full }}'>
         <img class='item-full-image' src='{{ page.full | absolute_url }}' alt='{{ label | slugify }}'/>
       </a>
     </div>
  </div>

  <dl class='metadata-block'>
    <dt>Object</dt>
    <dd>{{ caption }}</dd>
    <dt>Description</dt>
    <dd>{{ description }}</dd>
  </dl>

{% endif %}

{% assign links = site[page.collection] | sort: 'order' | map: 'url' %}
{% for link in links %}
  {% if link == page.url %}
    {% if forloop.first %}
      {% assign prevlink = links | last %}
      {% assign nextlink = links[forloop.index] %}
    {% elsif forloop.last %}
      {% assign prevlink = prev %}
      {% assign nextlink = links | first %}
    {% else %}
      {% assign prevlink = prev %}
      {% assign nextlink = links[forloop.index] %}
    {% endif %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

{% if prevlink and nextlink %}

  <nav aria-label="Browse Exhibit Objects">
  <ul class="pagination pagination-lg justify-content-center">
    <li class="page-item">
      <a href='{{ prevlink | absolute_url }}' display='none' aria-hidden='true'>
        <div class='page-link' aria-label='Previous'>
          <span class="sr-only">Previous</span>
          &#8249;
        </div>
      </a>
    </li>
    <li class="page-item">
      <a href='{{ nextlink | absolute_url }}' display='none' aria-hidden='true'>
        <div class='page-link' aria-label='Next'>
          <span class="sr-only">Next</span>
          &#8250;
        </div>
      </a>
    </li>
  </ul>
  </nav>

{% endif %}
